/* XS + S */
@media only screen and (max-width:979px) {
.cpe-input {
	min-width:auto!important;
}


.main .page-wrapper {
	width:100%!important;
}

.mpisto-2018 .mpisto-content, .mpisto-2018 footer.mpisto-footer, .mpisto-2018 .mpisto-editors-content, .mpisto-2018 .lightbox, .mpisto-2018 .mpisto-options-content, .mpisto-2018 header.mpisto-navbar .mpisto-navbar-wrapper, .mpisto-2018 header.mpisto-global-navigation .mpisto-global-navigation-wrapper {
	min-width:calc(360px - var(--global-nav-size) - var(--scrollbar-width));
}

.mpisto-userpages-header .mpisto-profile-masthead hgroup .cpe-button {
	padding-left:12px;
	padding-right:12px;
}

.mpisto-content .mpisto-title {
	font-size:35px;
	-webkit-text-stroke-width:1.25px;
}

.mpisto-option-way h1 {
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}


.editor-header h1 {
	font-size:14px;
}

.editor-header h2 {
	font-size:18px;
}


.options pre {
	white-space:pre-wrap;
}

.mpisto-userpages-header .mpisto-profile-masthead hgroup h1 {
	font-size:30px;
}

.mpisto-userpages-header .mpisto-profile-masthead hgroup h2 {
	font-size:22px;
}

.mpisto-userpages-header .mpisto-profile-masthead hgroup .aka {
	font-size:15px;
}

.mpisto-grooze .desktop-wiki {
overflow-x:hidden;
}

header.mpisto-navbar .cpe-button.cpe-is-secondary {
padding-left:12px;
padding-right:12px;
}

/*.mpisto-content {
padding-left:24px;
padding-right:24px;
}
*/


label {
	font-size:16px;
}

.fieldset fieldset legend,
.fieldset > fieldset > h2 {
	font-size:20px;
}

.fieldset fieldset legend .cpe-icon,
.fieldset > fieldset > h2 .cpe-icon {
	margin-right:4px;
	width:24px;
	height:24px;
	min-width:24px;
	min-height:24px
}


.mpisto-option-way .store-cards .store-card {
	font-size:13px;
}

footer.mpisto-footer .mpisto-wrapper .mpisto-footer-container th.mpisto-footer-bar h3 {
font-size:14px;
}

header.mpisto-navbar .wiki {
display:none!important;
}

header.mpisto-navbar .cpe-list.cpe-is-linked > li.create-wiki-small {
display:flex!important;
}

footer.mpisto-footer .mpisto-wrapper .mpisto-footer-container td {
padding:2px 4px 4px;
font-size:14px;
}

.mpisto-right-pane .mpisto-right-pane-wrapper {
-moz-column-count:2;
-webkit-column-count:2;
column-count:2;
}

.mpisto-article-wrapper .mpisto-left-pane {
width:100%;
}

.mpisto-right-pane, .constructor .mpisto-wrapper .mpisto-right-pane, .mpisto-editors-content  .mpisto-right-pane, .mpisto-editors-content .mpisto-wrapper .mpisto-article-wrapper .mpisto-right-pane {
width:auto;
}

.mpisto-wrapper .mpisto-article-wrapper {
  flex-wrap:nowrap;
  flex-direction:column;
}

.editor-header {
flex-wrap:wrap;
height:auto;
width:100%;
}

.editor-header * {
  margin-bottom:1px;
  margin-top:1px;
}


.mpisto-userpages-header .mpisto-profile-masthead header {
	flex-direction:column;
}

.mpisto-userpages-header .mpisto-profile-masthead section {
	width:100%!important;
	flex:none!important;
}


.log-in-form .cpe-button span {
	display:none!important;
}

.log-in-form .cpe-button svg {
	margin:0!important;
}

.preview-window-desk {
	grid: auto-flow / repeat(1, 1fr);
	width:300px;
}

.mpisto-option-way {
	--max-pic-width:300px;
}

 .mpisto-wiki-wizard-content .mpisto-wiki-wizard-steps .option-link {
font-size:18px;
}




.mpisto-content, footer.mpisto-footer .mpisto-wrapper, .mpisto-editors-content, .mpisto-options-content, .top-gap, .top-gap .cpe-banner-notification__container#floatingbanner  {
  width:calc(665px - var(--global-nav-size) - var(--scrollbar-width));
}

.mpisto-option-pane .option-link span {
	display:none;
}

.mpisto-option-pane {
	min-width:20px;
}

.mpisto-option-pane h1 {
	font-size:10px;
}

.mpisto-option-way h1 {
	font-size:26px;
	-webkit-text-stroke-width:1.22px;
}

}

/* M */
@media only screen and (min-width:980px) and (max-width:1279px) {
/*.mpisto-content {
padding-left:10px;
padding-right:10px;
}
*/



.mpisto-option-pane {
	min-width:230px;
}


.mpisto-option-way {
	--max-pic-width:330px;
}

.option-link {
	font-size:17px;
}

.mpisto-option-pane h1 {
	font-size:30px;
}


.mpisto-content, header.mpisto-navbar .mpisto-navbar-wrapper, footer.mpisto-footer .mpisto-wrapper, .mpisto-editors-content, .mpisto-options-content, .main .page-wrapper, .top-gap, .top-gap .cpe-banner-notification__container#floatingbanner  /*.lightbox */ {
width:calc(940px - var(--global-nav-size) - var(--scrollbar-width));
}

.basicp .color-header .title, .modernp.pane-on .color-header .title {
	font-size:20px;
}


.mpisto-userpages-header .mpisto-profile-masthead .left-pane {
	width:50%;
}

.mpisto-userpages-header .mpisto-profile-masthead .right-pane {
	width:50%;
}



}

/* S + M */
@media only screen and (max-width:1279px) {
footer.mpisto-footer .mpisto-wrapper .mpisto-footer-container td h2 {
font-size:20px;
}


footer.mpisto-footer .mpisto-wrapper .mpisto-footer-container th h1 {
font-size:28px;
}




.sourceon .article-area {
-webkit-column-count:1;
column-count:1;
}

.mpisto-userpages-header .mpisto-userpages-main {
		display:block;
}

.mpisto-userpages-header .mpisto-userpages-main .mpisto-avatar {
	margin:0 auto;
	display:block;
	border-bottom-width:0;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	
}

.mpisto-userpages-header .mpisto-profile-masthead {
	margin-left:0;

}

}

/* M + L */
@media only screen and (min-width:980px) {
.basicp .mpisto-header-container .wordmark, .modernp.pane-on .mpisto-header-container .wordmark {
	display:none!important
}
}


