/* XS */
@media only screen and (max-width:749px) {
	.mpisto-page-header-contribution-buttons .cpe-button-group > li > .cpe-button,
	.mpisto-page-header-contribution-buttons .cpe-button-group > .cpe-dropdown > .cpe-button {
		padding-left:8px;
		padding-right:8px;
	}

	/* Small Phones */
	@media only screen and (max-width:359px) {


		.pageheader-search .cpe-input {
			width:166px;
		}
		
		.mobile-header .counter .cpe-icon {
			display:inline-block;
			vertical-align:middle;
		}

		.mobile-header .counter .text {
			display:none;
		}
		
		.mobile-header .counters {
			font-size:10px;
		}
		.mobile-header .title {
			font-size:18px;
		}
		.mobile-header .buttons .link, 
		.mobile-header .buttons .cpe-dropdown .link {
			padding-left:0px;
			padding-right:0px;
		}

		.mpisto-personal-links {
			--toolbar-link-size:calc(var(--sticky-nav-size) / 2);
		}

		.mpisto-personal-links .link .cpe-icon {
			--icon-size:0.8;
		}

	}
	
	/* Medium Phones */
	@media only screen and (min-width:360px) and (max-width:404px) {		

		.mobile-header .counters {
			font-size:12px;
		}
		.mobile-header .title {
			font-size:20px;
		}
		.mobile-header .buttons .link, 
		.mobile-header .buttons .cpe-dropdown .link {
			padding-left:0px;
			padding-right:0px;
		}

		.mpisto-personal-links {
			--toolbar-link-size:calc(var(--sticky-nav-size) / 1.75);
		}
		
		.mpisto-personal-links .link .cpe-icon {
			--icon-size:0.9;
		}

	}

	/* Large Phones */
	@media only screen and (min-width:405px) {
		.mpisto-personal-links {
			--toolbar-link-size:calc(var(--sticky-nav-size) / 1.5);
		}
	}

	/* All Phones */
	.mpisto-page-header-contribution-buttons .cpe-button-group > li > .cpe-button,
	.mpisto-page-header-contribution-buttons .cpe-button-group > .cpe-dropdown > .cpe-button {
		font-size:0;
	}
		
	.mpisto-page-header-contribution-buttons .cpe-button-group > li > .cpe-button > .cpe-icon.margined,
	.mpisto-page-header-contribution-buttons .cpe-button-group > .cpe-dropdown > .cpe-button > .cpe-icon.margined {
		margin:0;
	}

	#ca-ve-edit {
		display:none;
	}
	
	.mpisto-article {
		padding-left:0;
		padding-right:0;
	}
	


	body {
		scrollbar-width:thin;
		scrollbar-color:var(--sticky-header-background-color) var(--page-background-color);
		--scrollbar-width:0px!important;
		--header-size:185px;
	}

	.phone ::-webkit-scrollbar {
		display:none!important;
	}

	body .oo-ui-buttonElement > .oo-ui-buttonElement-button, body .mw-ui-button {
		white-space:pre-wrap;
	}

	body .mw-rcfilters-ui-itemMenuOptionWidget-label-desc, body .mw-rcfilters-ui-filterMenuOptionWidget.oo-ui-flaggedElement-muted .mw-rcfilters-ui-itemMenuOptionWidget-label-title, body .mw-rcfilters-ui-filterMenuOptionWidget.oo-ui-flaggedElement-muted .mw-rcfilters-ui-itemMenuOptionWidget-label-desc {
		font-size:13px;
	}

	.thumbinner {
		width:100%!important;
		box-sizing:border-box;
	}

	div.thumb {
		width:100%!important;
	}

	.mpisto-page-header {
		margin-top:-1px;
	}

	.mpisto-page-header .mpisto-page-header-title,
	.mpisto-userpages-header {
		border-radius:0;
	}

	.mpisto-artilcle ol,
	.mpisto-article ul {
		margin-left:2em;
	}

	container > main .mpisto-sticky-header-container {
		--sticky-nav-size:0px!important;
		display:none!important;
	}

	.mpisto-personal-links .link.toggle-size {
		display:none!important;
	}


	.mpisto-content, footer.mpisto-footer .mpisto-wrapper, .mpisto-editors-content, .mpisto-options-content, .main .page-wrapper, .top-gap, .top-gap .cpe-banner-notification__container#floatingbanner  /*.lightbox */ {
	  width:100%!important;
	  border-color:transparent!Important;
	  border-width:0!important;
	  margin-top:0!important;
	  margin-bottom:0!important;
	  min-width:0px;
	  border-radius:0!important;
	}
	
	.mpisto-header-container {
	  border-radius:0!important;
	}

	.mpisto-content .mpisto-wrapper {
		border-color:transparent!important;
	}

	.mpisto-content .mpisto-page-header-title {
		border-bottom-color:transparent;
	}

	.lightbox {
		margin:0;
	}

	.mpisto-page-header-contribution-buttons .cpe-button {
		margin-bottom:4px;
	}

	.mpisto-userpages-header .mpisto-profile-masthead hgroup .cpe-button span {
		display:none;
	}

	.mpisto-userpages-header .mpisto-profile-masthead hgroup .cpe-button .cpe-icon {
		margin:0;
	}

	.top-gap {
		margin:0!Important;
		
	}

	.fieldset {
		padding:5px;
	}

	/*
	label {
		font-size:15px;
	}
	*/



	.mpisto-userpages-header .mpisto-profile-masthead section .cpe-button span {
		display:none;
	}


	.mpisto-userpages-header .mpisto-profile-masthead section .cpe-button .cpe-icon.single-icon {
		margin:auto!Important;
	}

	.mpisto-userpages-actions .user-actions {
		clear:both;
	}

	.mpisto-userpages-tabs .user-actions .cpe-button span {
		display:none;
	}

	.mpisto-userpages-tabs .user-actions .cpe-button svg {
		margin:0!important;
	}

	.mpisto-userpages-header .mpisto-userpages-main .mpisto-avatar {
		width:64px;
		border-width:3px;
	}


}

/* S */
@media only screen and (max-width:959px) {
	.cpe-input {
		min-width:auto!important;
	}

	.mpisto-article {
		overflow-x:auto;
	}


	.main .page-wrapper {
		width:100%!important;
	}

	.mpisto-2018 .mpisto-content, .mpisto-2018 footer.mpisto-footer, .mpisto-2018 .mpisto-editors-content, .mpisto-2018 .lightbox, .mpisto-2018 .mpisto-options-content, .mpisto-2018 header.mpisto-navbar .mpisto-navbar-wrapper, .mpisto-2018 header.mpisto-global-navigation .mpisto-global-navigation-wrapper {
		min-width:calc(315px - var(--global-nav-size) - var(--scrollbar-width));
	}

	.mpisto-userpages-header .mpisto-profile-masthead hgroup .cpe-button {
		padding-left:12px;
		padding-right:12px;
	}

	.mpisto-content .mpisto-title {
		font-size:36px; /* 2.4lol */
/*		-webkit-text-stroke-width:1px; */
	}


	.mpisto-userpages-header .mpisto-profile-masthead hgroup h1 {
		font-size:30px;
	}

	.mpisto-userpages-header .mpisto-profile-masthead hgroup h2 {
		font-size:22px;
	}

	.mpisto-userpages-header .mpisto-profile-masthead hgroup .aka {
		font-size:15px;
	}


	/*.mpisto-content {
	padding-left:24px;
	padding-right:24px;
	}
	*/

	/*
	label {
		font-size:16px;
	}
	*/

	.fieldset fieldset legend,
	.fieldset > fieldset > h2 {
		font-size:20px;
	}

	.fieldset fieldset legend .cpe-icon,
	.fieldset > fieldset > h2 .cpe-icon {
		margin-right:4px;
		width:24px;
		height:24px;
		min-width:24px;
		min-height:24px
	}




	.mpisto-article-wrapper .mpisto-left-pane {
	width:100%;
	}


	.mpisto-wrapper .mpisto-article-wrapper {
	  flex-wrap:nowrap;
	  flex-direction:column;
	}


	.mpisto-right-pane {
		padding:10px 0;
	}

	.mpisto-right-pane .mpisto-module {
		width:100%;
	}

	.mpisto-userpages-header .mpisto-profile-masthead header {
		flex-direction:column;
	}

	.mpisto-userpages-header .mpisto-profile-masthead section {
		width:100%!important;
		flex:none!important;
	}



	body {
		--breakpoint-size:750px;
	}
}

/* M */
@media only screen and (min-width:960px) and (max-width:1199px) {
	/*.mpisto-content {
	padding-left:10px;
	padding-right:10px;
	}
	*/



	body {
		--breakpoint-size:960px;
	}


	.mpisto-userpages-header .mpisto-profile-masthead .left-pane {
		width:50%;
	}

	.mpisto-userpages-header .mpisto-profile-masthead .right-pane {
		width:50%;
	}

}

/* S + M */
@media only screen and (max-width:1279px) {
	.mpisto-userpages-header .mpisto-userpages-main {
			display:block;
	}

	.mpisto-userpages-header .mpisto-userpages-main .mpisto-avatar {
		margin:0 auto;
		display:block;
		border-bottom-width:0;
		border-bottom-left-radius:0;
		border-bottom-right-radius:0;
		
	}

	.mpisto-userpages-header .mpisto-profile-masthead {
		margin-left:0;

	}

}


/* XL */
@media only screen and (min-width:1440px) and (max-width:1919px) {
	/*.mpisto-content {
	padding-left:30px;
	padding-right:30px;
	}
	*/

	body {
		--breakpoint-size:1440px;
	}

	.mpisto-content .mpisto-title {
		font-size:42px; /* 3lol */
/*		-webkit-text-stroke-width:1.6px; */
	}


	.mpisto-article h1 {
	font-size:30px; /* 2lol */
	}

	.mpisto-article h2 {
	font-size:24px; /* 1.6lol */
	}

	.mpisto-article h3 {
	font-size:21px; /* 1.4lol */
	}

	.mpisto-article h4 {
	font-size:18px; /* 1.2lol */
	}

	.mpisto-article h5 {
	font-size:15px; /* 1lol */
	}

	.mpisto-article h6 {
	font-size:12px; /* 0.8lol */
	}

	.mpisto-article {
		font-size:16px;
	}

	.mpisto-content .mpisto-sub {
		font-size:14px; /* 1lol */
	}


	/*
	label {
		font-size:24px;
	}
	*/

	.fieldset fieldset legend,
	.fieldset > fieldset > h2 {
		font-size:28px;
	}

	.fieldset fieldset legend .cpe-icon,
	.fieldset > fieldset > h2 .cpe-icon {
		margin-right:6px;
		width:32px;
		height:32px;
		min-width:32px;
		min-height:32px
	}

}


/* XXL */
@media only screen and (min-width:1920px) {
	/*.mpisto-content {
	padding-left:30px;
	padding-right:30px;
	}
	*/

	body {
		--breakpoint-size:1920px;
	}

	.mpisto-content .mpisto-title {
		font-size:45px; /* 3lol */
/*		-webkit-text-stroke-width:1.6px; */
	}


	.mpisto-article h1 {
	font-size:33px; /* 2lol */
	}

	.mpisto-article h2 {
	font-size:27px; /* 1.6lol */
	}

	.mpisto-article h3 {
	font-size:24px; /* 1.4lol */
	}

	.mpisto-article h4 {
	font-size:21px; /* 1.2lol */
	}

	.mpisto-article h5 {
	font-size:18px; /* 1lol */
	}

	.mpisto-article h6 {
	font-size:15px; /* 0.8lol */
	}

	.mpisto-article {
		font-size:19px;
	}

	.mpisto-content .mpisto-sub {
		font-size:17px; /* 1lol */
	}


	/*
	label {
		font-size:24px;
	}
	*/

	.fieldset fieldset legend,
	.fieldset > fieldset > h2 {
		font-size:35px;
	}

	.fieldset fieldset legend .cpe-icon,
	.fieldset > fieldset > h2 .cpe-icon {
		margin-right:7px;
		width:40px;
		height:40px;
		min-width:40px;
		min-height:40px
	}

}
