/* XS */
@media only screen and (max-width:704px) {
	.mpisto-page-header-contribution-buttons .cpe-button-group > li > .cpe-button,
	.mpisto-page-header-contribution-buttons .cpe-button-group > .cpe-dropdown > .cpe-button {
		padding-left:8px;
		padding-right:8px;
	}

	/* Small Phones */
	@media only screen and (max-width:374px) {
	
		.mobile-header .counters {
			font-size:12px;
		}
		.mobile-header .title {
			font-size:20px;
		}
		.mobile-header .buttons .link, 
		.mobile-header .buttons .cpe-dropdown .link {
			padding-left:0px;
			padding-right:0px;
		}
		
	}
	
	/* Medium Phones */
	@media only screen and (max-width:424px) {		

		.mpisto-global-navigation {
			display:none;
		}

		.body-community-background,
		.gradient-overlay,
		.gradient-overlay-2 {
			--extra-size:0px;
			top:var(--global-nav-size);
			height:calc(100% - var(--global-nav-size));
		}

		.mpisto-wikispace {
			--wikispace-padding:0;
		}


	}



	.mpisto-page-header-contribution-buttons .cpe-button-group > li > .cpe-button,
	.mpisto-page-header-contribution-buttons .cpe-button-group > .cpe-dropdown > .cpe-button {
		font-size:0;
	}
		
	.mpisto-page-header-contribution-buttons .cpe-button-group > li > .cpe-button > .cpe-icon.margined,
	.mpisto-page-header-contribution-buttons .cpe-button-group > .cpe-dropdown > .cpe-button > .cpe-icon.margined {
		margin:0;
	}

	
	container {
		overflow-x:hidden;
	}

	#ca-ve-edit {
		display:none;
	}
	
	.mpisto-article {
		padding-left:0;
		padding-right:0;
	}
	


	body {
		scrollbar-width:thin;
		scrollbar-color:var(--sticky-header-background-color) var(--page-background-color);
		--scrollbar-width:0px!important;
		--header-size:190px;
	}

	contanier {
		overflow-x:hidden;
	}

	.phone ::-webkit-scrollbar {
		display:none!important;
	}

	body .oo-ui-buttonElement > .oo-ui-buttonElement-button, body .mw-ui-button {
		white-space:pre-wrap;
	}

	body .mw-rcfilters-ui-itemMenuOptionWidget-label-desc, body .mw-rcfilters-ui-filterMenuOptionWidget.oo-ui-flaggedElement-muted .mw-rcfilters-ui-itemMenuOptionWidget-label-title, body .mw-rcfilters-ui-filterMenuOptionWidget.oo-ui-flaggedElement-muted .mw-rcfilters-ui-itemMenuOptionWidget-label-desc {
		font-size:13px;
	}

	.thumbinner {
		width:100%!important;
		box-sizing:border-box;
	}

	div.thumb {
		width:100%!important;
	}

	.mpisto-page-header {
		margin-top:-1px;
	}

	.mpisto-page-header .mpisto-page-header-title,
	.mpisto-userpages-header {
		border-radius:0;
	}

	.mpisto-artilcle ol,
	.mpisto-article ul {
		margin-left:2em;
	}

	container > main .mpisto-sticky-header-container {
		--sticky-nav-size:0px!important;
		display:none!important;
	}

	.mpisto-personal-links .link.toggle-size {
		display:none!important;
	}


	.mpisto-content, footer.mpisto-footer .mpisto-wrapper, .mpisto-editors-content, .mpisto-options-content, .main .page-wrapper, .top-gap, .top-gap .cpe-banner-notification__container#floatingbanner  /*.lightbox */ {
	  width:100%!important;
	  border-color:transparent!Important;
	  border-width:0!important;
	  margin-top:0!important;
	  margin-bottom:0!important;
	  min-width:0px;
	  border-radius:0!important;
	}

	.mpisto-personal-links .upper-links .link {
		width:calc(var(--sticky-nav-size) / 1.5);
	}

	.mpisto-header-container {
	  border-radius:0!important;
	}

	.mpisto-content .mpisto-wrapper {
		border-color:transparent!important;
	}

	.mpisto-content .mpisto-page-header-title {
		border-bottom-color:transparent;
	}

	.lightbox {
		margin:0;
	}

	.mpisto-page-header-contribution-buttons .cpe-button {
		margin-bottom:4px;
	}

	.mpisto-userpages-header .mpisto-profile-masthead hgroup .cpe-button span {
		display:none;
	}

	.mpisto-userpages-header .mpisto-profile-masthead hgroup .cpe-button .cpe-icon {
		margin:0;
	}

	.top-gap {
		margin:0!Important;
		
	}

	.fieldset {
		padding:5px;
	}

	/*
	label {
		font-size:15px;
	}
	*/



	.mpisto-userpages-header .mpisto-profile-masthead section .cpe-button span {
		display:none;
	}


	.mpisto-userpages-header .mpisto-profile-masthead section .cpe-button .cpe-icon.single-icon {
		margin:auto!Important;
	}

	.mpisto-userpages-actions .user-actions {
		clear:both;
	}

	.mpisto-userpages-tabs .user-actions .cpe-button span {
		display:none;
	}

	.mpisto-userpages-tabs .user-actions .cpe-button svg {
		margin:0!important;
	}

	.mpisto-userpages-header .mpisto-userpages-main .mpisto-avatar {
		width:64px;
		border-width:3px;
	}


}

/* S */
@media only screen and (max-width:979px) {
	.cpe-input {
		min-width:auto!important;
	}

	.mpisto-article {
		overflow-x:auto;
	}


	.main .page-wrapper {
		width:100%!important;
	}

	.mpisto-2018 .mpisto-content, .mpisto-2018 footer.mpisto-footer, .mpisto-2018 .mpisto-editors-content, .mpisto-2018 .lightbox, .mpisto-2018 .mpisto-options-content, .mpisto-2018 header.mpisto-navbar .mpisto-navbar-wrapper, .mpisto-2018 header.mpisto-global-navigation .mpisto-global-navigation-wrapper {
		min-width:calc(360px - var(--global-nav-size) - var(--scrollbar-width));
	}

	.mpisto-userpages-header .mpisto-profile-masthead hgroup .cpe-button {
		padding-left:12px;
		padding-right:12px;
	}

	.mpisto-content .mpisto-title {
		font-size:32px;
/*		-webkit-text-stroke-width:1px; */
	}


	.mpisto-userpages-header .mpisto-profile-masthead hgroup h1 {
		font-size:30px;
	}

	.mpisto-userpages-header .mpisto-profile-masthead hgroup h2 {
		font-size:22px;
	}

	.mpisto-userpages-header .mpisto-profile-masthead hgroup .aka {
		font-size:15px;
	}


	/*.mpisto-content {
	padding-left:24px;
	padding-right:24px;
	}
	*/

	/*
	label {
		font-size:16px;
	}
	*/

	.fieldset fieldset legend,
	.fieldset > fieldset > h2 {
		font-size:20px;
	}

	.fieldset fieldset legend .cpe-icon,
	.fieldset > fieldset > h2 .cpe-icon {
		margin-right:4px;
		width:24px;
		height:24px;
		min-width:24px;
		min-height:24px
	}




	.mpisto-article-wrapper .mpisto-left-pane {
	width:100%;
	}


	.mpisto-wrapper .mpisto-article-wrapper {
	  flex-wrap:nowrap;
	  flex-direction:column;
	}


	.mpisto-right-pane {
		padding:10px 0;
	}

	.mpisto-right-pane .mpisto-module {
		width:100%;
	}

	.mpisto-userpages-header .mpisto-profile-masthead header {
		flex-direction:column;
	}

	.mpisto-userpages-header .mpisto-profile-masthead section {
		width:100%!important;
		flex:none!important;
	}



	.mpisto-content, footer.mpisto-footer .mpisto-wrapper, .mpisto-editors-content, .mpisto-options-content, .top-gap, .top-gap .cpe-banner-notification__container#floatingbanner  {
	  width:calc(665px - var(--global-nav-size) - var(--scrollbar-width));
	}

}

/* M */
@media only screen and (min-width:980px) and (max-width:1279px) {
	/*.mpisto-content {
	padding-left:10px;
	padding-right:10px;
	}
	*/



	.mpisto-content, header.mpisto-navbar .mpisto-navbar-wrapper, footer.mpisto-footer .mpisto-wrapper, .mpisto-editors-content, .mpisto-options-content, .main .page-wrapper, .top-gap, .top-gap .cpe-banner-notification__container#floatingbanner  /*.lightbox */ {
	width:calc(940px - var(--global-nav-size) - var(--scrollbar-width));
	}


	.mpisto-userpages-header .mpisto-profile-masthead .left-pane {
		width:50%;
	}

	.mpisto-userpages-header .mpisto-profile-masthead .right-pane {
		width:50%;
	}

}

/* S + M */
@media only screen and (max-width:1279px) {
	.mpisto-userpages-header .mpisto-userpages-main {
			display:block;
	}

	.mpisto-userpages-header .mpisto-userpages-main .mpisto-avatar {
		margin:0 auto;
		display:block;
		border-bottom-width:0;
		border-bottom-left-radius:0;
		border-bottom-right-radius:0;
		
	}

	.mpisto-userpages-header .mpisto-profile-masthead {
		margin-left:0;

	}

}


/* XL */
@media only screen and (min-width:1500px) {
	/*.mpisto-content {
	padding-left:30px;
	padding-right:30px;
	}
	*/

	.mpisto-content, header.mpisto-navbar .mpisto-navbar-wrapper, footer.mpisto-footer .mpisto-wrapper, .mpisto-editors-content, .mpisto-options-content, .main .page-wrapper, .top-gap, .top-gap .cpe-banner-notification__container#floatingbanner  /*.lightbox*/ {
	width:calc(1460px - var(--global-nav-size) - var(--scrollbar-width)); /* Was 1146px */
	}

	.mpisto-content .mpisto-title {
		font-size:44px;
/*		-webkit-text-stroke-width:1.6px; */
	}


	.mpisto-article h1 {
	font-size:33px;
	}

	.mpisto-article h2 {
	font-size:24px;
	}

	.mpisto-article h3 {
	font-size:20px;
	}

	.mpisto-article h4 {
	font-size:17px;
	}

	.mpisto-article h5 {
	font-size:14px;
	}

	.mpisto-article h6 {
	font-size:11px;
	}

	.mpisto-article {
		font-size:15px;
	}

	.mpisto-content .mpisto-sub {
		font-size:13px;
	}


	/*
	label {
		font-size:24px;
	}
	*/

	.fieldset fieldset legend,
	.fieldset > fieldset > h2 {
		font-size:28px;
	}

	.fieldset fieldset legend .cpe-icon,
	.fieldset > fieldset > h2 .cpe-icon {
		margin-right:6px;
		width:32px;
		height:32px;
		min-width:32px;
		min-height:32px
	}

}
