/* Styles for the Sevrer Segment */
.server-mode .color-nav,
.server-mode .mobile-header .home-nav,
.home-mode .mobile-header .server-nav,
.server-mode .evelution-sticky-header .local-navigation,
.server-mode .server-off,
html:not(.server-mode) .server-on {
	display:none;
}

.server-mode .evelution-community-header {
	min-height:113px;
}

.server-mode .evelution-community-header .wordmark {
	height:80px;
	margin:12px 0 0 10px;
}

.server-mode .evelution-community-header .wordmark img {
    max-height: 80px;
    max-width: 174px;
}

.evelution-content .evelution-actions {
    display: none;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index:2;
}

.evelution-content .evelution-actions .cpe-floating-button-group {
    padding: 18px 18px 18px 8px;
    position: static;
    position: -webkit-sticky;
    position: sticky;
    top: var(--sticky-nav-size);
}

.server-mode .evelution-content .evelution-actions  {
	display:flex;
}

.server-mode .evelution-content .evelution-title  {
	font-size:33px;
}


/* Responsive Design */
@media only screen and (max-width:749px) {
	.server-mode .evelution-content .evelution-actions  {
		display:none;
	}
}

@media only screen and (min-width:750px) and (max-width:959px) {
	.server-mode .evelution-community-header .wordmark img {
		max-width: 160px;
	}
	.server-mode .evelution-community-header .wordmark {
		height:80px;
		margin-left:10px;
	}
	.server-mode .evelution-content, .server-mode .top-gap {
		width:100%!important;
	}

	.server-mode .evelution-floating-actions .cpe-floating-button.toggle-size {
		display:none!important;
	}
	
	.server-mode .evelution-floating-actions {
		transform:none;
	}

	.server-mode .evelution-content .evelution-article-wrapper .evelution-article-container {
		--content-padding:38px;
	}


}

@media only screen and (min-width:1440px) {
	.server-mode .evelution-content .evelution-title  {
		font-size:41px;
	}
}