.theme-A[visualcolors="standard"] {
--community-background-image:url("Cubes1.png");
--community-background-color:#767676;
--community-background-size:contain;
--anchor-background-color:#562c05;
--page-background-color:#ffffff;
--page-border-background-color:#6e6e6e;
--page-text-background-color:#3a3a3a;
--accent-background-color:#4c4a48;
--sticky-header-background-color:#e2e2e2;
--toolbar-background-color:#ababab;
}

.theme-B[visualcolors="standard"] {
--community-background-image:url("Cubes2.png");
--community-background-color:#a13bc9;
--community-background-size:contain;
--anchor-background-color:#8b12ae;
--page-background-color:#d9cfe5;
--page-border-background-color:#800080;
--page-text-background-color:#3a3a3a;
--accent-background-color:#8e8cd8;
--sticky-header-background-color:#6b69d6;
--toolbar-background-color:#7e73a5;
}

.theme-C[visualcolors="standard"] {
--community-background-image:url("Cubes3.png");
--community-background-color:#000000;
--community-background-size:contain;
--anchor-background-color:#c0c0c0;
--page-background-color:#000000;
--page-border-background-color:#6e6e6e;
--page-text-background-color:#e6e6e6;
--accent-background-color:#4a5459;
--sticky-header-background-color:#4a5459;
--toolbar-background-color:#879289;
}

.theme-D[visualcolors="standard"] {
--community-background-image:url("Cubes4.png");
--community-background-color:#180052;
--community-background-size:contain;
--anchor-background-color:#02abea;
--page-background-color:#0a3b76;
--page-border-background-color:#008080;
--page-text-background-color:#e6e6e6;
--accent-background-color:#0063b1;
--sticky-header-background-color:#0078d7;
--toolbar-background-color:#576dcd;
}

/** Font Overrides **/
:root {
--foreign-fonts:"";
--secondary-foreign-fonts:"";
--max-width:2560px;
}


body { 
  --cpe-body-cursor:auto!important;
  --cpe-auto-cursor: default!important;
  --cpe-blocked-cursor:not-allowed!important;
  --cpe-help-cursor:help!important;
  --cpe-text-cursor:text!important;
  --cpe-hand-cursor:pointer!important;
	--global-nav-size:50px;
	--sticky-nav-size:50px;
	--breakpoint-size:1200px;
/*font-family:Source Sans Pro, "Trebuchet MS", "Prompt",  "M PLUS 1p", "Gothic A1", sans-serif;
*/
border-radius:1px; /* mInerva and some other browsers do not render local attachment without this */
overscroll-behavior:none;
position:relative;
text-rendering:optimizeSpeed;
-webkit-font-smoothing:antialised;
-moz-osx-font-smoothing:grayscale;
touch-action:manipulation;
font-weight:500;
z-index:2;
/* text-shadow:0 0 1px rgba(0,0,0,0.1),0 0 1px rgba(255,255,255,0.1);  Partially Embolding */

/*text-shadow:0 0 1px rgba(255,0,0,0.1), 0 0 1px rgba(0,255,0,0.1), 0 0 1px rgba(0,0,255,0.1), 0 0 1px rgba(255,255,0,0.1), 0 0 1px rgba(255,0,255,0.1), 0 0 1px rgba(0,255,255,0.1), 0 0 1px rgba(0,0,0,0.1), 0 0 1px rgba(255,255,255,0.1); */
}


body .mw-parser-output a.extiw, 
body .mw-parser-output a.external,
body .mw-parser-output a.extiw:visited, 
body .mw-parser-output a.external:visited,
body .toctogglelabel {
color:rgb(var(--anchor-background-color-rgb));
}

body .mw-parser-output a.extiw:hover, 
body .mw-parser-output a.external:hover,
body .mw-parser-output a.extiw:visited:hover, 
body .mw-parser-output a.external:visited:hover,
body .toctogglelabel:hover {
color:var(--article-link-background-color-hover);
}



.evelution-article a.new,
.evelution-article a.new:visited,
.evelution-module-content a.new,
.evelution-module-content a.new:visited,
body .mw-parser-output a.new.extiw, 
body .mw-parser-output a.new.external {
color:var(--alert-background-color);
}

.evelution-article a.new:hover,
.evelution-article a.new:visited:hover,
.evelution-module-content a.new:hover,
.evelution-module-content a.new:visited:hover,
body .mw-parser-output a.new.extiw:hover, 
body .mw-parser-output a.new.external:hover {
color:var(--article-new-link-background-color-hover);
}


body .tocnumber {
	color:var(--page-text-background-color);
}

body {
	min-width:315px;
}

@media only screen and (max-width:319px) {
	body {
		overflow-x:auto!important;
		overflow-y:hidden!important;
	}
}

container h1,
container h2,
container h3,
container h4,
container h5,
container h6 {
padding:0;
margin:8px 0;
font-style:inherit;
font-weight:inherit;
border:0;
color:inherit;
}


body pre, body code, body .mw-code {
background-color:var(--page-secondary-background-color);
color:var(--page-text-background-color);
border:1px dashed var(--anchor-background-color);
padding:2.5px;
border-radius:var(--border-radius);
-webkit-box-decoration-break:clone;
box-decoration-break:clone;
font-size:95%;
scrollbar-width:thin;
white-space:pre-wrap;
}

/*
.error:not(.cpe-button), .alert:not(.cpe-button), .success:not(.cpe-button), .info:not(.cpe-button) {
border-width:1px;
border-style:solid;
}

.alert:not(.cpe-button) {
border-color:var(--alert-gradient-color-hover)!important;
}

.warning:not(.cpe-button) {
border-color:var(--warning-gradient-color-hover)!important;
}

.success:not(.cpe-button) {
border-color:var(--success-gradient-color-hover)!important;
}

.message:not(.cpe-button) {
border-color:var(--message-gradient-color-hover)!important;
}
*/
.options container,
.wiki-wizard container {
	overflow:hidden;
}


container {
	overflow-x:hidden;
}

*,:before,:after {
box-sizing:border-box;
outline:0;
resize:none;
-webkit-tap-highlight-color:rgba(0,0,0,0);
  image-rendering:optimizeSpeed;             /* Legal fallback */
  image-rendering:-moz-crisp-edges;          /* Firefox        */
  image-rendering:-o-crisp-edges;            /* Opera          */
  image-rendering:-webkit-optimize-contrast; /* Safari         */
  image-rendering:optimize-contrast;         /* CSS3 Proposed  */
  image-rendering:pixelated;                 /* CSS4 Proposed  */
  image-rendering:crisp-edges;               /* CSS4 Proposed  */
}

.pixelatedoff *, .pixelatedoff {
  image-rendering:initial;                  /* CSS4 Proposed  */
  }
  

/* Global Navigation */
container > main {
	display:flex;
	flex-direction:row;
	width:100%;
	position:absolute;
	top:0;
	--wikispace-padding:var(--global-nav-size);
	padding-left:var(--wikispace-padding);
}

.evelution-wikispace {
	width:100%;
	color:var(--page-text-background-color);
	display:flex;
	flex-direction:column;
}

.evelution-sidebar {
	--global-nav-color:var(--page-background-color);
	--global-nav-text-color:var(--page-text-background-color);
	--global-nav-link-color-hover:var(--page-text-background-color-hover);
	--global-nav-link-color-active:rgba(var(--page-text-background-color-active-rgb),1);
	--global-nav-link-background-active:var(--page-background-color-hover-rgb);
	--global-nav-link-opacity:0.4;
	--global-nav-opacity:1;
	display:flex;
	flex-direction:column;
	font-family:"Source Sans Pro", var(--font-family);
	background-color:var(--global-nav-color);
	color:var(--global-nav-text-color);
	box-shadow: 0 0 3px var(--page-text-background-color), 0 0 3px var(--page-background-color);
	height:100%;
	width:var(--global-nav-size) ;
	position:-webkit-sticky;
	position:sticky;
	z-index:100;
	top:0;
}


.cpe-list li + li.empty {
	display:none;
}

.serif.main .evelution-sidebar { /* Deprecated */
	font-family:"Source Serif Pro", var(--foreign-fonts), cursive;
}

.evelution-sidebar .cpe-dropdown {
	vertical-align:baseline;
}


.evelution-sidebar #pt-anonuserpage {
	display:none;
}

.evelution-sidebar .upper-links {
	flex:1;
	display:flex;
	flex-direction:column;
}

.evelution-sidebar .bottom-links {
	display:flex;
	flex-direction:column;
}


.evelution-sidebar .variants-menu.cpe-dropdown[cpe-orient*="land"] .cpe-dropdown__content,
.evelution-sidebar .languages-menu.cpe-dropdown[cpe-orient*="land"] .cpe-dropdown__content {
	top:-60%;
}

.evelution-sidebar .variants-menu.cpe-dropdown[cpe-orient*="land"] .cpe-dropdown__content .cpe-list,
.evelution-sidebar .languages-menu.cpe-dropdown[cpe-orient*="land"] .cpe-dropdown__content .cpe-list {
	max-height:200px;
}

.evelution-sidebar .search.cpe-dropdown[cpe-orient*="land"] .cpe-dropdown__content {
	top:-25%;
}

.evelution-sidebar .themes.cpe-dropdown[cpe-orient*="land"] .cpe-dropdown__content {
	top:-140%;
}


	.evelution-sidebar .link {
		transition:background-color 400ms ease, color 400ms ease, border-color 400ms ease, text-shadow 400ms ease, opacity 300ms ease, padding 300ms ease, max-width 300ms ease, font-size 300ms ease;
		height:var(--global-nav-size);
		width:var(--global-nav-size);
		color:inherit;
		text-decoration:none!important;
		font-size:12px;
		white-space:nowrap;
		position:relative;
		display:flex;
		align-items:center;
		justify-content:center;
		cursor:var(--cpe-hand-cursor);
	}

.evelution-sidebar .link[cpe-tooltip]:hover:before,
.evelution-sidebar .link[cpe-tooltip]:hover:after {
	display:block;
}

.evelution-sidebar .link[cpe-tooltip]:before {
	transform:rotate(-90deg);
	top:calc(25% + 8px);
	bottom:auto;
	left:auto;
	right:-1px;
	content:'';
	display:none;
	height:0;
	width:0;
	position:absolute;
	z-index:100;
	border:8px solid transparent;
	border-bottom-color:var(--page-border-background-color);
	margin-left:-8px;
	pointer-events:none;
}

.evelution-sidebar .link[cpe-tooltip]:after {
	position:absolute;
	display:none;
	content:attr(cpe-tooltip);
	left:calc(100% + 1px);
	top:calc(25% + 5px);
	bottom:auto;
	z-index:99;
	padding:2px;
	font-size:12px;
	border:1px solid var(--page-border-background-color);
	border-radius:calc( var(--border-radius) / 1.5 );
	background-color:var(--page-secondary-background-color);
	color:var(--page-text-background-color);
	box-shadow:0 0 4px 1px rgba(var(--page-text-background-color-rgb), 0.5);
	line-height:17px;
	pointer-events:none;

}

	.evelution-sidebar .link .cpe-icon {
		--icon-size:1.1;
	}

	.evelution-sidebar .link .cpe-icon.cpe-icon-small {
		--icon-size:0.8;
	}


	.evelution-sidebar .link .cpe-icon.cpe-icon-tiny {
		--icon-size:0.6;
	}


	.evelution-sidebar .link:hover {
	color:var(--global-nav-link-color-hover);
	background-color:transparent;
	}

	/*.evelution-sidebar .link:hover *:not([filter]){
		filter:drop-shadow(0 0 2px var(--page-border-background-color));
	}*/

	.evelution-sidebar .link:active, .evelution-sidebar .link:focus, .evelution-sidebar .cpe-dropdown.is-active .link {
		background-color:rgba(var(--global-nav-link-background-active), var(--global-nav-link-opacity));
		color:var(--global-nav-link-color-active);
	}

	.evelution-navigation .explore-menu .link .cpe-icon {
		--icon-rotate:0deg;
	}
	@media only screen and (max-height:374px) { /* Extra Small Icons */
		body {
			--global-nav-size:28px;
		}

		.evelution-navigation .link .cpe-icon {
			--icon-size:0.6;
		}

		.evelution-navigation .link .cpe-icon.cpe-icon-small {
			--icon-size:0.4;
		}


		.evelution-navigation .link .cpe-icon.cpe-icon-tiny {
			--icon-size:0.3;
		}

		.evelution-navigation .search.cpe-dropdown[cpe-orient*="land"] .cpe-dropdown__content {
			top:-80%;
		}

		.evelution-navigation .themes.cpe-dropdown[cpe-orient*="land"] .cpe-dropdown__content {
			top:-400%;
		}

		.evelution-navigation .variants-menu.cpe-dropdown[cpe-orient*="land"] .cpe-dropdown__content .cpe-list,
		.evelution-navigation .languages-menu.cpe-dropdown[cpe-orient*="land"] .cpe-dropdown__content .cpe-list {
			max-height:110px;
		}

	}

	@media only screen and (min-height:375px) and (max-height:459px) { /* Small Icons */
		body {
			--global-nav-size:32px;
		}

		.evelution-navigation .link .cpe-icon {
			--icon-size:0.7;
		}

		.evelution-navigation .link .cpe-icon.cpe-icon-small {
			--icon-size:0.5;
		}


		.evelution-navigation .link .cpe-icon.cpe-icon-tiny {
			--icon-size:0.4;
		}

		.evelution-navigation .search.cpe-dropdown[cpe-orient*="land"] .cpe-dropdown__content {
			top:-65%;
		}

		.evelution-navigation .themes.cpe-dropdown[cpe-orient*="land"] .cpe-dropdown__content {
			top:-340%;
		}

		.evelution-navigation .variants-menu.cpe-dropdown[cpe-orient*="land"] .cpe-dropdown__content .cpe-list,
		.evelution-navigation .languages-menu.cpe-dropdown[cpe-orient*="land"] .cpe-dropdown__content .cpe-list {
			max-height:135px;
		}


	}

	@media only screen and (min-height:460px) and (max-height:599px) { /* Medium Icons */
		body {
			--global-nav-size:40px;
		}
		.evelution-navigation .link .cpe-icon {
			--icon-size:0.9;
		}

		.evelution-navigation .link .cpe-icon.cpe-icon-small {
			--icon-size:0.7;
		}


		.evelution-navigation .link .cpe-icon.cpe-icon-tiny {
			--icon-size:0.5;
		}

		.evelution-navigation .search.cpe-dropdown[cpe-orient*="land"] .cpe-dropdown__content {
			top:-40%;
		}

		.evelution-navigation .themes.cpe-dropdown[cpe-orient*="land"] .cpe-dropdown__content {
			top:-220%;
		}


		.evelution-navigation .variants-menu.cpe-dropdown[cpe-orient*="land"] .cpe-dropdown__content .cpe-list,
		.evelution-navigation .languages-menu.cpe-dropdown[cpe-orient*="land"] .cpe-dropdown__content .cpe-list {
			max-height:165px;
		}

	}

/* Personal Toolbar */
.evelution-toolbox  {
	--global-nav-color:var(--toolbar-background-color);
	--global-nav-text-color:var(--toolbar-foreground-color);
	--global-nav-link-color-hover:var(--toolbar-foreground-color-hover);
	--global-nav-link-color-active:rgba(var(--toolbar-foreground-color-hover-rgb),0.8);
	--global-nav-link-background-active:var(--toolbar-foreground-color-hover-rgb);
	--global-nav-link-opacity:0.2;
	--toolbar-link-size:var(--sticky-nav-size);
	bottom:0;
	top:auto;
	height:var(--sticky-nav-size);
	flex-direction:row;
	z-index:99;
	width:calc(100%);
	transform-origin:bottom;
}

main[toolbar="true"] .evelution-toolbox.col-toolbar,
main[toolbar="false"] .evelution-toolbox.full-toolbar  {
	transform:scaleY(0);
}

.evelution-toolbox.col-toolbar {
	width:var(--toolbar-link-size);
	bottom:var(--sticky-nav-size);
	left:calc(100% - var(--toolbar-link-size));
	margin-top:calc(0px - var(--sticky-nav-size));
	bottom:0;
	z-index:98;
}



.evelution-toolbox:hover  {
	z-index:100;
}


.evelution-toolbox .link  {
	width:var(--toolbar-link-size);
	height:var(--sticky-nav-size);
}


.evelution-toolbox .upper-links {
	justify-content:center;
}

.left-links .evelution-toolbox .upper-links {
	justify-content:flex-start;
}

.evelution-toolbox .upper-links,
.evelution-toolbox .bottom-links  {
	flex-direction:row;
}

.evelution-toolbox .link[cpe-tooltip]:before {
	transform:rotate(180deg);
	left:50%;
	right:auto;
	bottom:auto;
	top:-1px;
}

.evelution-toolbox .link[cpe-tooltip]:after {
	bottom:calc(100% + 1px);
	left:auto;
	right:auto;
	top:auto;
}

.evelution-toolbox .link.bar-switch[cpe-tooltip]:after {
	right:2px;
}


/* Old Global Nav
** Commented styles are the ones used in the old version
 */

	.table {
		display:table;
	}
	.tr {
		display:table-row-group;
		vertical-align:middle;
	}
	.col {
		display:table-column-group;
		vertical-align:middle;
	}
	.thead {
		display:table-header-group;
		vertical-align:middle;
	}
	.tfoot {
		display:table-footer-group;
		vertical-align:middle;
	}
	.cell {
		display:table-cell;
		vertical-align:middle;
		text-align:center;
	}



body:not(.evelution-servers) .servers-only {
  display:none!important;
}


/* Minerve uses flexbox on HTML5 tags so we need to set them as block elements or else it will break styling
**
** IE 11 also does not set main to block display
**
*/
article, aside, footer, header, hgroup, main, nav, section {
display:block;
}



.cpe-button.search-button {
min-height:14px;
}

.cpe-dropdown .link {
cursor:var(--cpe-auto-cursor);

}

.pageheader-search {
font-size:0!important;
}

.constructor .pageheader-search {
	display:none!important;
}

.pageheader-search .cpe-input {
width:200px;
line-height:14px;
border-bottom-right-radius:0;
border-top-right-radius:0;
margin-right:3px;
}

.pageheader-search .cpe-button {
border-bottom-left-radius:0;
border-top-left-radius:0;
vertical-align:middle;
margin-left:3px;
line-height:16px;
}



/* Gap */
.top-gap {
margin-bottom:-6px;
}


.evelution-content {
/*
  background-color:var(--page-background-color);
*/  
  min-height:50px;
  margin:0 18px 18px;
  width:auto;
  border-radius:var(--border-radius);
  color:var(--page-text-background-color);
  position:relative;
  z-index:2;
  border:1px transparent;
  border-color:transparent;
  background-color:transparent;
  /*
  -webkit-backdrop-filter:var(--backdrop-filter);
  backdrop-filter:var(--backdrop-filter);
  */
  flex:1;
}

.single-header .evelution-content {
	margin-top:var(--sticky-nav-size);
}


.evelution-content label,
.oo-ui-labelElement .oo-ui-labelElement-label {
	font-size:inherit;
}

.evelution-page-header .cpe-button-group {
position:relative;
}


.evelution-wrapper {
  position:relative;
  font-weight:400;
}
.evelution-content .evelution-wrapper {
  margin-top:15px;
}

[responsive]  {
	width:calc(var(--breakpoint-size) - 45px - var(--global-nav-size) - var(--scrollbar-width));
	margin-left:auto;
	margin-right:auto;
	transition:width 400ms ease;
}

/* Wide */
	main[wide="true"] [responsive] {
		width:calc(100% - 45px);
	}

	main[wide="true"]  .top-gap .cpe-banner-notification__container#floatingbanner  {
		width:calc(100% - 45px - var(--global-nav-size) - var(--scrollbar-width));
		max-width:calc(var(--max-width) - 45px - var(--global-nav-size) - var(--scrollbar-width));
	}
	
	main[wide="true"] .wide-off {
		display:none!important;
	}
	main[wide="false"] .wide-on {
		display:none!important;
	}

	main[rail="true"] .rail-off {
		display:none!important;
	}
	main[rail="false"] .rail-on {
		display:none!important;
	}


.evelution-article-wrapper {
display:flex;
position:relative;
/*flex-wrap:wrap; */
justify-content:space-between;
width:100%;
}

.evelution-article-content {
	display:flex;
	flex:1;
}

.evelution-content .evelution-article-wrapper .evelution-article-container {
  --content-space-opacity:1;
  box-shadow:0 2px 6px 0 rgba(var(--page-text-background-color-rgb),.4), 0 2px 6px 0 rgba(var(--page-background-color-rgb),0.4);
  border:1px solid var(--page-border-background-color);	
  background-color:rgba(var(--page-background-color-rgb), var(--content-space-opacity));
  padding:0 18px;
  border-radius:calc(var(--border-radius) * 2);
  width:100%;
  display:flex;
  flex-direction:column
}


.evelution-article .printfooter {
	display:none;
}

.evelution-article {
width:100%;
padding:10px 10px 0;
overflow:visible;
position:relative;
word-wrap: break-word;
font-size:14px;
}

.evelution-article h1, .evelution-article h2, .evelution-article h3, .evelution-article h4, .evelution-article h5, .evelution-article h6 {
margin:0.25em 0 .25em;
}

/* Typography */

.evelution-article h1 {
font-size:27px; /* 1.8lol */
}

.evelution-article h2 {
font-size:21px; /* 1.4lol */
}

.evelution-article h3 {
font-size:18px; /* 1.2lol */
}

.evelution-article h4 {
font-size:15px; /* 1lol */
}

.evelution-article h5 {
font-size:12px; /* 0.8lol */
}

.evelution-article h6 {
font-size:9px; /* 0.6lol */
font-variant:small-caps;
}

.evelution-article h2 {
border-bottom:1px solid var(--page-border-background-color);
padding-bottom:5px;
}

.evelution-article h3, .evelution-article h4, .evelution-article h5, .evelution-article h6 {
font-weight:bold;
}

.evelution-page-header {
display:flex;
/*display:grid;
grid-template-columns:repeat(auto-fill, 100%);*/
align-items:flex-start;
justify-content:flex-end;
position:relative;
z-index:6;
background-clip:padding-box;
border-top:1px solid transparent;
margin:-1px -18px 0;
}

.evelution-page-header-main {
align-self: flex-end;
flex-grow:1;
max-width:100%;
min-width:0;
}

.evelution-content .evelution-title {
align-items: flex-end;
font-size:39px; /* 2.6lol */
font-weight:700;
max-width:100%;
word-wrap: break-word;
font-family:var(--secondary-font), sans-serif;
flex:1;
border:0;
margin:0 8px;
text-align:center;
/*
-webkit-text-stroke:1.4px var(--page-text-background-color);
-webkit-text-fill-color:var(--page-secondary-background-color);
text-shadow:0 0 2px var(--page-text-background-color);
*/
}

/* Display an Asterisk before the article title for unsaved changes */
.evelution-content .evelution-title.unsaved::before {
	content:"*";
}

.evelution-content .evelution-page-header-title {
/*
border-bottom:1px solid var(--page-border-background-color);
*/
display:block;
line-height:1.35;
margin:0;
padding:10px 0;
text-align:center;
/*	background-image:linear-gradient(to bottom, var(--accent-gradient-color) 65%, rgba(0,0,0,0)); */
	background-color:var(--page-secondary-background-color);
	color:var(--page-text-background-color);
flex-direction:column;
background-clip:padding-box;
border-radius:calc(calc(var(--border-radius) * 2) - 1px);
border-bottom-left-radius:0;
border-bottom-right-radius:0;
}

.evelution-page-header-title #siteNotice {
	font-size:14px;
	line-height:1.66;
	padding:0 19px;
	width:100%;
}

.evelution-userpages-header + .evelution-page-header .evelution-page-header-title {
	border-radius:0;
}


.evelution-content .evelution-page-header .evelution-page-header-subtitle {
font-size:12px;
line-height:1;
font-weight:200;
max-width:100%;
word-wrap: break-word;
margin:0;
padding:8px 18px;
}

.evelution-content .evelution-page-header .evelution-page-header-subtitle > span {
	display:block;
}

.evelution-page-header-contribution {
display:flex;
align-items:flex-end;
align-self:stretch;
flex-direction: column;
flex-shrink:0;
justify-content: space-between;
padding:8px 18px;
/*text-align:right;*/
}


.evelution-page-header-contribution-buttons {
margin-left: 20px;
}

@media only screen and (max-width:959px) {
	.evelution-page-header-contribution-buttons {
		margin-left: 0px;
	}
	.evelution-page-header-contribution-buttons .cpe-button-group > li > .cpe-button,
	.evelution-page-header-contribution-buttons .cpe-button-group > .cpe-dropdown > .cpe-button {
		font-size:12px;
		padding-left:10px;
		padding-right:10px;
	}

	/*
	.evelution-page-header-contribution-buttons .actions > .more-actions-menu > .cpe-button {
		padding-left:5px;
		padding-right:5px;
	}
	*/

}

/*
.evelution-page-header-contribution-buttons .actions > .more-actions-menu > .cpe-button {
	padding-left:6px;
	padding-right:6px;
}
*/

.evelution-page-header-contribution-buttons .color-modes > li,
.evelution-page-header-contribution-buttons .actions > li,
.evelution-page-header-contribution-buttons .views > li {
	display:flex;
	margin-bottom:0;
}

/* Title Logo */
.title-logo {
		background-color:currentColor;
		-webkit-mask-size:auto var(--height);
		mask-size:auto var(--height); 
		-webkit-mask-position:left;
		mask-position:left; 
		-webkit-mask-repeat:no-repeat; 
		mask-repeat:no-repeat;
}

/* Mobile Header */
	.mobile-header {
		display:flex;
		justify-content:center;
		min-height:60px;
		flex-direction:column;
	}

	.mobile-header section {
		width:100%;
		display:flex;
		padding:5px 0 0 5px;
		justify-content:space-around;
		align-items:stretch;
	}

	.mobile-header .title {
		justify-content:center;
		line-height:1.4;
		font-size:22px;
		font-weight:800;
		align-items:center;
		font-family:var(--secondary-font), sans-serif;
		height:50px;
	}

	.mobile-header .title a {
		text-decoration:none;
		color:inherit;
		transition:color 400ms ease;
		overflow:hidden;
		text-overflow:ellipsis;
		width:100%;
		height:inherit;
		display:inline-flex;
		align-items:center;
		justify-content:center;
	}

	.mobile-header .title .title-logo {
		-webkit-mask-position:center;
		mask-position:center; 
	}


	.mobile-header .title a:hover {
		color:var(--community-header-text-color-hover);
	}

	.mobile-header .title a:active,
	.mobile-header .title a:focus {
		color:rgba(var(--community-header-text-color-hover-rgb), 0.8);
	}


	.mobile-header .counters {
		font-size:14px;
		flex-wrap:wrap;
		flex:1;
		padding-right:5px;
		flex-direction:column;
	}

	.mobile-header .counter {
		white-space:nowrap;
		align-self:flex-start;
	}

	.mobile-header .counter .cpe-icon {
		display:none;
		--icon-size:0.7;
	}

	.mobile-header .counter big {
		font-weight:bolder;
		font-size:120%;
	}

	.mobile-header .link.large {
		display:none;
	}

	.mobile-header .buttons {
		padding:0;
		display:block!important;
	}

	.mobile-header .buttons nav {
		flex:1;
		width:100%;
		display:flex;
	}

.mobile-header .buttons .link, .mobile-header .buttons .cpe-dropdown .link {
		flex:1 1 auto;
		display:inline-flex;
		align-items:center;
		justify-content:center;
		padding: 0 4px;
		height:50px;
	}

.mobile-header .cpe-dropdown {
	flex:1 1 auto;
	display:inline-flex!important;
}

/* Desktop Sticky Header */
	.evelution-sticky-header {
		--sticky-nav-opacity:0.95;
		--tr-scale:100%;
		background-color:rgba(var(--sticky-header-background-color-rgb), var(--sticky-nav-opacity));
		color:var(--sticky-header-foreground-color);
		position:-webkit-sticky;
		position:sticky;
		top:calc(-4px - var(--sticky-nav-size));
		z-index:99;
		padding-top:1px;
		height:var(--sticky-nav-size);
		display:flex;
		transition:transform 400ms ease, top 400ms ease;
		width:100%;
		max-width:var(--max-width);
		box-shadow: 0 0 3px var(--page-text-background-color), 0 0 3px var(--page-secondary-background-color);
		transform:scaleY(var(--tr-scale));
		align-items:center;
		margin-top:calc(0px - var(--sticky-nav-size));
		box-sizing:content-box;
		transform-origin:top;
	}

	main[nav="true"] .evelution-sticky-header.col-nav,
	main[nav="false"] .evelution-sticky-header.full-nav  {
		--tr-scale:0;
	}


	.headroom--not-top .evelution-sticky-header,
	.single-header .evelution-sticky-header {
		top:-1px;
	}
	

	.evelution-sticky-header.col-nav {
		width:auto;
		margin-top:calc(0px - var(--sticky-nav-size));
		left:100%;
		align-self:flex-end;
		z-index:98;
	}


	.constructor .evelution-sticky-header {
		display:none;
	}

	.options .evelution-sticky-header,
	.editor .evelution-sticky-header {
		transform:translateY(0%);
		position:relative;
		top:-20px;
		margin-top:0;
		padding-top:0;
	}

	
	.evelution-sticky-header .wordmark {
		vertical-align:middle;
		height:55px;
		float:left;
		margin:0 0 0 6px;
		z-index:25;
		position:relative;
		display:flex;
	}
	
	.evelution-sticky-header .wordmark img {
		image-rendering:initial;                  /* CSS4 Proposed  */
		height:80%;
		vertical-align:middle;
		transition-property:filter;
		transition-delay:var(--logo-filter-delay,0);
		transition-duration:var(--logo-filter-duration,300ms) ;
		filter:var(--logo-filter,none);
		align-self:center;
	}

	.evelution-sticky-header .wordmark:hover img {
		filter:var(--logo-filter-hover,var(--logo-filter, none));
	}


	.evelution-sticky-header .title {
		flex:1;
		line-height:1.4;
		font-size:23px;
		font-weight:700;
		height:var(--sticky-nav-size);
		padding:0 6px;
		font-family:var(--secondary-font), sans-serif;
		overflow:hidden;
		display:flex;
	}

	.evelution-sticky-header .title .title-logo {
		font-size:24px;
	}

	.evelution-sticky-header .title a {
		text-decoration:none;
		color:inherit;
		transition:color 400ms ease;
		overflow:hidden;
		text-overflow:ellipsis;
		align-self:center;
		height:inherit;
		display:inline-flex;
		align-items:center;
		width:100%;
	}

	.evelution-sticky-header .title a:hover {
		color:var(--sticky-header-foreground-color-hover);
	}

	.evelution-sticky-header .title a:active,
	.evelution-sticky-header .title a:focus {
		color:rgba(var(--sticky-header-foreground-color-hover-rgb), 0.8);
	}


	.evelution-sticky-header .counters {
		height:var(--sticky-nav-size);
		padding:0 7.5px;
		font-size:15px;
		font-weight:500;
		text-align:left;
		display:flex;
		flex-direction:column;
		justify-content:center;
	}

	
	.evelution-sticky-header .counter {
		white-space:nowrap;
	}



	.evelution-sticky-header .counter .cpe-icon {
		display:none;
		--icon-size:0.7;
	}


	.evelution-sticky-header .counter big {
		font-weight:bolder;
		font-size:120%;
	}


.evelution-sticky-header .cpe-dropdown.small {
	display:none;
}

	.evelution-sticky-header .link {
		transition:color 400ms ease, background-color 300ms linear, border-color 300ms linear, background-image 300ms linear, transform 300ms linear, box-shadow 50ms linear;
		padding: 0 7px;
		height:inherit;
		color:inherit;
		text-decoration:none!important;
		font-size:14px;
		border:1px solid transparent;
		box-sizing:border-box;
		border-radius:var(--border-radius);
		margin:0 0 0 -1px;
		display:flex;
		align-items:center;
	}
	.evelution-sticky-header .cpe-dropdown {
		height:inherit;
		display:inline-block;
	}


	.evelution-sticky-header .link:hover, .evelution-sticky-header .link:focus, .evelution-sticky-header .cpe-dropdown.is-active .link, .evelution-sticky-header .link.active  {
/*		-webkit-animation: 600ms linear 200ms infinite normal color-header-hover;
		     -o-animation: 600ms linear 200ms infinite normal color-header-hover;
		        animation: 600ms linear 200ms infinite normal color-header-hover;
*/
		background-color:rgba(var(--sticky-header-foreground-color-rgb),0.15);
		border-color:rgba(var(--sticky-header-background-color-hover-rgb),0.15);
		color:var(--sticky-header-foreground-color-hover);
	}

	.evelution-sticky-header .link:hover, .evelution-sticky-header .link.active  {
		box-shadow:0 0 2px 0.5px var(--sticky-header-background-color-hover) inset;
	}


	.evelution-sticky-header .link:active, .evelution-sticky-header .link:focus, .evelution-sticky-header .cpe-dropdown.is-active  .link, .evelution-sticky-header .link.active  {
		/*transform:scale(0.9);*/
		background-color:rgba(var(--sticky-header-foreground-color-hover-rgb),0.3);
		border-color:rgba(var(--sticky-header-background-color-hover-rgb),0.3);
		color:rgba(var(--sticky-header-foreground-color-hover-rgb), 0.8);

	}

/*
	.evelution-sticky-header .link:hover > *:not([filter]), .evelution-sticky-header .link.active > *:not([filter]) {
		filter:drop-shadow(0 0 1px var(--sticky-header-background-color-hover)) drop-shadow(0 0 0.5px var(--sticky-header-background-color)) drop-shadow(0 0 0.25px var(--sticky-header-foreground-color));
	}
*/
	
	.evelution-sticky-header .link.active {		
	-webkit-animation: none;
		     -o-animation: none;
		        animation:none;    
		cursor:inherit;
		font-weight:bolder;
	}


@media only screen and (min-width:1440px) {
	.evelution-sticky-header .title {
		font-size:26px;
	}

	.evelution-sticky-header .counters {
		font-size:16px;
		padding:0 8px;
	}

}

@media only screen and (min-width:1920px) {
	.evelution-sticky-header .title {
		font-size:28px;
	}
}

@media only screen and (max-width:1199px) {
	.evelution-sticky-header .title {
		font-size:20px;
	}
	
	.evelution-sticky-header .link.large {
		display:none;
	}

	.evelution-sticky-header .cpe-dropdown.small {
		display:inline-block;
	}
	
	.evelution-sticky-header .counters {
		padding:0 7px;
		font-size:14px;
	}

}

@media only screen and (max-width:959px) {
	.evelution-sticky-header .title {
		font-size:17px;
	}
	
/*	.evelution-sticky-header .wordmark {
		display:none;
	}
*/

	.evelution-sticky-header .counter .cpe-icon {
		display:inline-block;
		vertical-align:middle;
	}

	.evelution-sticky-header .counter .text {
		display:none;
	}

	.evelution-sticky-header .counter big {
		vertical-align:middle;
	}

	.evelution-sticky-header .counters {
		padding:0 6.5px;
		font-size:13px;
	}


}

@media only screen and (max-width:749px) {
	.evelution-sticky-header {
		display:none;
	}
}


/* Desktop Header */
	.evelution-community-header {
		margin-bottom:0;
		color:var(--community-header-text-color);
		z-index:20;
		position:relative;
		background-size:contain;
		background-position:right;
		background-repeat:no-repeat;
		border-radius:var(--border-radius);
		align-items:flex-end;
		display:flex;
		min-height:149px;
	}
	
		
	.page-wrapper .evelution-community-header {
		border-bottom-left-radius:0;
		border-bottom-right-radius:0;
	}
	

	.evelution-community-header-wrapper {
		width:100%;
		display:table;
		z-index:20;
		position:relative;
	}


	.evelution-community-header .cpe-dropdown {
		display:table-cell;
	}


	.color-header {
		min-height:50px;
		position:relative;
		z-index:20;
		display:flex;
		height:93px;
		align-items:flex-end;
	}

	.color-header > .table {
		flex:1;
	}

	.color-header > .table > .tr {
		display:inline-flex;
		align-items:flex-end;
		justify-content:center;
		width:100%;
	}
	

	.evelution-community-header .wordmark {
		vertical-align:middle;
		height:118px;
		float:left;
		margin:10px 0 0 10px;
		z-index:25;
		position:relative;
		display:flex;
		align-items:flex-end;
	}


	.evelution-community-header .wordmark img {
		image-rendering: initial;
		vertical-align: middle;
		display: table-cell;
		transition-property: filter;
		transition-delay: var(--logo-filter-delay,0);
		transition-duration: var(--logo-filter-duration,300ms);
		filter: var(--logo-filter,none);
		height: 100px;
		object-position: bottom;
		width: auto;
		max-width: 250px;
		object-fit: contain;
	}

	.evelution-community-header .wordmark:hover img {
		filter:var(--logo-filter-hover,var(--logo-filter, none));
	}

	.color-header .counters {
		height:50px;
		padding:0 7.5px;
		font-size:15px;
		font-weight:500;
		text-align:left;
	}

	
	.color-header .counter {
		white-space:nowrap;
	}


	.color-header .counter .cpe-icon {
		display:none;
		--icon-size:0.7;
	}
	
	.color-header .counter big {
		font-weight:bolder;
		font-size:120%;
	}

	
.evelution-community-header .cpe-dropdown.small {
	display:none;
}

	.evelution-community-header .link {
		cursor:var(--cpe-hand-cursor);
		transition:color 400ms ease, background-color 300ms linear, border-color 300ms linear, background-image 300ms linear, transform 300ms linear, box-shadow 50ms linear;
		padding: 0 7px;
		height:inherit;
		color:inherit;
		text-decoration:none!important;
		font-size:18px;
		border:1px solid transparent;
		box-sizing:border-box;
		border-radius:var(--border-radius);
	}

	.color-header .link {
/*		padding: 0 11px; */
		height:50px;
		margin:0 0 0 -1px;
		align-items: center;
		justify-content: center;
		vertical-align: middle;
		display: inline-flex;
	}
	
	.color-header .cpe-dropdown {
		height:inherit;
		display:inline-block;
	}
	
	.color-nav .cpe-dropdown {
		height:35px;
		width:100%;
	}
	


	.color-nav .link {
		width:100%;
		white-space:nowrap;
		height:35px;
		vertical-align:middle;
		display:inline-flex;
		align-items:center;
		justify-content:center;
		align-self:stretch;
	}

	.color-nav .link * + * {
		margin-left:6px;
	}
	
	.evelution-community-header .link:hover, .evelution-community-header .link:focus, .evelution-community-header .cpe-dropdown.is-active .link, .evelution-community-header .link.active  {
/*		-webkit-animation: 600ms linear 200ms infinite normal color-header-hover;
		     -o-animation: 600ms linear 200ms infinite normal color-header-hover;
		        animation: 600ms linear 200ms infinite normal color-header-hover;
*/
		background-color:rgba(var(--community-background-color-rgb),0.15);
		border-color:rgba(var(--community-background-color-hover-rgb),0.15);
		color:var(--community-header-text-color-hover);
	}

	.evelution-community-header .link:hover, .evelution-community-header .link.active  {
		box-shadow:0 0 2px 0.5px var(--community-background-color-hover) inset;
	}


	.evelution-community-header .link:active, .evelution-community-header .link:focus, .evelution-community-header .cpe-dropdown.is-active  .link, .evelution-community-header .link.active  {
		/*transform:scale(0.9);*/
		background-color:rgba(var(--community-background-color-hover-rgb),0.3);
		border-color:rgba(var(--community-background-color-hover-rgb),0.3);
		color:rgba(var(--community-header-text-color-hover-rgb), 0.8);

	}

/*
	.evelution-community-header .link:hover > *:not([filter]), .evelution-community-header .link.active > *:not([filter]) {
		filter:drop-shadow(0 0 1px var(--community-background-color-hover)) drop-shadow(0 0 0.5px var(--community-background-color)) drop-shadow(0 0 0.25px var(--community-foreground-color));
	}
*/

	.evelution-community-header .link.active {		
	-webkit-animation: none;
		     -o-animation: none;
		        animation:none;    
		cursor:inherit;
		font-weight:bolder;
	}

	.evelution-community-header .title .title-logo {
		font-size:24px;
	}


	.color-header .title {
		width:100%;
		line-height:1.4;
		font-size:23px;
		font-weight:700;
		max-height:50px;
		padding:0 16px 0 11px;
		font-family:var(--secondary-font), sans-serif;
		white-space:wrap;
		overflow:hidden;
		text-overflow:ellipsis;
		max-height:50px;
		align-self:flex-end;
	}

	.color-header .title a {
		text-decoration:none;
		color:inherit;
		transition:color 400ms ease;
		overflow:hidden;
		text-overflow:ellipsis;
		display:block;
		max-height:inherit;
		text-align:left;
		height:inherit;
		display:inline-flex;
		align-items:center;
		width:100%;
	}

	.color-header .title a:not(.title-logo) {
		display:-webkit-box;
		-webkit-box-orient:vertical;
		-webkit-line-clamp:2;
	}
	
	.color-header .title .title-logo {
		-webkit-mask-position:left;
		mask-position:left; 
	}


 .title-logo span {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
 }

	.color-header .title a:hover {
		color:var(--community-header-text-color-hover);
	}

	.color-header .title a:active,
	.color-header .title a:focus {
		color:rgba(var(--community-header-text-color-hover-rgb), 0.8);
	}

	
	.color-nav {
		height:35px;
		position:relative;
		z-index:2;
		display:flex;
	}

	.color-nav > .table {
		flex:1;
	}

	.color-nav > .table > .tr {
		display:inline-flex;
		align-items:center;
		justify-content:center;
		width:100%;
	}


/* XL */
@media only screen and (min-width:1440px) {
	.color-header .title {
		font-size:26px;
	}

	.evelution-community-header .link {
		font-size:20px;
	}


	.color-header .counters {
		font-size:16px;
		padding:0 8px;
	}

}

@media only screen and (min-width:1920px) {
	.color-header .title {
		font-size:28px;
	}
}


/* M */
@media only screen and (max-width:1199px) {
/*
	.evelution-community-header .wordmark {
		height:80px;
		margin:0;
	}

	.evelution-community-header .wordmark img {
		max-height:80px;
		max-width:174px;
	}

	.color-nav {
		clear:both;
	}

	.evelution-community-header .wordmark {
		margin-top:12px;
	}
*/
	.color-header .title {
		font-size:20px;
	}


	.color-header .counters {
		padding:0 7px;
		font-size:14px;
	}

	.evelution-community-header .link {
		font-size:16px;
	}

.evelution-community-header .link.large {
	display:none;
}

.evelution-community-header .cpe-dropdown.small {
	display:inline-block;
}


}



/* S */
@media only screen and (max-width:959px) {
	.color-header .title {
		padding:0 10px;
		font-size:17px;
	}

	/* .color-header .link {
		padding:0 9px;
	} */

	.color-header .counters {
		padding:0 6.5px;
		font-size:13px;
	}

	.evelution-community-header .link {
		font-size:14px;
	}


	.color-header .counter .text {
		display:none;
	}

	.color-header .counter .cpe-icon {
		display:inline-block;
		vertical-align:middle;
	}

	.color-header .counter big {
		vertical-align:middle;
	}


}

/* S+ */
@media only screen and (min-width:750px) {
	.mobile-header {
		display:none;
	}
	.single-header .evelution-community-header {
		display:none;
	}

	footer.footer {
		display:none;
	}
}


/* XS */
@media only screen and (max-width:749px) {
	.color-header, .color-nav, .evelution-community-header .wordmark {
		display:none;
	}
	
	.evelution-community-header {
		background-image:none!important;
		margin-left:0!important;
		margin-right:0!important
	}
	
	.evelution-community-header:before, .evelution-community-header:after {
		display:none!important;
	}
	
	footer.evelution-footer {
		display:none!important;
	}

}


.evelution-content .evelution-page-footer .evelution-page-header-title {
border-radius:calc(calc(var(--border-radius) * 2) - 1px);
border-top-left-radius:0;
border-top-right-radius:0;
}

.evelution-page-footer .cpe-list.is-linked>li>a {
    display: inline;
    padding: 0;
}


.evelution-content .evelution-page-footer {
	z-index:0;
	margin-top:18px;
}


.cpe-list.is-linked #pt-uls .uls-trigger {
	display:block;
	padding-top:11px!important;
	padding-left:8px;
}



.evelution-rail-wrapper .evelution-module {
	display:flex;
	box-shadow:0 2px 6px 0 rgba(var(--page-text-background-color-rgb),.4), 0 2px 6px 0 rgba(var(--page-background-color-rgb),0.4);
	background-color:var(--page-secondary-background-color);
	border-radius:calc(var(--border-radius) * 2);
	padding:10px 0;
	width:var(--module-size);
	margin-bottom:15px;
	font-size:13px;
	text-shadow:none;
	flex-direction:column;
	color:var(--page-text-background-color);
	border:1px solid var(--page-border-background-color);
}

.evelution-rail-wrapper .evelution-module-content {
	background-color:var(--page-background-color);
	color:var(--page-text-background-color);
	padding:0 10px;
	border:1px solid transparent;
}

.evelution-rail-wrapper .evelution-module h2 {
	font-weight:700;
	margin:0 10px 10px;
	
}

.evelution-module .cpe-button.is-full-width {
	align-self:stretch;
	margin:10px 10px 0;
}

.evelution-rail-wrapper {
	--module-size:280px;
	padding-left:15px;
	display:none;
	flex-direction:column;
    position: relative;
    transition: margin-left 400ms ease, transform 400ms ease, padding-left 400ms ease, padding-right 400ms ease;
    transform-origin: right;
}

.toggle-rail-button {
	--text-color:var(--page-text-background-color);
	--text-color-hover:var(--page-text-background-color-hover-rgb);
	transition:background-color 400ms ease, color 400ms ease, border-color 400ms ease, text-shadow 400ms ease, opacity 300ms ease, padding 300ms ease, max-width 300ms ease, font-size 300ms ease;
	display:none;
	position:absolute;
	color:var(--text-color);
	top:0;
	right:0;
	width:50px;
	height:50px;
	display:none;
	align-items:center;
	justify-content:center;
	border-top-right-radius:calc(var(--border-radius) + var(--border-radius) - 1px );
	text-decoration:none!important;
}

.toggle-rail-button:hover {
	color:rgb(var(--text-color-hover));
}

.toggle-rail-button:active {
	color:rgba(var(--text-color-hover),0.8);
	background-color:rgba(var(--text-color-hover),0.3);
}


@media only screen and (max-width:959px) {
	.toggle-rail-button {
		display:none!important;
	}
}

@media only screen and (max-width:1199px) {
	.evelution-rail-wrapper {
		--module-size:260px;
	}
}


@media only screen and (min-width:1440px) {
	.evelution-rail-wrapper {
		--module-size:300px;
	}
}


@media only screen and (min-width:1920px) {
	.evelution-rail-wrapper {
		--module-size:320px;
	}
}


@media only screen and (min-width:960px) {
	 main[rail="false"] .evelution-rail-wrapper {
		padding-left:0;
		padding-right:0;
		margin-left: calc(0px - var(--module-size));
		pointer-events: none;
		transform: scalex(0);
	}
	.home-mode.action-view:not(.ns--1):not(.ns-6):not(.ns-8):not(.mainpage):not(.no-rail) .evelution-page-header-title,
	.server-mode.action-view:not(.ns--1):not(.ns-4):not(.ns-6):not(.ns-8):not(.ns-12):not(.mainpage):not(.no-rail) .evelution-page-header-title {
		padding-right:50px;
	}

}


.home-mode.action-view:not(.ns--1):not(.ns-6):not(.ns-8):not(.mainpage):not(.no-rail) .evelution-rail-wrapper,
.home-mode.action-view:not(.ns--1):not(.ns-6):not(.ns-8):not(.mainpage):not(.no-rail) .toggle-rail-button,
.server-mode.action-view:not(.ns--1):not(.ns-4):not(.ns-6):not(.ns-8):not(.ns-12):not(.mainpage):not(.no-rail) .evelution-rail-wrapper,
.server-mode.action-view:not(.ns--1):not(.ns-4):not(.ns-6):not(.ns-8):not(.ns-12):not(.mainpage):not(.no-rail) .toggle-rail-button {
	display:flex;
}

.activity-module .mw-changeslist-legend,
.activity-module .mw-changeslist-line-inner-historyLink,
.activity-module .mw-changeslist-line-inner-separatorAfterLinks,
.activity-module .mw-changeslist-line-inner-characterDiff,
.activity-module .mw-changeslist-line-inner-userTalkLink,
.activity-module .mw-usertoollinks,
.activity-module .mw-changeslist-line-inner-comment,
.activity-module .mw-changeslist-line-inner-rollback,
.activity-module .mw-changeslist-line-inner-watchingUsers,
.activity-module .mw-changeslist-line-inner-tags,
.activity-module .mw-tag-markers,
.activity-module .mw-changeslist-groupdiff,
.activity-module .mw-rollback-link,
.activity-module .mw-diff-bytes,
.activity-module .mw-changeslist-links,
.activity-module .comment {
	display:none!important;
}

.activity-module .mw-changeslist-line-inner-separatorAftercharacterDiff:after {
	content:" - ";
}

/* RTL CSS */
.rtl .evelution-navigation .link[cpe-tooltip]:before {
	transform:rotate(90deg)
}

.rtl .evelution-navigation .explore-menu .link .cpe-icon {
    --icon-rotate:180deg;
}

.rtl .evelution-article-content .cpe-icon.chevron-icon {
    --icon-rotate:180deg;
}