/* Headroom */
.headroom .mpisto-global-sidebar {
	transition:/*-webkit-backdrop-filter 400ms ease, backdrop-filter 400ms ease,*/ transform 400ms ease, opacity 400ms ease, background-color 400ms ease, width 150ms ease, transform 400ms ease;
	/*will-change:color, background-color, opacity;*/
}

html[visualtheme="standard"] body:not(.phone).headroom.headroom--not-top .mpisto-global-sidebar.mpisto-global-navigation {
	--global-nav-color:var(--page-secondary-emphasis-background-color-rgb);
	--global-nav-text-color:var(--page-secondary-emphasis-foreground-color);
	--global-nav-link-color-hover:var(--page-secondary-emphasis-foreground-color-hover);

	--global-nav-link-background-active:var(--accent-gradient-color-rgb);
	--global-nav-link-color-active:var(--accent-gradient-color-hover);
}

html[visualtheme="standard"] body:not(.phone).headroom.headroom--not-top[dark-mode="true"] .mpisto-global-navigation {
	--global-nav-link-background-active:var(--accent-gradient-color-hover-rgb);
	--global-nav-link-color-active:var(--accent-gradient-color);
}
