/** Classic **/

/* Icons – movement */
.oo-ui-icon-arrowNext:before {
	content:"arrow_forward";
}

.oo-ui-icon-arrowPrevious:before {
	content:"arrow_back";
}

.oo-ui-icon-collapse:before {
	content:"arrow_back_ios";
	--icon-rotate:90deg;
}

.oo-ui-icon-downTriangle:before {
	content:"arrow_drop_down";
}

.oo-ui-icon-draggable:before {
	content:"drag_handler";
}

.oo-ui-icon-doubleChevronEnd:before {
	content:"double_arrow";
}

.oo-ui-icon-doubleChevronStart:before {
	content:"double_arrow";
	--icon-rotate:180deg;
}

.oo-ui-icon-expand:before {
	content:"arrow_back_ios";
	--icon-rotate:-90deg;
}

.oo-ui-icon-move:before {
	content:"open_with";
}

.oo-ui-icon-next:before {
	content:"arrow_forward_ios";
}

.oo-ui-icon-previous:before {
	content:"arrow_back_ios";
}

.oo-ui-icon-last:before {
	content:"last_page";
}

.oo-ui-icon-first:before {
	content:"first_page";
}

.oo-ui-icon-upTriangle:before {
	content:"arrow_drop_down";
	--icon-rotate:180deg;
}

/* Icons – content */
.oo-ui-icon-article:before {
	content:"article";
}

.oo-ui-icon-articles:before {
	content:"content_copy";
}

.oo-ui-icon-articleAdd:before {
	content:"note_add";
}

.oo-ui-icon-articleCheck:before {
	content:"upload_file";
}

.oo-ui-icon-articleDisambiguation:before {
	content:"contact_page";
}


.oo-ui-icon-articleNotFound:before {
	content:"request_page";
}

.oo-ui-icon-articleSearch:before {
	content:"find_in_page";
}

.oo-ui-icon-articlesSearch:before {
	content:"pageview";
}

.oo-ui-icon-articleRedirect:before {
	content:"restore_page";
}

.oo-ui-icon-database:before {
	content:"table_chart";
}

.oo-ui-icon-die:before {
	content:"grid_view";
}

.oo-ui-icon-download:before {
	content:"download";
}

.oo-ui-icon-folderPlaceholder:before {
	content:"folder";
}

.oo-ui-icon-history:before {
	content:"history";
}

.oo-ui-icon-info:before {
	content:"info";
}

.oo-ui-icon-infoFilled:before {
	content:"info";
}

.oo-ui-icon-robot:before {
	content:"smart_toy";
}

.oo-ui-icon-share:before {
	content:"share";
}

.oo-ui-icon-specialPages:before {
	content:"app_shortcut";
}

.oo-ui-icon-tag:before {
	content:"local_offer";
}


.oo-ui-icon-upload:before {
	content:"upload";
}

.oo-ui-icon-window:before {
	content:"web_asset";
}

/* Icons – alerts */
.oo-ui-icon-alert:before {
	content:"warning";
}

.oo-ui-icon-bell:before {
	content:"notifications";
}

.oo-ui-icon-bellOutline:before {
	content:"notifications_none";
}

.oo-ui-icon-error:before {
	content:"report";
}

.oo-ui-icon-message:before {
	content:"email";
}

.oo-ui-icon-notice:before {
	content:"error";
}

.oo-ui-icon-speechBubble:before {
	content:"mode_comment";
}
.oo-ui-icon-speechBubbleAdd:before {
	content:"comment_add";
}
.oo-ui-icon-speechBubbles:before {
	content:"question_answer";
}

.oo-ui-icon-tray:before {
	content:"inbox";
}

/* Icons - interactions */
.oo-ui-icon-add:before {
	content:"add";
}

.oo-ui-icon-browser:before {
	content:"web";
}

.oo-ui-icon-cancel:before {
	content:"block";
}

.oo-ui-icon-check:before {
	content:"done";
}

.oo-ui-icon-checkAll:before {
	content:"done_all";
}

.oo-ui-icon-clear:before {
	content:"cancel";
}

.oo-ui-icon-clock:before {
	content:"schedule";
}

.oo-ui-icon-close:before {
	content:"close";
}


.oo-ui-icon-ellipsis:before {
	content:"more_horiz";
}

.oo-ui-icon-feedback:before {
	content:"campaign";
}

.oo-ui-icon-funnel:before {
	content:"filter_alt";
}

.oo-ui-icon-hand:before {
	content:"front_hand";
}


.oo-ui-icon-heart:before {
	content:"favorite";
}

.oo-ui-icon-help:before {
	content:"help_outline";
}
.oo-ui-icon-helpNotice:before {
	content:"help";
}

.oo-ui-icon-home:before {
	content:"home";
}

.oo-ui-icon-key:before {
	content:"key";
}

.oo-ui-icon-keyboard:before {
	content:"keyboard_alt";
}

.oo-ui-icon-lightbulb:before {
	content:"lightbulb";
}

.oo-ui-icon-logIn:before {
	content:"login";
}

.oo-ui-icon-logOut:before {
	content:"logout";
}

.oo-ui-icon-network:before {
	content:"wifi";
}

.oo-ui-icon-networkOff:before {
	content:"wifi_off";
}

.oo-ui-icon-newWindow:before {
	content:"open_in_new";
}

.oo-ui-icon-pageSettings:before {
	content:"settings_applications";
}

.oo-ui-icon-printer:before {
	content:"print";
}

.oo-ui-icon-reload:before {
	content:"refresh";
}

.oo-ui-icon-search:before {
	content:"search";
}

.oo-ui-icon-settings:before {
	content:"settings";
}

.oo-ui-icon-stopHand:before {
	content:"front_hand";
}
.oo-ui-image-destructive.oo-ui-icon-stopHand:before {
	content:"help";
}

.oo-ui-icon-subtract:before {
	content:"remove";
}

/* Icons - moderation */
.oo-ui-icon-bookmarkOutline:before {
	content:"turned_in_not";
}

.oo-ui-icon-bookmark:before {
	content:"bookmark";
}

.oo-ui-icon-block:before {
	content:"remove_circle";
}

.oo-ui-icon-unBlock:before {
	content:"check_circle";
}

.oo-ui-icon-flag:before {
	content:"flag";
}

.oo-ui-icon-unFlag:before {
	content:"outlined_flag";
}

.oo-ui-icon-lock:before {
	content:"lock";
}

.oo-ui-icon-unLock:before {
	content:"lock_open";
}

.oo-ui-icon-restore:before {
	content:"restore";
}

.oo-ui-icon-star:before {
	content:"star_border";
}

.oo-ui-icon-halfStar:before {
	content:"star_half";
}

.oo-ui-icon-unStar:before {
	content:"star";
}

.oo-ui-icon-trash:before {
	content:"delete";
}

.oo-ui-icon-pushPin:before {
	content:"navigation";
}

.oo-ui-icon-ongoingConversation:before {
	content:"sms";
}

/* Icons - editing-core */
.oo-ui-icon-edit:before {
	content:"edit";
}

.oo-ui-icon-editLock:before {
	content:"lock";
}

.oo-ui-icon-editUndo:before {
	content:"undo";
}

.oo-ui-icon-link:before {
	content:"insert_link";
}

.oo-ui-icon-unLink:before {
	content:"link_off";
}

.oo-ui-icon-linkExternal:before {
	content:"open_in_new";
}


.oo-ui-icon-linkSecure:before {
	content:"lock";
}


.oo-ui-icon-redo:before {
	content:"redo";
}


.oo-ui-icon-undo:before {
	content:"undo";
}

/* Icons - editing-styling */
.oo-ui-icon-bigger:before {
	content:"text_increase";
}

.oo-ui-icon-smaller:before {
	content:"text_decrease";
}

.oo-ui-icon-subscript:before {
	content:"subscript";
}
.oo-ui-icon-superscript:before {
	content:"superscript";
}
.oo-ui-icon-bold:before {
	content:"format_bold";
}

.oo-ui-icon-highlight:before {
	content:"format_paint";
}

.oo-ui-icon-italic:before {
	content:"format_italic";
}

.oo-ui-icon-strikethrough:before {
	content:"format_strikethrough";
}

.oo-ui-icon-underline:before {
	content:"format_underlined";
}

.oo-ui-icon-textLanguage:before {
	content:"translate";
}


.oo-ui-icon-textDirLTR:before {
	content:"format_textdirection_l_to_r";
}

.oo-ui-icon-textDirRTL:before {
	content:"format_textdirection_r_to_l";
}

.oo-ui-icon-textStyle:before {
	content:"text_format";
}

/* Icons - editing-list */
.oo-ui-icon-indent:before {
	content:"format_indent_increase"
}

.oo-ui-icon-listBullet:before {
	content:"format_list_bulleted"
}

.oo-ui-icon-listNumbered:before {
	content:"format_list_numbered"
}

.oo-ui-icon-outdent:before {
	content:"format_indent_decrease"
}

/* Icons - editing-advanced */
.oo-ui-icon-alignCenter:before {
	content:"format_align_center"
}

.oo-ui-icon-alignLeft:before {
	content:"format_align_left"
}

.oo-ui-icon-alignRight:before {
	content:"format_align_right"
}

.oo-ui-icon-attachment:before {
	content:"attach_file"
}

.oo-ui-icon-calendar:before {
	content:"event"
}

.oo-ui-icon-code:before {
	content:"data_array"
}
.oo-ui-icon-hieroglyph:before {
	content:"currency_rupee"
}

.oo-ui-icon-imageLayoutBasic:before {
	content:"crop_original "
}

.oo-ui-icon-imageLayoutFrame:before {
	content:"image"
}

.oo-ui-icon-imageLayoutFrameless:before {
	content:"check_box_outline_black"
}

.oo-ui-icon-imageLayoutThumbnail:before {
	content:"filter_frames"
}

.oo-ui-icon-labFlask:before {
	content:"science"
}

.oo-ui-icon-language:before {
	content:"translate"
}

.oo-ui-icon-layout:before {
	content:"dashboard"
}

.oo-ui-icon-markup:before {
	content:"code"
}

.oo-ui-icon-mathematics:before {
	content:"functions"
}

.oo-ui-icon-mathematicsDisplayBlock:before {
	content:"vertical_distribute"
}

.oo-ui-icon-mathematicsDisplayDefault:before {
	content:"horizontal_distribute"
}

.oo-ui-icon-mathematicsDisplayInline:before {
	content:"title"
}

.oo-ui-icon-newline:before {
	content:"subdirectory_arrow_left"
}

.oo-ui-icon-noWikiText:before {
	content:"code_off"
}

.oo-ui-icon-ocr:before {
	content:"feed"
}

.oo-ui-icon-outline:before {
	content:"drive_file_rename_outline"
}

.oo-ui-icon-puzzle:before {
	content:"extension"
}

.oo-ui-icon-quotes:before {
	content:"format_quote"
}

.oo-ui-icon-sandbox:before {
	content:"edit_note"
}

.oo-ui-icon-searchCaseSensitive:before {
	content:"text_fields"
}

.oo-ui-icon-searchDiacritics:before {
	content:"font_download"
}

.oo-ui-icon-searchRegularExpression:before {
	content:"emergency"
}

.oo-ui-icon-signature:before {
	content:"draw"
}

.oo-ui-icon-specialCharacter:before {
	content:"local_parking"
}

.oo-ui-icon-table:before {
	content:"window"
}

.oo-ui-icon-tableAddColumnAfter:before {
	content:"vertical_split"
}

.oo-ui-icon-tableAddColumnBefore:before {
	content:"vertical_split";
	--icon-rotate:180deg;
}

.oo-ui-icon-tableAddRowAfter:before {
	content:"vertical_split";
	--icon-rotate:90deg;
}

.oo-ui-icon-tableAddRowBefore:before {
	content:"vertical_split";
	--icon-rotate:-90deg;
}

.oo-ui-icon-tableCaption:before {
	content:"subtitles";
}

.oo-ui-icon-tableMergeCells:before {
	content:"pages";
}

.oo-ui-icon-tableMoveColumnAfter:before {
	content:"space_dashboard";
}

.oo-ui-icon-tableMoveColumnBefore:before {
	content:"space_dashboard";
	--icon-rotate:180deg;
}

.oo-ui-icon-tableMoveRowAfter:before {
	content:"space_dashboard";
	--icon-rotate:90deg;
}

.oo-ui-icon-tableMoveRowBefore:before {
	content:"space_dashboard";
	--icon-rotate:-90deg;
}

.oo-ui-icon-templateAdd:before {
	content:"post_add";
}

.oo-ui-icon-translation:before {
	content:"translate";
}

.oo-ui-icon-wikiText:before {
	content:"code";
}

/* Icons - editing citation */
.oo-ui-icon-book:before {
	content:"import_contacts";
}

.oo-ui-icon-journal:before {
	content:"note";
}

.oo-ui-icon-newspaper:before {
	content:"newspaper";
}

.oo-ui-icon-reference:before {
	content:"book";
}

.oo-ui-icon-referenceExisting:before {
	content:"collection_bookmarks";
}

.oo-ui-icon-references:before {
	content:"bookmarks";
}

/* Icons - media */
.oo-ui-icon-camera:before {
	content:"photo_camera";
}

.oo-ui-icon-chart:before {
	content:"leaderboard";
}

.oo-ui-icon-exitFullscreen:before {
	content:"fullscreen_exit";
}

.oo-ui-icon-fullScreen:before {
	content:"fullscreen";
}

.oo-ui-icon-image:before {
	content:"image";
}
.oo-ui-icon-imageAdd:before {
	content:"add_photo_alternative";
}

.oo-ui-icon-imageBroken:before {
	content:"compare";
	--icon-rotate:90deg;
}

.oo-ui-icon-imageLock:before {
	content:"wallpaper";
}

.oo-ui-icon-imageGallery:before {
	content:"collections";
}

.oo-ui-icon-musicalScore:before {
	content:"audiotrack";
}

.oo-ui-icon-pause:before {
	content:"pause";
}

.oo-ui-icon-play:before {
	content:"play_arrow";
}

.oo-ui-icon-stop:before {
	content:"stop";
}

.oo-ui-icon-volumeDown:before {
	content:"volume_down";
}

.oo-ui-icon-volumeOff:before {
	content:"volume_off";
}

.oo-ui-icon-volumeUp:before {
	content:"volume_up";
}

.oo-ui-icon-zoomIn:before {
	content:"zoom_in";
}

.oo-ui-icon-zoomOut:before {
	content:"zoom_out";
}

/* Icons - location */
.oo-ui-icon-globe:before {
	content:"language";
}

.oo-ui-icon-map:before {
	content:"map";
}

.oo-ui-icon-mapPin:before {
	content:"place";
}

.oo-ui-icon-mapPinAdd:before {
	content:"add_loaction";
}

.oo-ui-icon-mapTrail:before {
	content:"merge";
}

/* Icons - user */
.oo-ui-icon-userAdd:before {
	content:"person_add_alt";
}

.oo-ui-icon-userAnonymous:before {
	content:"face";
}

.oo-ui-icon-userAvatar:before {
	content:"person";
}

.oo-ui-icon-userAvatarOutline:before {
	content:"person_outline";
}

.oo-ui-icon-userContributions:before {
	content:"recent_actions";
}

.oo-ui-icon-userGroup:before {
	content:"people";
}


.oo-ui-icon-userTalk:before {
	content:"3p";
}

.oo-ui-icon-watchlist:before {
	content:"alarm_on";
}

/* Icons - layout */
.oo-ui-icon-menu:before {
	content:"menu";
}

.oo-ui-image-invert.oo-ui-icon-recentChanges:before {
	content:"trending_up";
}

.oo-ui-icon-textFlow:before {
	content:"format_align_left";
}

.oo-ui-icon-textSummary:before {
	content:"drag_handler";
}


.oo-ui-icon-viewCompact:before {
	content:"apps";
}

.oo-ui-icon-viewDetails:before {
	content:"view_list";
}

/* Icons - accessibility */
.oo-ui-icon-bright:before {
	content:"brightness_7";
}

.oo-ui-icon-halfBright:before {
	content:"brightness_6";
}

.oo-ui-icon-notBright:before {
	content:"brightness_1";
}

.oo-ui-icon-eye:before {
	content:"visibility";
}

.oo-ui-icon-eyeClosed:before {
	content:"visibility_off";
}

.oo-ui-icon-moon:before {
	content:"brightness_3";
}

.oo-ui-icon-largerText:before {
	content:"title";
	--icon-scale:2.5;
}

.oo-ui-icon-smallerText:before {
	content:"title";
	--icon-scale:1.5;
}

.oo-ui-icon-visionSimulator:before {
	content:"vrpano";
}

/* Icons - wikimedia */
.oo-ui-icon-logoCC:before {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3ECreative Commons logo%3C/title%3E%3Cpath d=%22M10 18a8 8 0 118-8 8 8 0 01-8 8zm0-18A9.94 9.94 0 000 10a9.94 9.94 0 0010 10 9.94 9.94 0 0010-10A9.94 9.94 0 0010 0z%22/%3E%3Cpath d=%22M13.49 11.67c-1 0-1.43-.57-1.43-1.71s.43-1.71 1.43-1.71c.57 0 .86.29 1.14.86l1.29-.71A2.8 2.8 0 0013.2 7a2.91 2.91 0 00-2.14.86A2.7 2.7 0 0010.2 10a3 3 0 00.86 2.29 2.91 2.91 0 002.14.86 3.24 3.24 0 002.71-1.57L14.63 11a1.46 1.46 0 01-1.14.71zm-6 0c-1 0-1.43-.57-1.43-1.71s.43-1.71 1.43-1.71c.57 0 .86.29 1.14.86l1.29-.71A2.8 2.8 0 007.2 7a2.91 2.91 0 00-2.14.86A2.7 2.7 0 004.2 10a3 3 0 00.86 2.29 2.91 2.91 0 002.14.86 3.24 3.24 0 002.71-1.57L8.63 11a1.46 1.46 0 01-1.14.71z%22/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3ECreative Commons logo%3C/title%3E%3Cpath d=%22M10 18a8 8 0 118-8 8 8 0 01-8 8zm0-18A9.94 9.94 0 000 10a9.94 9.94 0 0010 10 9.94 9.94 0 0010-10A9.94 9.94 0 0010 0z%22/%3E%3Cpath d=%22M13.49 11.67c-1 0-1.43-.57-1.43-1.71s.43-1.71 1.43-1.71c.57 0 .86.29 1.14.86l1.29-.71A2.8 2.8 0 0013.2 7a2.91 2.91 0 00-2.14.86A2.7 2.7 0 0010.2 10a3 3 0 00.86 2.29 2.91 2.91 0 002.14.86 3.24 3.24 0 002.71-1.57L14.63 11a1.46 1.46 0 01-1.14.71zm-6 0c-1 0-1.43-.57-1.43-1.71s.43-1.71 1.43-1.71c.57 0 .86.29 1.14.86l1.29-.71A2.8 2.8 0 007.2 7a2.91 2.91 0 00-2.14.86A2.7 2.7 0 004.2 10a3 3 0 00.86 2.29 2.91 2.91 0 002.14.86 3.24 3.24 0 002.71-1.57L8.63 11a1.46 1.46 0 01-1.14.71z%22/%3E%3C/svg%3E");
/* Additional Styling */
  background-color:currentColor;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.oo-ui-icon-logoWikidata:before {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 stroke-width=%2230.2%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3EWikidata logo%3C/title%3E%3Cpath d=%22M0 4v12.258h.742V4zm1.482 0v12.258h2.223V4zm2.96 0v12.258H6.67V4zm2.964 0v12.258h.744V4zm1.48 0v12.258h.745V4zm1.483 0v12.258h2.224V4zm2.962 0v12.258h.742V4zm1.482 0v12.258h2.223V4zm2.96 0v12.258h.744V4zm1.484 0v12.258H20V4z%22/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 stroke-width=%2230.2%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3EWikidata logo%3C/title%3E%3Cpath d=%22M0 4v12.258h.742V4zm1.482 0v12.258h2.223V4zm2.96 0v12.258H6.67V4zm2.964 0v12.258h.744V4zm1.48 0v12.258h.745V4zm1.483 0v12.258h2.224V4zm2.962 0v12.258h.742V4zm1.482 0v12.258h2.223V4zm2.96 0v12.258h.744V4zm1.484 0v12.258H20V4z%22/%3E%3C/svg%3E");
/* Additional Styling */
  background-color:currentColor;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.oo-ui-icon-logoWikimedia:before {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3EWikimedia logo%3C/title%3E%3Cpath d=%22M6.08 5.555a6.048 6.048 0 003.055 10.593v-7.54L6.08 5.556zm7.828.004l-3.05 3.05v7.536a6.048 6.048 0 003.05-10.587z%22/%3E%3Cpath d=%22M3.414 2.89C1.424 4.69.164 7.287.168 10.173c.007 5.406 4.42 9.806 9.828 9.806 5.407 0 9.82-4.4 9.828-9.806.004-2.886-1.255-5.482-3.246-7.285L14.865 4.6a7.355 7.355 0 012.524 5.568c-.007 4.09-3.3 7.375-7.394 7.375S2.61 14.26 2.604 10.17a7.355 7.355 0 012.523-5.568L3.414 2.89z%22/%3E%3Ccircle cx=%2210%22 cy=%223.32%22 r=%223.32%22/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3EWikimedia logo%3C/title%3E%3Cpath d=%22M6.08 5.555a6.048 6.048 0 003.055 10.593v-7.54L6.08 5.556zm7.828.004l-3.05 3.05v7.536a6.048 6.048 0 003.05-10.587z%22/%3E%3Cpath d=%22M3.414 2.89C1.424 4.69.164 7.287.168 10.173c.007 5.406 4.42 9.806 9.828 9.806 5.407 0 9.82-4.4 9.828-9.806.004-2.886-1.255-5.482-3.246-7.285L14.865 4.6a7.355 7.355 0 012.524 5.568c-.007 4.09-3.3 7.375-7.394 7.375S2.61 14.26 2.604 10.17a7.355 7.355 0 012.523-5.568L3.414 2.89z%22/%3E%3Ccircle cx=%2210%22 cy=%223.32%22 r=%223.32%22/%3E%3C/svg%3E");
/* Additional Styling */
  background-color:currentColor;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.oo-ui-icon-logoWikimediaCommons:before {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3EWikimedia Commons logo%3C/title%3E%3Cpath d=%22M13.09 6.18a3.68 3.68 0 01-2.18-2.55c.09.09 1.82.91 1.82.91L10 0 7.27 4.55l1.82-.91a5.08 5.08 0 00.55 1.91 5.13 5.13 0 002 2 8.86 8.86 0 012 1.18l-.64.63-.45-.45-.26 1.54 1.54-.26-.45-.45.62-.65a5.69 5.69 0 011.45 3.45h-.91v-.73l-1.26.91 1.26.91v-.73h.91A5.21 5.21 0 0114 16.36l-.64-.64.45-.45-1.53-.27.26 1.54.45-.45.64.64a5.69 5.69 0 01-3.45 1.45v-.91h.73L10 16l-.91 1.27h.73v.91a5.21 5.21 0 01-3.45-1.45l.63-.64.45.45.27-1.54-1.54.26.45.45-.63.65a5.69 5.69 0 01-1.45-3.45h.91v.73l1.26-.91-1.26-.91v.73h-.91A5.21 5.21 0 016 9.09l.64.64-.45.45 1.54.26-.28-1.53-.45.45-.64-.64L5 7.45a7.29 7.29 0 108.09-1.27z%22/%3E%3Ccircle cx=%2210%22 cy=%2212.7%22 r=%222.5%22/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3EWikimedia Commons logo%3C/title%3E%3Cpath d=%22M13.09 6.18a3.68 3.68 0 01-2.18-2.55c.09.09 1.82.91 1.82.91L10 0 7.27 4.55l1.82-.91a5.08 5.08 0 00.55 1.91 5.13 5.13 0 002 2 8.86 8.86 0 012 1.18l-.64.63-.45-.45-.26 1.54 1.54-.26-.45-.45.62-.65a5.69 5.69 0 011.45 3.45h-.91v-.73l-1.26.91 1.26.91v-.73h.91A5.21 5.21 0 0114 16.36l-.64-.64.45-.45-1.53-.27.26 1.54.45-.45.64.64a5.69 5.69 0 01-3.45 1.45v-.91h.73L10 16l-.91 1.27h.73v.91a5.21 5.21 0 01-3.45-1.45l.63-.64.45.45.27-1.54-1.54.26.45.45-.63.65a5.69 5.69 0 01-1.45-3.45h.91v.73l1.26-.91-1.26-.91v.73h-.91A5.21 5.21 0 016 9.09l.64.64-.45.45 1.54.26-.28-1.53-.45.45-.64-.64L5 7.45a7.29 7.29 0 108.09-1.27z%22/%3E%3Ccircle cx=%2210%22 cy=%2212.7%22 r=%222.5%22/%3E%3C/svg%3E");
/* Additional Styling */
  background-color:currentColor;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.oo-ui-icon-logoWikimediaDiscovery:before {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3EWikimedia Discovery logo%3C/title%3E%3Cpath d=%22M12 17c0 1.1-2 2-2 2s-2-.9-2-2m2-10a1.54 1.54 0 01-1.5-1.5 1.5 1.5 0 013 0A1.54 1.54 0 0110 7zm3.3 4.7C14.1 7.9 12.7 1 10 1S5.8 7.7 6.6 11.5L5 15h2.7l.3 1h4c.2-.3.1-.5.3-1H15z%22/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3EWikimedia Discovery logo%3C/title%3E%3Cpath d=%22M12 17c0 1.1-2 2-2 2s-2-.9-2-2m2-10a1.54 1.54 0 01-1.5-1.5 1.5 1.5 0 013 0A1.54 1.54 0 0110 7zm3.3 4.7C14.1 7.9 12.7 1 10 1S5.8 7.7 6.6 11.5L5 15h2.7l.3 1h4c.2-.3.1-.5.3-1H15z%22/%3E%3C/svg%3E");
/* Additional Styling */
  background-color:currentColor;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.oo-ui-icon-logoWikipedia:before {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3EWikipedia logo%3C/title%3E%3Cpath d=%22M11.14 4H14a.69.69 0 010 .65c-1 .16-1.36.91-1.81 1.83l-1.4 2.75 2.35 5.21h.07l3.52-8.1c.44-1.07.4-1.59-.79-1.7a.68.68 0 010-.65h3.45a.68.68 0 010 .65c-1.21.16-1.42.91-1.81 1.83l-4.37 10.08c-.13.3-.24.45-.44.45s-.33-.16-.42-.45l-2.48-5.73-2.72 5.73c-.11.3-.24.45-.44.45s-.31-.16-.42-.45l-4-10.09c-.57-1.4-.6-1.7-1.65-1.8A.68.68 0 01.62 4h3.91a.68.68 0 010 .65c-1.16.13-1.21.45-.74 1.58l3.41 8.19h.05L9.3 10 7.78 6.45C7.17 5.05 7 4.77 6.24 4.66a.69.69 0 010-.65h3.32a.68.68 0 010 .65c-.74.12-.7.45-.19 1.58l.87 2 .08.09 1-2c.57-1.14.64-1.58-.15-1.7a.69.69 0 01-.03-.63z%22/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3EWikipedia logo%3C/title%3E%3Cpath d=%22M11.14 4H14a.69.69 0 010 .65c-1 .16-1.36.91-1.81 1.83l-1.4 2.75 2.35 5.21h.07l3.52-8.1c.44-1.07.4-1.59-.79-1.7a.68.68 0 010-.65h3.45a.68.68 0 010 .65c-1.21.16-1.42.91-1.81 1.83l-4.37 10.08c-.13.3-.24.45-.44.45s-.33-.16-.42-.45l-2.48-5.73-2.72 5.73c-.11.3-.24.45-.44.45s-.31-.16-.42-.45l-4-10.09c-.57-1.4-.6-1.7-1.65-1.8A.68.68 0 01.62 4h3.91a.68.68 0 010 .65c-1.16.13-1.21.45-.74 1.58l3.41 8.19h.05L9.3 10 7.78 6.45C7.17 5.05 7 4.77 6.24 4.66a.69.69 0 010-.65h3.32a.68.68 0 010 .65c-.74.12-.7.45-.19 1.58l.87 2 .08.09 1-2c.57-1.14.64-1.58-.15-1.7a.69.69 0 01-.03-.63z%22/%3E%3C/svg%3E");
/* Additional Styling */
  background-color:currentColor;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

/* Indicators */
.oo-ui-indicator-clear:before {
	content:"cancel";
	--icon-scale:1.5;
}

.oo-ui-indicator-up:before {
	content:"keyboard_arrow_up";
	--icon-scale:1.5;
}

.oo-ui-indicator-down:before {
	content:"keyboard_arrow_down";
	--icon-scale:1.5;
}

.oo-ui-indicator-required:before {
	content:"emergency";
	--icon-scale:1.5;
}

/* Extensive */
.oo-ui-icon-pilcrow:before {
	content:"view_headline";
}

.oo-ui-icon-wrapping:before {
	content:"wrap_text";
}

.oo-ui-icon-gotoLine:before {
	content:"menu_open";
}

.oo-ui-icon-topicCollapse:before {
	content:"close_fullscreen";
}

.oo-ui-icon-topicExpand:before {
	content:"open_in_full";
}