/* OOUI Overrides for Evelution */
.oo-ui-flaggedElement-destructive  {
    --button-color: #dd3333!important;
    --button-color-dark: #e66666!important;
    --button-color-dark-super: #ec8c8c!important;
    --button-color-text: #ffffff!important;
    --button-color-text-dark: #bfbfbf!important;
    --button-color-content-bg-mix-light:var(--alert-color-content-bg-mix-light)!important;
    --button-color-content-bg-mix: var(--alert-color-content-bg-mix)!important;
}

/* Begin */
.disabled-theming,
.disabled-theming container,
.disabled-theming container > main {
/* Static */
--background-image:url("")!important;
--body-display:modern!important;
--background-size:cover!important;
--background-va:top!important;
--background-color:#f6f6f6!important;
--link-color:#0645ad!important;
--content-bg:#ffffff!important;
--content-border:#a2a9b1!important;
--content-color:#000000!important;
--button-color:#3366cc!important;
--community-header-bg:#a7d7f9;
--floating-header-bg:#ffffff;
/* Dynamic */
    --dropdown-bg: #dde7e8!important;
    --content-color-blend-light: #404040!important;
    --content-color-blend: #000000!important;
    --content-bg-dark: #bfbfbf!important;
    --content-bg-dark-super: #8f8f8f!important;
    --content-color-dark: #404040!important;
    --content-color-dark-super: #707070!important;
    --content-color-text: #ffffff!important;
    --content-color-text-inverted: #0e191a!important;
    --content-color-text-dark: #bfbfbf!important;
    --content-color-content-bg-mix-light: #cccccc!important;
    --content-color-content-bg-mix: #999999!important;
    --dropdown-bg-rgb: 221,231,232!important;
    --content-bg-rgb: 255,255,255!important;
    --content-bg-dark-rgb: 191,191,191!important;
    --content-bg-dark-super-rgb: 143,143,143!important;
    --content-color-rgb: 0,0,0!important;
    --content-color-dark-rgb: 64,64,64!important;
    --content-color-dark-super-rgb: 112,112,112!important;
    --content-color-text-rgb: 255,255,255!important;
    --content-color-text-inverted-rgb: 14,25,26!important;
    --content-color-text-dark-rgb: 191,191,191!important;
    --content-color-blend-light-rgb: 64,64,64!important;
    --content-color-blend-rgb: 0,0,0!important;
    --button-color-blend-light: #668cd9!important;
    --button-color-blend: #3366cc!important;
    --button-color-dark: #668cd9!important;
    --button-color-dark-super: #8ca9e3!important;
    --button-color-text: #ffffff!important;
    --button-color-text-inverted: #0e191a!important;
    --button-color-text-dark: #bfbfbf!important;
    --button-color-content-bg-mix-light: #d6e0f5!important;
    --button-color-content-bg-mix: #adc2eb!important;
    --button-color-rgb: 51,102,204!important;
    --button-color-dark-rgb: 102,140,217!important;
    --button-color-dark-super-rgb: 140,169,227!important;
    --button-color-text-rgb: 255,255,255!important;
    --button-color-text-inverted-rgb: 14,25,26!important;
    --button-color-text-dark-rgb: 191,191,191!important;
    --button-color-blend-light-rgb: 102,140,217!important;
    --button-color-blend-rgb: 51,102,204!important;
    --community-header-bg-blend-light: #a7d7f9!important;
    --community-header-bg-blend: #46abf2!important;
    --community-header-dark: #46abf2!important;
    --community-header-dark-super: #0f87db!important;
    --community-header-text: #0e191a!important;
    --community-header-text-inverted: #ffffff!important;
    --community-header-text-dark: #376266!important;
    --community-header-bg-content-bg-mix-light: #edf7fe!important;
    --community-header-bg-content-bg-mix: #dceffd!important;
    --community-header-bg-rgb: 167,215,249!important;
    --community-header-dark-rgb: 70,171,242!important;
    --community-header-dark-super-rgb: 15,135,219!important;
    --community-header-text-rgb: 14,25,26!important;
    --community-header-text-inverted-rgb: 255,255,255!important;
    --community-header-text-dark-rgb: 55,98,102!important;
    --community-header-bg-blend-light-rgb: 167,215,249!important;
    --community-header-bg-blend-rgb: 70,171,242!important;
    --link-color-blend-light: #0f66f7!important;
    --link-color-blend: #0645ad!important;
    --link-color-dark: #0f66f7!important;
    --link-color-dark-super: #4b8cf9!important;
    --link-color-text: #ffffff!important;
    --link-color-text-inverted: #0e191a!important;
    --link-color-text-dark: #bfbfbf!important;
    --link-color-content-bg-mix-light: #cddaef!important;
    --link-color-content-bg-mix: #9bb5de!important;
    --link-color-rgb: 6,69,173!important;
    --link-color-dark-rgb: 15,102,247!important;
    --link-color-dark-super-rgb: 75,140,249!important;
    --link-color-text-rgb: 255,255,255!important;
    --link-color-text-inverted-rgb: 14,25,26!important;
    --link-color-text-dark-rgb: 191,191,191!important;
    --link-color-blend-light-rgb: 15,102,247!important;
    --link-color-blend-rgb: 6,69,173!important;
    --content-border-blend-light: #a2a9b1!important;
    --content-border-blend: #747e8a!important;
    --content-border-dark: #747e8a!important;
    --content-border-dark-super: #575f68!important;
    --content-border-text: #0e191a!important;
    --content-border-text-inverted: #ffffff!important;
    --content-border-text-dark: #376266!important;
    --content-border-content-bg-mix-light: #eceeef!important;
    --content-border-content-bg-mix: #dadde0!important;
    --content-border-rgb: 162,169,177!important;
    --content-border-dark-rgb: 116,126,138!important;
    --content-border-dark-super-rgb: 87,95,104!important;
    --content-border-text-rgb: 14,25,26!important;
    --content-border-text-inverted-rgb: 255,255,255!important;
    --content-border-text-dark-rgb: 55,98,102!important;
    --content-border-blend-light-rgb: 162,169,177!important;
    --content-border-blend-rgb: 116,126,138!important;
    --background-color-blend-light: #f6f6f6!important;
    --background-color-blend: #b9b9b9!important;
    --background-color-dark: #b9b9b9!important;
    --background-color-dark-super: #8a8a8a!important;
    --background-color-text: #0e191a!important;
    --background-color-text-inverted: #ffffff!important;
    --background-color-text-dark: #376266!important;
    --background-color-content-bg-mix-light: #fdfdfd!important;
    --background-color-content-bg-mix: #fbfbfb!important;
    --background-color-rgb: 246,246,246!important;
    --background-color-dark-rgb: 185,185,185!important;
    --background-color-dark-super-rgb: 138,138,138!important;
    --background-color-text-rgb: 14,25,26!important;
    --background-color-text-inverted-rgb: 255,255,255!important;
    --background-color-text-dark-rgb: 55,98,102!important;
    --background-color-blend-light-rgb: 246,246,246!important;
    --background-color-blend-rgb: 185,185,185!important;
    --floating-header-bg-blend-light: #ffffff!important;
    --floating-header-bg-blend: #bfbfbf!important;
    --floating-header-dark: #bfbfbf!important;
    --floating-header-dark-super: #8f8f8f!important;
    --floating-header-text: #0e191a!important;
    --floating-header-text-inverted: #ffffff!important;
    --floating-header-text-dark: #376266!important;
    --floating-header-bg-content-bg-mix-light: #ffffff!important;
    --floating-header-bg-content-bg-mix: #ffffff!important;
    --floating-header-bg-rgb: 255,255,255!important;
    --floating-header-dark-rgb: 191,191,191!important;
    --floating-header-dark-super-rgb: 143,143,143!important;
    --floating-header-text-rgb: 14,25,26!important;
    --floating-header-text-inverted-rgb: 255,255,255!important;
    --floating-header-text-dark-rgb: 55,98,102!important;
    --floating-header-bg-blend-light-rgb: 255,255,255!important;
    --floating-header-bg-blend-rgb: 191,191,191!important;
    --info-color-content-bg-mix-light: #dddede!important;
    --info-color-content-bg-mix: #bcbcbd!important;
    --success-color-content-bg-mix-light: #d0e7e2!important;
    --success-color-content-bg-mix: #a1cfc5!important;
    --warning-color-content-bg-mix-light: #fff5d6!important;
    --warning-color-content-bg-mix: #ffebad!important;
    --alert-color-content-bg-mix-light: #f8d6d6!important;
    --alert-color-content-bg-mix: #f1adad!important;
    --emphasis-bg: #afb5d0!important;
    --emphasis-bg-text: #0e191a!important;
    --emphasis-bg-text-inverted: #ffffff!important;
    --emphasis-bg-text-dark: #376266!important;
    --accent-bg: #8295ce!important;
    --accent-bg-text: #0e191a!important;
    --accent-bg-text-inverted: #ffffff!important;
    --accent-bg-text-dark: #376266!important;
    --emphasis-bg-rgb: 175,181,208!important;
    --emphasis-bg-text-rgb: 14,25,26!important;
    --emphasis-bg-text-inverted-rgb: 255,255,255!important;
    --emphasis-bg-text-dark-rgb: 55,98,102!important;
    --accent-bg-rgb: 130,149,206!important;
    --accent-bg-text-rgb: 14,25,26!important;
    --accent-bg-text-inverted-rgb: 255,255,255!important;
    --accent-bg-text-dark-rgb: 55,98,102!important;
}


/* Icons */
.oo-ui-iconElement-icon,
.oo-ui-indicatorElement-indicator {
  background:currentColor!Important;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}


/* Error Boxes */
.messagebox, .errorbox, .warningbox, .successbox {
    color: #0e191a;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 16px;
    border: 1px solid;
    padding: 12px 24px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
}

.messagebox {
    background-color: #eaecf0;
    border-color: #a2a9b1;
}

.errorbox {
    background-color: #fee7e6;
    border-color: #d33;
}

.warningbox {
    background-color: #fef6e7;
    border-color: #fc3;
}

.successbox {
    background-color: #d5fdf4;
    border-color: #14866d;
}

/* MediaWiki */
.mw-prefs-buttons {
	background-color:var(--content-bg);
	border-top-color:rgb(var(--content-border-rgb));
	bottom:var(--sticky-nav-size);
	transition:bottom 400ms ease;
}

main[toolbar="false"] .mw-prefs-buttons {
	bottom:0;
}

body .mw-notification {
	border-color:rgb(var(--content-border-rgb));
	color:rgb(var(--content-color-rgb));
	background-color:rgba(var(--dropdown-bg-rgb),0.7);
	-webkit-backdrop-filter:var(--backdrop-filter);
	backdrop-filter:var(--backdrop-filter);
	border-radius:var(--border-radius);
}

body .mw-notification.mw-notification-type-error {
	color:#0e191a;
	background-color:rgba(254,231,230,0.7);
}

body .mw-notification.mw-notification-type-success {
	color:#0e191a;
	background-color:rgba(213,253,244,0.7);
}

body .mw-notification.mw-notification-type-warn {
	color:#0e191a;
	background-color:rgba(254,246,231,0.7);

}

body .catlinks {
	font-size:14px;
	border:1px solid rgb(var(--content-border-rgb));
	background-color:var(--dropdown-bg);
	padding:4px;
	margin-top:4px;
	clear:both;
}

body div.thumbinner,
body .thumbimage,
body li.gallerybox div.thumb {
	border-color:rgb(var(--content-border-rgb));
	background-color:var(--dropdown-bg);
}

.mw-content-ltr .mw-editsection, .mw-content-rtl .mw-content-ltr .mw-editsection {
	margin-left:1em;
}

.mw-editsection, .mw-editsection-like {
    font-size: small;
    font-weight: normal;
    margin-left: 1em;
    vertical-align: baseline;
    line-height: 1em;
}

/* Chexbox & Radio Boxes */
body .oo-ui-radioInputWidget [type='radio'],
body .mw-ui-radio:not(#noop) [type='radio'],
body .oo-ui-checkboxInputWidget [type='checkbox'],
body .mw-ui-checkbox:not(#noop) [type='checkbox'] {
	opacity:1!important;
}

body .oo-ui-radioInputWidget [type='radio'] + span,
body .mw-ui-radio:not(#noop) [type='radio'] + label:before,
body .oo-ui-checkboxInputWidget [type='checkbox'] + span,
body .mw-ui-checkbox:not(#noop) [type='checkbox'] + label:before {
	opacity:0!important;
}


body .mw-ui-checkbox:not(#noop) [type='checkbox'],
body .mw-ui-radio:not(#noop) [type='radio'] {
	display:inline-block;
}

body .tux-editor-header {
	color:rgb(var(--content-color-rgb));
}

/* Tabs */
body .oo-ui-tabSelectWidget-framed {
	background-color:var(--dropdown-bg);
}

body .oo-ui-panelLayout-framed,
.mw-prefs-tabs-wrapper.oo-ui-panelLayout-framed, .mw-prefs-tabs > .oo-ui-menuLayout-content > .oo-ui-indexLayout-stackLayout > .oo-ui-tabPanelLayout {
	border-color:rgb(var(--content-border-rgb));
}

body .oo-ui-tabOptionWidget {
	color:rgb(var(--content-color-rgb));
}

body .oo-ui-tabSelectWidget-framed .oo-ui-tabOptionWidget.oo-ui-widget-enabled:hover {
	background-color:rgba(var(--content-bg-rgb),0.3);
	color:rgb(var(--content-color-rgb));
}

body .oo-ui-tabSelectWidget-framed .oo-ui-tabOptionWidget.oo-ui-widget-enabled:active {
	background-color:rgba(var(--content-bg-rgb),0.8);
	color:rgb(var(--content-color-rgb));
}

body .oo-ui-tabSelectWidget-framed .oo-ui-tabOptionWidget.oo-ui-optionWidget-selected,
body .oo-ui-tabSelectWidget-framed .oo-ui-tabOptionWidget.oo-ui-widget-enabled.oo-ui-optionWidget-selected:hover {
	background-color:var(--content-bg);
	color:rgb(var(--content-color-rgb));	
}

body .oo-ui-tabSelectWidget-framed .oo-ui-tabOptionWidget.oo-ui-optionWidget-selected .oo-ui-labelElement-label {
	border-bottom-color:transparent;
}

/* All Buttons */
.oo-ui-buttonElement-framed.oo-ui-widget-disabled > .oo-ui-buttonElement-button {
	filter:grayscale(100%)!important;
}

body .oo-ui-buttonElement > .oo-ui-buttonElement-button,
body .mw-ui-button {
    transition:background-color 200ms, border-color 200ms, outline-offset 50ms, outline-color 200ms, color 200ms, box-shadow 200ms!important;
    font-size:13px;
    font-family:var(--secondary-font);
    font-weight:600;
    padding:7px 12px;
    border-radius:var(--border-radius); 
    display:inline-flex;
    align-items:center;
    justify-content:center;
    vertical-align:middle;
    line-height:16px;
    text-decoration:none;
    margin:2.5px;
    border-width:0;
    outline:2px solid transparent;
    outline-offset:0px;
}

.

body .oo-ui-buttonElement-frameless.oo-ui-iconElement > .oo-ui-buttonElement-button {
	padding:0;
	margin:0;
}

body .oo-ui-buttonSelectWidget .oo-ui-buttonOptionWidget .oo-ui-buttonElement-button {
	margin-left:2.5px;
	margin-right:2.5px;
}

body .mw-rcfilters-ui-liveUpdateButtonWidget.oo-ui-toggleWidget-on:after {
	background:rgba(var(--button-color-text-rgb),0.5);
	mix-blend-mode:normal;
}

/* Frameless Buttons */
body .oo-ui-buttonElement-frameless.oo-ui-labelElement > .oo-ui-buttonElement-button,
body .oo-ui-buttonElement-frameless.oo-ui-widget-enabled.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button {
	background-color:transparent!important;
	color:var(--button-color);
	border-color:transparent!important;
}

body .oo-ui-buttonElement-frameless.oo-ui-widget-enabled > .oo-ui-buttonElement-button:hover,
body .oo-ui-buttonElement-frameless.oo-ui-widget-enabled.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button:hover {
	color:var(--button-color-dark);
}

body .oo-ui-buttonElement-frameless.oo-ui-widget-enabled.oo-ui-buttonElement-pressed > input.oo-ui-buttonElement-button, 
body .oo-ui-buttonElement-frameless.oo-ui-widget-enabled > .oo-ui-buttonElement-button:active,
body .oo-ui-buttonElement-frameless.oo-ui-widget-enabled.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button:active, 
body .oo-ui-buttonElement-frameless.oo-ui-widget-enabled.oo-ui-flaggedElement-destructive.oo-ui-buttonElement-pressed > .oo-ui-buttonElement-button {
	color:var(--button-color-dark-super);
}



body .oo-ui-buttonElement-frameless.oo-ui-widget-enabled > .oo-ui-buttonElement-button {
	color:rgb(var(--content-color-rgb));
}


body .oo-ui-buttonElement-frameless.oo-ui-widget-enabled > .oo-ui-buttonElement-button:hover {
	color:var(--content-color-dark);
}

body .oo-ui-buttonElement-frameless.oo-ui-widget-enabled.oo-ui-buttonElement-pressed > input.oo-ui-buttonElement-button, 
body .oo-ui-buttonElement-frameless.oo-ui-widget-enabled > .oo-ui-buttonElement-button:active {
	color:var(--content-color-dark-super);
}

/* Framelsss Primary */
body .oo-ui-buttonElement-frameless.oo-ui-widget-enabled.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button {
	background-color:transparent!important;
	color:var(--button-color);
	border-color:transparent!important;
}

body .oo-ui-buttonElement-frameless.oo-ui-widget-enabled.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:hover {
	color:var(--button-color-dark);
}


body .oo-ui-buttonElement-frameless.oo-ui-widget-enabled.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:active {
	color:var(--button-color-dark-super); /* color:var(--button-color-dark-super); */
}


/* Secondary Buttons */


body .oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button,
body .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button,
body .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button,
body .mw-ui-button,
body .mw-button:disabled {
    border-color:var(--button-color);
    background-color:var(--content-bg);
    color:var(--button-color);
    box-shadow:0 0 1.5px 1.5px var(--content-bg);
}

body .oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button:focus,
body .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:focus,
body .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button:focus,
body .mw-ui-button:focus {
    border-color:var(--button-color);
    background-color:var(--content-bg);
    color:var(--button-color);
    box-shadow:0 0 1.5px 1.5px var(--content-bg);  
}


body .oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button:hover,
body .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-progressive  > .oo-ui-buttonElement-button:hover,
body .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-destructive  > .oo-ui-buttonElement-button:hover,
body .mw-ui-button:hover {
    border-color:var(--button-color-dark);
    background-color:var(--button-color-content-bg-mix-light);
    color:var(--button-color);
    box-shadow:0 0 1.5px 1.5px var(--button-color-content-bg-mix-light);
}

body .oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button:active, 
body .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-pressed > .oo-ui-buttonElement-button,
body .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:active, 
body .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-pressed.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button,
body .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button:active, 
body .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-pressed.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button,
body .mw-ui-button:active {
    border-color:var(--button-color-dark-super);
    background-color:var(--button-color-content-bg-mix);
    color:var(--button-color); /* color:var(--button-color-dark-super); */ 
    box-shadow:0 0 1.5px 1.5px var(--button-color-content-bg-mix);
}

body .oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button:focus:not(:active),
body .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:focus:not(:active),
body .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button:focus:not(:active),
body .mw-ui-button:focus:not(:active) {
  outline-color:currentcolor;
  outline-offset:-2px;
    text-decoration:none;
}


/* Primary Buttons */

body .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button,
body .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button,
body .oo-ui-buttonElement-framed.oo-ui-widget-disabled > .oo-ui-buttonElement-button,
body .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-active > .oo-ui-buttonElement-button,
body .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-active > .oo-ui-buttonElement-button:focus,
body .oo-ui-buttonSelectWidget.oo-ui-widget-enabled:focus .oo-ui-buttonOptionWidget.oo-ui-optionWidget-selected .oo-ui-buttonElement-button,
body .mw-ui-button.mw-ui-progressive,
body .mw-ui-button.mw-ui-progressive:disabled {
    border-color:var(--button-color);
    background-color:var(--button-color);
    color:var(--button-color-text);
    box-shadow:0 0 1.5px 1.5px var(--button-color);
}

body .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:focus,
body .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button:focus,
body .mw-ui-button.mw-ui-progressive:focus {
    box-shadow:0 0 1.5px 1.5px var(--button-color);
    border-color:var(--button-color);
    background-color:var(--button-color);
    color:var(--button-color-text);
}

body .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:hover,
body .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button:hover,
body .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-active > .oo-ui-buttonElement-button:focus:hover,
body .oo-ui-buttonSelectWidget.oo-ui-widget-enabled:focus:hover .oo-ui-buttonOptionWidget.oo-ui-optionWidget-selected .oo-ui-buttonElement-button,
body .mw-ui-button.mw-ui-progressive:hover  {
    border-color:var(--button-color-dark);
    background-color:var(--button-color-dark);
    color:var(--button-color-text);
    box-shadow:0 0 1.5px 1.5px var(--button-color-dark);
}

body .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:active, 
body .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button:active, 
body .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive.oo-ui-buttonElement-pressed > .oo-ui-buttonElement-button, 
body .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive.oo-ui-buttonElement-active > .oo-ui-buttonElement-button, 
body .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive.oo-ui-popupToolGroup-active > .oo-ui-buttonElement-button,
body .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-active > .oo-ui-buttonElement-button:focus:active,
body .oo-ui-buttonSelectWidget.oo-ui-widget-enabled:focus:active .oo-ui-buttonOptionWidget.oo-ui-optionWidget-selected .oo-ui-buttonElement-button,
body .mw-ui-button.mw-ui-progressive:active  {
    border-color:var(--button-color-dark-super);
    background-color:var(--button-color-dark-super);
    color:var(--button-color-text);
    box-shadow:0 0 1.5px 1.5px var(--button-color-dark-super);
}

body .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:focus:not(:active),
body .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button:focus:not(:active),
body .mw-ui-button.mw-ui-progressive:focus:not(:active) {
  outline-color:currentcolor;
  outline-offset:-2px;
  border-color:var(--button-color);
  color:var(--button-color-text-dark);
    text-decoration:none;
}

/* Widget */
body .oo-ui-tagMultiselectWidget.oo-ui-widget-enabled,
body .oo-ui-tagMultiselectWidget.oo-ui-widget-enabled.oo-ui-tagMultiselectWidget-outlined {
	background-color:var(--dropdown-bg);
}

body .mw-rcfilters-ui-filterTagMultiselectWidget.oo-ui-widget-enabled .oo-ui-tagMultiselectWidget-handle {
	background-color:var(--dropdown-bg);
	color:rgb(var(--content-color-rgb));
	border-color:rgb(var(--content-border-rgb));
}

body .mw-rcfilters-ui-filterTagMultiselectWidget-views-select-widget.oo-ui-widget {
	border-color:rgb(var(--content-border-rgb));
	height:32.5px;
}

body .oo-ui-menuSelectWidget,
body .wikiEditor-ui-toolbar .group .tool-select .options,
body .oo-ui-popupWidget-popup,
body .mw-rcfilters-ui-changesListWrapperWidget .mw-changeslist-legend,
body .toc,
body .oo-ui-popupToolGroup-tools {
	background-color:var(--dropdown-bg);
	color:rgb(var(--content-color-rgb));
	border-color:rgb(var(--content-border-rgb));
}



body .mw-rcfilters-ui-filterMenuOptionWidget.oo-ui-flaggedElement-muted:not(.oo-ui-optionWidget-selected) {
	background-color:var(--dropdown-bg);
}

body .mw-rcfilters-ui-itemMenuOptionWidget:hover,
body .mw-rcfilters-ui-filterMenuOptionWidget.oo-ui-flaggedElement-muted.oo-ui-optionWidget-highlighted,
body .oo-ui-menuOptionWidget.oo-ui-optionWidget-highlighted,
body .mw-rcfilters-ui-filterMenuHeaderWidget-header,
body .mw-rcfilters-ui-menuSelectWidget-footer,
body .oo-ui-tool.oo-ui-widget-enabled > .oo-ui-tool-link:hover,
body .oo-ui-listToolGroup-tools .oo-ui-tool.oo-ui-widget-enabled:hover,
body .wikiEditor-ui-toolbar .group .tool-select .menu .options .option:hover {
	background-color:var(--content-bg);
	color:rgb(var(--content-color-rgb));

}

body .mw-rcfilters-ui-itemMenuOptionWidget-label-desc,
body .mw-rcfilters-ui-filterMenuOptionWidget.oo-ui-flaggedElement-muted .mw-rcfilters-ui-itemMenuOptionWidget-label-title, 
body .mw-rcfilters-ui-filterMenuOptionWidget.oo-ui-flaggedElement-muted .mw-rcfilters-ui-itemMenuOptionWidget-label-desc {
	color:var(--content-color-dark);
}

body .mw-rcfilters-ui-itemMenuOptionWidget-label-title {
	color:rgb(var(--content-color-rgb));
}


body .oo-ui-menuSectionOptionWidget {
	color:rgb(var(--content-border-rgb));
}

body .oo-ui-menuOptionWidget.oo-ui-optionWidget-selected {
	background-color:var(--link-color-content-bg-mix-light);
	color:var(--link-color);
}

body .mw-rcfilters-ui-itemMenuOptionWidget.oo-ui-optionWidget-selected {
	background-color:var(--link-color-content-bg-mix-light);
	color:var(--link-color);
}

body .oo-ui-menuOptionWidget.oo-ui-widget-enabled.oo-ui-optionWidget  {
	color:rgb(var(--content-color-rgb));
}

body .oo-ui-menuOptionWidget.oo-ui-optionWidget-selected.oo-ui-menuOptionWidget.oo-ui-optionWidget-highlighted,
body .oo-ui-menuOptionWidget.oo-ui-optionWidget-pressed.oo-ui-menuOptionWidget.oo-ui-optionWidget-highlighted {
	background-color:var(--link-color-content-bg-mix-light);
	color:var(--link-color);
}


body .mw-rcfilters-ui-filterMenuSectionOptionWidget {
	color:var(--content-border-text);
	background-color:rgb(var(--content-border-rgb));
}

body .mw-rcfilters-ui-filterMenuSectionOptionWidget-header-title.oo-ui-labelElement-label {
	color:inherit;
}

body .mw-rcfilters-ui-filterMenuHeaderWidget-title,
body .mw-rcfilters-ui-viewSwitchWidget label.oo-ui-labelWidget {
	color:inherit;
}

body .oo-ui-buttonGroupWidget .oo-ui-buttonElement-framed:last-child .oo-ui-buttonElement-button {
	margin-left:2.5px;
}


body .oo-ui-tagItemWidget.oo-ui-widget-enabled {
	color:rgb(var(--content-color-rgb));
}

body .oo-ui-tagItemWidget.oo-ui-widget-enabled:not(.oo-ui-tagItemWidget-fixed),
body .oo-ui-tagMultiselectWidget.oo-ui-widget-enabled.oo-ui-tagMultiselectWidget-outlined .oo-ui-tagItemWidget.oo-ui-widget-enabled {
	background-color:var(--content-bg);
	border-color:rgb(var(--content-border-rgb));
}

body .oo-ui-tagItemWidget.oo-ui-widget-enabled:focus {
	border-color:var(--link-color)!important;
	box-shadow:inset 0 0 0 1px var(--link-color);
}

body .oo-ui-buttonElement-frameless.oo-ui-widget-enabled > .oo-ui-buttonElement-button:hover {
	background-color:rgba(var(--content-color-rgb),0.02745098);
	color:rgb(var(--content-color-rgb));
}


body .oo-ui-tagItemWidget.oo-ui-widget-enabled .oo-ui-buttonElement-button {
	padding:0;
	margin:0;
}

body .oo-ui-tagItemWidget.oo-ui-widget-enabled .oo-ui-buttonElement-button:hover {
	background-color:var(--content-bg);
	color:rgb(var(--content-color-rgb));
}

body .oo-ui-buttonElement-frameless.oo-ui-widget-enabled > .oo-ui-buttonElement-button:active {
	background-color:rgba(var(--content-color-rgb),0.08235294);
	color:rgb(var(--content-color-rgb));
}


body .oo-ui-tagItemWidget.oo-ui-widget-enabled .oo-ui-buttonElement-button:active {
	background-color:var(--content-bg-dark);
	color:rgb(var(--content-color-rgb));
}


body .oo-ui-tagMultiselectWidget.oo-ui-widget-enabled.oo-ui-tagMultiselectWidget-outlined .mw-rcfilters-ui-tagItemWidget-selected.oo-ui-tagItemWidget.oo-ui-widget-enabled {
	background-color:var(--link-color-content-bg-mix-light);
	border-color:var(--link-color);
}

body .oo-ui-buttonElement-frameless.oo-ui-widget-enabled > .oo-ui-buttonElement-button:focus {
	border-color:var(--link-color);
	box-shadow:inset 0 0 0 1px var(--link-color);
}

body .oo-ui-popupWidget-anchored-top .oo-ui-popupWidget-anchor:after {
	border-bottom-color:rgb(var(--content-border-rgb));
}


body .oo-ui-popupWidget-anchored-top .oo-ui-popupWidget-anchor:before {
	border-bottom-color:transparent;
}


/*
body[dark-mode="true"] .oo-ui-iconElement-icon {
	filter:invert(1) hue-rotate(180deg)!Important;
}
*/

body #pagehistory li.selected {
	background-color:var(--dropdown-bg);
	border-color:rgb(var(--content-border-rgb));
	color:rgb(var(--content-color-rgb));
}




/* Input Boxes */
body .oo-ui-textInputWidget .oo-ui-inputWidget-input,
body .oo-ui-textInputWidget.oo-ui-widget-enabled .oo-ui-inputWidget-input,
body .oo-ui-dropdownWidget.oo-ui-widget-enabled .oo-ui-dropdownWidget-handle,
body .oo-ui-textInputWidget.oo-ui-widget-disabled .oo-ui-inputWidget-input,
body .mw-ui-input  {
	--input-box-color:var(--content-bg);
	--input-box-hover:var(--button-color-content-bg-mix-light);
	--input-box-focus:var(--button-color-content-bg-mix);
	--input-box-solid:var(--button-color);
    transition:background-color 200ms, border-color 200ms, outline-offset 50ms, outline-color 200ms, color 200ms, box-shadow 200ms!important;
    font-size:13px;
    font-family:var(--secondary-font);
    font-weight:600;
    color:rgb(var(--content-color-rgb));
    padding:9px 12px;
    border:0;
    border-color:rgb(var(--content-border-rgb));
    border-radius:var(--border-radius); 
    display:inline-flex;
    align-items:center;
    justify-content:flex-start;
    vertical-align:middle;
    line-height:16px;
    background-color:var(--input-box-color);
    outline:0px;
    outline-offset:0px;
    box-sizing:border-box;
    box-shadow:0 0 1.5px 1.5px var(--input-box-color);
    margin:2.5px;
}

body .oo-ui-textInputWidget.oo-ui-widget-disabled .oo-ui-inputWidget-input {
    box-shadow:0 0 1.5px 1.5px var(--input-box-color)!important;
}

body .oo-ui-numberInputWidget-buttoned .oo-ui-inputWidget-input {
	border-radius:0;
	padding-top:16px;
	padding-bottom:16px;
	margin-left:0!Important;
	margin-right:0!important;
	
}

body .oo-ui-tagMultiselectWidget.oo-ui-tagMultiselectWidget-outlined .oo-ui-inputWidget-input {
	margin-left:0!Important;
	margin-right:0!important;
}

body .oo-ui-comboBoxInputWidget .oo-ui-inputWidget-input {
	padding-top:16px;
	padding-bottom:16px;
	margin-left:0!Important;
	margin-right:0!important;
}

body .oo-ui-actionFieldLayout .oo-ui-actionFieldLayout-input > .oo-ui-widget.oo-ui-textInputWidget > .oo-ui-inputWidget-input, 
body .oo-ui-actionFieldLayout .oo-ui-actionFieldLayout-input > .oo-ui-widget .oo-ui-dropdownWidget-handle,
body .oo-ui-actionFieldLayout .oo-ui-actionFieldLayout-input > .oo-ui-widget .oo-ui-tagMultiselectWidget-handle {
	padding-top:16px;
	padding-bottom:16px;
	border-radius:var(--border-radius) 0 0 var(--border-radius);
}

body .mw-ui-input:invalid {
    box-shadow:0 0 1.5px 1.5px var(--input-box-color);
}

body .oo-ui-textInputWidget.oo-ui-iconElement .oo-ui-inputWidget-input {
    padding-left: 31.571px;
    margin: 0;
    border-radius: 0;
    border: 1px solid rgb(var(--content-border-rgb));
    box-shadow: none!important;
    box-sizing: content-box;
    padding-top: 0;
    padding-bottom: 0;
    box-sizing: border-box;
}

body .oo-ui-dropdownWidget.oo-ui-indicatorElement .oo-ui-dropdownWidget-handle {
    padding-left: 31.571px;
}

body .oo-ui-textInputWidget.oo-ui-widget-disabled .oo-ui-inputWidget-input {
	filter:grayscale(1)!important;
	opacity:1;
}

body .mw-rcfilters-ui-filterTagMultiselectWidget .oo-ui-tagMultiselectWidget-input input {
	height:32.5px;
}

body .oo-ui-buttonElement-frameless.oo-ui-iconElement > .oo-ui-buttonElement-button {
	margin-top:0;
	padding-top:0;
	padding-bottom:0;
	padding-right:0;
}


body .oo-ui-textInputWidget.oo-ui-widget-enabled:hover .oo-ui-inputWidget-input,
body .oo-ui-dropdownWidget.oo-ui-widget-enabled.oo-ui-dropdownWidget-open .oo-ui-dropdownWidget-handle,
body .mw-ui-input:hover {
    background-color:var(--input-box-hover);
    box-shadow:0 0 1.5px 1.5px var(--input-box-hover);
    border-color:rgb(var(--content-border-rgb));
}

body .oo-ui-textInputWidget.oo-ui-widget-enabled .oo-ui-inputWidget-input:focus,
body .oo-ui-dropdownWidget.oo-ui-widget-enabled .oo-ui-dropdownWidget-handle:focus,
body .mw-ui-input:focus {
    background-color:var(--input-box-focus);
    box-shadow:0 0 1.5px 1.5px var(--input-box-focus);
    border-color:rgb(var(--content-border-rgb));
}

/* Select Boxes */

body .oo-ui-dropdownInputWidget.oo-ui-widget-enabled,
body .oo-ui-dropdownInputWidget.oo-ui-widget-enabled:hover {
	background-color:transparent;
}

body .oo-ui-dropdownWidget.oo-ui-widget-disabled .oo-ui-dropdownWidget-handle {
	filter:grayscale(100%)!important;
}

body .oo-ui-dropdownWidget.oo-ui-widget-enabled .oo-ui-dropdownWidget-handle,
body .oo-ui-dropdownWidget.oo-ui-widget-disabled .oo-ui-dropdownWidget-handle {
	--input-box-color:var(--content-bg);
	--input-box-hover:var(--button-color-content-bg-mix-light);
	--input-box-focus:var(--button-color-content-bg-mix);
	--input-box-solid:var(--button-color);
    transition:background-color 200ms, border-color 200ms, outline-offset 50ms, outline-color 200ms, color 200ms, box-shadow 200ms;
    font-size:13px;
    font-family:var(--secondary-font);
    font-weight:600;
    color:rgb(var(--content-color-rgb));
    border:0;
    border-color:rgb(var(--content-border-rgb));
/*    border-radius:var(--border-radius); */
    vertical-align:middle;
    background-color:var(--input-box-color);
    outline:0px;
    outline-offset:0px;
    box-sizing:border-box;
    box-shadow:0 0 1.5px 1.5px var(--input-box-color);
    margin:2.5px;
    padding:8px 12px;
}



body .oo-ui-dropdownWidget.oo-ui-widget-enabled.oo-ui-dropdownWidget-open .oo-ui-dropdownWidget-handle,
body .oo-ui-dropdownWidget.oo-ui-widget-enabled .oo-ui-dropdownWidget-handle:hover {
    background-color:var(--input-box-hover);
    box-shadow:0 0 1.5px 1.5px var(--input-box-hover);
    border-color:rgb(var(--content-border-rgb));
    color:rgb(var(--content-color-rgb));
}

body .oo-ui-dropdownWidget.oo-ui-widget-enabled .oo-ui-dropdownWidget-handle:focus {
    background-color:var(--input-box-focus);
    box-shadow:0 0 1.5px 1.5px var(--input-box-focus);
    border-color:rgb(var(--content-border-rgb));
    color:rgb(var(--content-color-rgb));
}

/* Windows */
body .oo-ui-windowManager-modal.oo-ui-windowManager-floating > .oo-ui-dialog > .oo-ui-window-frame {
	border-color:rgb(var(--content-border-rgb));
}

body .oo-ui-windowManager-modal > .oo-ui-dialog > .oo-ui-window-frame {
	background-color:var(--dropdown-bg);
	color:rgb(var(--content-color-rgb));
}

body .oo-ui-processDialog-content .oo-ui-window-head, .oo-ui-processDialog-content .oo-ui-window-foot {
	background-color:var(--community-header-bg);
	color:var(--community-header-text);
	outline-color:var(--community-header-text);
}

body .oo-ui-outlineOptionWidget.oo-ui-optionWidget-highlighted {
	background-color:var(--content-bg);
	color:rgb(var(--content-color-rgb));
}

body .oo-ui-outlineOptionWidget.oo-ui-optionWidget-pressed,
body .oo-ui-outlineOptionWidget.oo-ui-optionWidget-selected {
	background-color:var(--link-color-content-bg-mix-light);
	color:var(--link-color);
}

body .oo-ui-processDialog-actions-safe .oo-ui-widget-enabled.oo-ui-iconElement:not(.oo-ui-labelElement) > .oo-ui-buttonElement-button {
	box-shadow:none;
	border:0;
	border-radius:var(--border-radius);
}

body .oo-ui-processDialog-actions-safe .oo-ui-widget-enabled.oo-ui-iconElement:not(.oo-ui-labelElement) > .oo-ui-buttonElement-button:hover {
		background-color:rgba(var(--community-header-text-rgb),0.15);
		color:var(--community-header-text-dark);
		border:0;
}

body .oo-ui-processDialog-actions-safe .oo-ui-widget-enabled.oo-ui-iconElement:not(.oo-ui-labelElement) > .oo-ui-buttonElement-button:active {
		background-color:rgba(var(--community-header-text-rgb),0.3);
		color:rgba(var(--community-header-text-dark-rgb), 0.8);
}

body .oo-ui-processDialog-actions-safe .oo-ui-widget-enabled.oo-ui-iconElement:not(.oo-ui-labelElement) > .oo-ui-buttonElement-button:focus {
		border:0;
}

body .oo-ui-toolbar-bar,
body .wikiEditor-ui-toolbar {
    background-color: var(--dropdown-bg);
    color: rgb(var(--content-color-rgb));
    border-color:rgb(var(--content-border-rgb));
}

body .oo-ui-popupToolGroup.oo-ui-widget-enabled > .oo-ui-popupToolGroup-handle:hover,
body .oo-ui-tool.oo-ui-widget-enabled > .oo-ui-tool-link:hover {
	background-color:var(--content-bg);
}

body .oo-ui-popupToolGroup.oo-ui-widget-enabled > .oo-ui-popupToolGroup-handle:active,
body .oo-ui-popupToolGroup.oo-ui-popupToolGroup-active > .oo-ui-popupToolGroup-handle,
body .oo-ui-tool.oo-ui-widget-enabled > .oo-ui-tool-link:active, 
body .oo-ui-tool.oo-ui-widget-enabled.oo-ui-tool-active > .oo-ui-tool-link, 
body .oo-ui-tool.oo-ui-widget-enabled.oo-ui-popupToolGroup-active > .oo-ui-tool-link {
	background-color:var(--link-color-content-bg-mix-light);
	color:var(--link-color);
}

body .wikiEditor-ui-toolbar .tabs span.tab a.current, 
body .wikiEditor-ui-toolbar .tabs span.tab a.current:visited,
body .wikiEditor-ui-toolbar .group .tool-select .label,
body .wikiEditor-ui-toolbar .group .label,
body .wikiEditor-ui-toolbar .group .tool-select .options .option {
	color:rgb(var(--content-color-rgb));
}

body .wikiEditor-ui-toolbar .tabs span.tab a {
	color:var(--link-color);
}

body .wikiEditor-ui-toolbar .page-characters div span {
	height:22.1px;
}

/* Echo */
body .mw-echo-ui-notificationsInboxWidget-toolbarWrapper {
	background:var(--dropdown-bg);
	color:rgb(var(--content-color-rgb));
	padding:6px;
}

/* Frameless Tabs */
body .oo-ui-tabSelectWidget-frameless .oo-ui-tabOptionWidget {
	box-shadow:inset 0 0 0 0 var(--button-color);
}


body .oo-ui-tabSelectWidget-frameless .oo-ui-tabOptionWidget.oo-ui-optionWidget-selected {
	color:var(--button-color);
	box-shadow:inset 0 -2px 0 0 var(--button-color);
}

body .oo-ui-tabSelectWidget-frameless .oo-ui-tabOptionWidget.oo-ui-widget-enabled:hover {
	color:var(--button-color-dark);
	box-shadow:inset 0 -2px 0 0 var(--button-color-dark);
}

body .oo-ui-tabSelectWidget-frameless .oo-ui-tabOptionWidget.oo-ui-widget-enabled:active {
	color:var(--button-color-dark-super);
	box-shadow:inset 0 -2px 0 0 var(--button-color-dark-super);
}

/* ULS Menu */
body .uls-menu {
	top:0px!important; /* Override Inline Style */
	left:50px!important;
	border-color:rgb(var(--content-border-rgb));
	background-color:var(--content-bg);
	color:rgb(var(--content-color-rgb));
	transition:top 400ms ease
}

.headroom--not-top .uls-menu,
.single-header .uls-menu {
	top:50px!important; /* Override Inline Style */
}

body .uls-search,
body #uls-settings-block {
	border-color:rgb(var(--content-border-rgb));
	background-color:var(--dropdown-bg);
}

body .uls-languagefilter {
	background-color:var(--dropdown-bg);
}

body .uls-filtersuggestion {
	background-color:var(--dropdown-bg);
	color:var(--content-color-dark);
}

body .uls-lcd {
	background-color:var(--content-bg);
}

body .uls-lcd-region-title,
body #uls-settings-block > button,
body .languagesettings-menu h1,
body #languagesettings-settings-panel h3,
body #languagesettings-settings-panel h4,
body .languagesettings-menu .menu-section {
	color:inherit;
}

body #uls-settings-block > button:hover {
	color:var(--content-color-dark);
}

body .uls-language-block a {
	color:var(--link-color);
}

body .uls-language-block a:hover {
	color:var(--link-color-dark);
}

body .uls-language-block > ul > li:hover {
	background-color:var(--link-color-content-bg-mix-light);
}

body #languagesettings-settings-panel {
	background-color:transparent;
	color:inherit;
}

body .uls-input-settings .uls-input-settings-inputmethods-list,
body .languagesettings-menu .menu-section:hover {
	background-color:var(--dropdown-bg);
}

body .languagesettings-menu .menu-section.active {
	background-color:var(--dropdown-bg);
	color:rgb(var(--content-color-rgb));
}



body .languagesettings-menu .menu-section .settings-text {
	color:var(--content-color-dark);
}

body .uls-language-settings-close-block {
	background-color:var(--content-bg);
}

body[dark-mode="true"] .uls-icon-close {
	background:currentColor!important;
  -webkit-mask-size: 16px 16px;
          mask-size: 16px 16px;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-image:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KCTxwYXRoIGQ9Im0zLjYzNiAyLjIyMiAxNC4xNDIgMTQuMTQyLTEuNDE0IDEuNDE0TDIuMjIyIDMuNjM2eiIvPgoJPHBhdGggZD0iTTE3Ljc3OCAzLjYzNiAzLjYzNiAxNy43NzhsLTEuNDE0LTEuNDE0TDE2LjM2NCAyLjIyMnoiLz4KPC9zdmc+Cg==);
  mask-image:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KCTxwYXRoIGQ9Im0zLjYzNiAyLjIyMiAxNC4xNDIgMTQuMTQyLTEuNDE0IDEuNDE0TDIuMjIyIDMuNjM2eiIvPgoJPHBhdGggZD0iTTE3Ljc3OCAzLjYzNiAzLjYzNiAxNy43NzhsLTEuNDE0LTEuNDE0TDE2LjM2NCAyLjIyMnoiLz4KPC9zdmc+Cg==);

}

.uls-tipsy.uls-tipsy {
	visibility:hidden!important;
}

body #languagesettings-panels .mw-ui-pressed {
    background-color: var(--button-color-dark-super);
    color: var(--button-color-text-inverted);
    box-shadow:0 0 1.5px 1.5px var(--button-color-dark-super);
}


/* File Input */


body .oo-ui-selectFileWidget-dropTarget {
	background-color:var(--dropdown-bg);
	color:rgb(var(--content-color-rgb));
	border-color:rgb(var(--content-border-rgb));
}

body .oo-ui-selectFileWidget.oo-ui-widget-enabled.oo-ui-selectFileWidget-dropTarget {
	background-color:var(--dropdown-bg);
	color:rgb(var(--content-color-rgb));
}

/* Progress */
body .oo-ui-progressBarWidget {
	border-color:rgb(var(--content-border-rgb));
}

body .oo-ui-progressBarWidget.oo-ui-widget-disabled {
	filter:grayscale(1)!important;
}

body .oo-ui-progressBarWidget:not( .oo-ui-pendingElement-pending ) {
	background-color:var(--content-bg);
}

body .oo-ui-progressBarWidget.oo-ui-widget-enabled .oo-ui-progressBarWidget-bar,
body .oo-ui-progressBarWidget.oo-ui-widget-disabled .oo-ui-progressBarWidget-bar {
	background-color:var(--link-color);
}

body .oo-ui-pendingElement-pending {
	background-color:var(--content-border-content-bg-mix)!important;
}