.theme-A[visualcolors="standard"] {
--background-image:url("loadbg_dev.png");
--background-color:#441177;
--body-display:modern;
--background-va:top;
--background-size:cover;
--background-no-tiling:false;
--link-color:#dd2300;
--content-bg:#f1f2f3;
--content-border:auto;
--content-color:auto;
--button-color:#dd8300;
--community-header-bg:#b88300;
--floating-header-bg:auto;
--caret-color:auto;
--custom-secondary-font:"";
--border-radius:3px;
--wordmark-filter:;
--wordmark-filter2:;
--wordmark-filter-duration:300ms;
--wordmark-filter-delay:0;
}