/* Evelution Skin */
[theme="A"][visualcolors="standard"] { 
--body-background-image:url("loadbg_dev.png"); /* <image> */
--body-background-color:#441177; /* <color> */
--body-background-mode:standard; /* standard | full */
--body-background-horizontal-alignment:top; /* left | center | right */
--body-background-vertical-alignment:top; /* top | center | bottom */
--body-background-size:cover; /* cover | contain | stretched | full */
--body-background-no-horizontal-tiling:false; /* <boolean> */
--body-background-no-vertical-tiling:false; /* <boolean> */
--superbar-text-background-color:auto; /* auto | <color> */
--anchor-background-color:#dd2300; /* <color> */
--page-background-color:#f1f2f3; /* <color> */
--page-border-background-color:#aaabbb; /* auto | <color> */
--page-text-background-color:#222222; /* auto | <color> */
--accent-background-color:#dd8300; /* <color> */
--minibar-background-color:#b88300; /* <color> */
--caret-color:auto; /* auto | <color> */
--custom-secondary-font:""; /* <string> */
--border-radius:3px; /* <number 0 to 15 */
--logo-filter:opacity(1); /* <filter-function> */
--logo-filter-hover:opacity(0.8); /* <filter-function> */
--logo-filter-duration:300ms; /* <duration> */
--logo-filter-delay:0; /* <duration> */
}

/* Evelution OS */
:root { 
--body-background-image:url("loadbg_dev.png"); /* <image> */
--body-background-color:#441177; /* <color> */
--body-background-horizontal-alignment:top; /* left | center | right */
--body-background-vertical-alignment:top; /* top | center | bottom */
--body-background-size:cover; /* cover | contain | stretched | full */
--body-background-no-horizontal-tiling:false; /* <boolean> */
--body-background-no-vertical-tiling:false; /* <boolean> */
--body-background-multi-monitor:false; /* <boolean> */
--superbar-text-background-color:auto; /* auto | <color> */
--anchor-background-color:#dd2300; /* <color> */
--page-background-color:#f1f2f3; /* <color> */
--page-border-background-color:#aaabbb; /* auto | <color> */
--page-text-background-color:#222222; /* auto | <color> */
--accent-background-color:#dd8300; /* <color> */
--minibar-background-color:#b88300; /* <color> */
--caret-color:auto; /* auto | <color> */
--caret-width:1px; /* <number> 1 to 20 */
--custom-secondary-font:""; /* <string> */
--border-radius:3px; /* <number> 0 to 15 */
--logo-filter:opacity(1); /* <filter-function> */
--logo-filter-hover:opacity(0.8); /* <filter-function> */
--logo-filter-duration:300ms; /* <duration> */
--logo-filter-delay:0; /* <duration> */
--system-visual-style:standard; /* standard | lite | basic | contrast | simple | classic */
--system-cursor-scheme:'Mpisto OSX 2021'; /* <string> */
--system-cursor-theme:auto; /* auto | auto-dark | light | dark | ease */
--system-cursor-hue:0deg; /* <degrees> */
--system-sound-scheme:"Standard"; /* <string> */
}