<!-- Overflow-menu -->
							<div class="cpe-dropdown has-reversed-nested-menus more-items-menu">
								<div class="link cell" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-moredotdotdot}}">
									<span class="cpe-icon cpe-icon-large material-icons cpe-dropdown__toggle-chevron">
										arrow_drop_down
									</span>
								</div>
								<div class="cpe-dropdown__content is-not-scrollable has-small-content">
									<ul class="cpe-list is-linked">


										<li>
											<a class="action-link" href="{{html-rc-link}}">
												<span class="cpe-icon material-icons">
													timeline
												</span>
												<span>{{msg-recentchanges}}</span>
											</a>
										</li>
										<li>
											<a class="action-link" href="{{html-files-link}}">
												<span class="cpe-icon material-icons">
													photo_library
												</span>
												<span>{{msg-evelution-newfiles}}</span>
											</a>
										</li>
										<li>
											<a class="action-link" href="{{html-stats-link}}">
												<span class="cpe-icon material-icons">
													leaderboard
												</span>
												<span>{{msg-statistics}}</span>
											</a>
										</li>
										<li class="disables-on-logged-out">
											<a class="action-link" href="{{html-upload-link}}">
												<span class="cpe-icon material-icons">
													file_upload
												</span>
												<span>{{msg-upload}}</span>
											</a>
										</li>
										<li class="cpe-dropdown-level-nested disables-on-logged-out">
											<a class="action-link">
												<span class="cpe-icon material-icons">
													palette
												</span>
												<span>CSS</span>
												<span class="cpe-icon cpe-icon-tiny cpe-icon-large cpe-dropdown-chevron material-icons">
													expand_more
												</span>
											</a>
											<div class="cpe-dropdown-level-nested__content">
												<ul class="cpe-list is-linked has-icons is-single-row">
													<li>
														<a href="{{html-css-link}}">
															<svg xmlns="http://www.w3.org/2000/svg" class="cpe-icon">
																<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#evelution-logo" />
															</svg>
														</a>
													</li>
													<li>
														<a href="{{html-css2-link}}">
															<span class="cpe-icon material-icons">computer</span>
														</a>
													</li>
													{{#has-mf}}
													<li>
														<a href="{{html-css3-link}}">
															<span class="cpe-icon material-icons">smartphone</span>
														</a>
													</li>
													{{/has-mf}}
												</ul>
												{{#has-css}}
													<hr>
													<ul class="cpe-list is-linked has-icons is-single-row">
														<li>
															<a href="{{html-mypage-link}}/evelution.css">
																<span class="cpe-icon cpe-icon-small cpe-icon-badge material-icons">person</span>
																<svg xmlns="http://www.w3.org/2000/svg" class="cpe-icon">
																	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#evelution-logo" />
																</svg>
															</a>
														</li>
														<li>
															<a href="{{html-mypage-link}}/common.css">
																<span class="cpe-icon cpe-icon-small cpe-icon-badge material-icons">person</span>
																<span class="cpe-icon material-icons">computer</span>
															</a>
														</li>
														{{#has-mf}}
														<li>
															<a href="{{html-mypage-link}}/mobile.css">
																<span class="cpe-icon cpe-icon-small cpe-icon-badge material-icons">person</span>
																<span class="cpe-icon material-icons">smartphone</span>
															</a>
														</li>
														{{/has-mf}}
													</ul>
												{{/has-css}}
											</div>
										</li>
										<li class="cpe-dropdown-level-nested disables-on-logged-out">
											<a class="action-link">
												<span class="cpe-icon material-icons">
													code
												</span>
												<span>JS</span>
												<span class="cpe-icon cpe-icon-tiny cpe-icon-large cpe-dropdown-chevron material-icons">
													expand_more
												</span>
											</a>
											<div class="cpe-dropdown-level-nested__content">
												<ul class="cpe-list is-linked has-icons is-single-row">
													<li>
														<a href="{{html-js-link}}">
															<svg xmlns="http://www.w3.org/2000/svg" class="cpe-icon">
																<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#evelution-logo" />
															</svg>
														</a>
													</li>
													<li>
														<a href="{{html-js2-link}}">
															<span class="cpe-icon material-icons">computer</span>
														</a>
													</li>
													{{#has-mf}}
													<li>
														<a href="{{html-js3-link}}">
															<span class="cpe-icon material-icons">smartphone</span>
														</a>
													</li>
													{{/has-mf}}
												</ul>
												{{#has-js}}
													<hr>
													<ul class="cpe-list is-linked has-icons is-single-row">
														<li>
															<a href="{{html-mypage-link}}/evelution.js">
																<span class="cpe-icon cpe-icon-small cpe-icon-badge material-icons">person</span>
																<svg xmlns="http://www.w3.org/2000/svg" class="cpe-icon">
																	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#evelution-logo" />
																</svg>
															</a>
														</li>
														<li>
															<a href="{{html-mypage-link}}/common.js">
																<span class="cpe-icon cpe-icon-small cpe-icon-badge material-icons">person</span>
																<span class="cpe-icon material-icons">computer</span>
															</a>
														</li>
														{{#has-mf}}
														<li>
															<a href="{{html-mypage-link}}/mobile.js">
																<span class="cpe-icon cpe-icon-small cpe-icon-badge material-icons">person</span>
																<span class="cpe-icon material-icons">smartphone</span>
															</a>
														</li>
														{{/has-mf}}
													</ul>
												{{/has-js}}
											</div>
										</li>
										<li>
											<a class="action-link" href="{{html-allpages-link}}">
												<span class="cpe-icon material-icons">
													pages
												</span>
												<span>{{msg-allarticles}}</span>
											</a>
										</li>
										<li>
											<a class="action-link" href="{{html-apisandbox-link}}">
												<span class="cpe-icon material-icons">
													apisandbox
												</span>
												<span>{{msg-apisandbox}}</span>
											</a>
										</li>
										<li>
											<a class="action-link" href="{{html-allmessages-link}}">
												<span class="cpe-icon material-icons">
													security
												</span>
												<span>{{msg-allmessages}}</span>
											</a>
										</li>
										<li>
											<a class="action-link" href="{{html-spages-link}}">
												<span class="cpe-icon material-icons">
													app_shortcut
												</span>
												<span>{{msg-specialpages}}</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
