		<div class="evelution-community-header community-header-wrapper">
			<section class="evelution-community-header-wrapper fandom-community-header">
				<a class="wordmark fandom-community-header__image" href="{{link-mainpage}}">
				{{#data-logos}}
					{{#icon}}<img src="{{.}}">{{/icon}}
					{{^icon}}{{#1x}}<img src="{{.}}">{{/1x}}{{/icon}}
				{{/data-logos}}
				</a>



				<header class="mobile-header">
				<section class="title" translate="no">
					{{#data-logos}}
						{{#wordmark}}
							<div style="--height:{{height}}px; display:contents">
								{{#src}}
								<a href="{{link-mainpage}}" class="title-logo" style="-webkit-mask-image:url({{.}}); mask-image:url({{.}});"><span style="visibility:hidden;">Abc</span></a>
								{{/src}}
								{{^src}}
								<a href="{{link-mainpage}}" class="title-logo" style="-webkit-mask-image:url({{.}}); mask-image:url({{.}});"><span style="visibility:hidden;">Abc</span></a>
								{{/src}}
							</div>
						{{/wordmark}}
						{{^wordmark}}<a href="{{link-mainpage}}">{{msg-sitetitle}}</a>{{/wordmark}}
					{{/data-logos}}
				</section>
				<section class="container">
					<section class="counters">
						<div class="counter articles"><big>{{html-articlecount}}</big> <span class="cpe-icon material-icons">article</span>  <span class="text">{{msg-evelution-pages}}</span></div>
						<div class="counter photos"><big>{{html-filecount}}</big> <span class="cpe-icon material-icons">photo</span> <span class="text">{{msg-evelution-files}}</span></div>
						<div class="counter edits"><big>{{html-editcount}}</big> <span class="cpe-icon material-icons">edit</span> <span class="text">{{msg-evelution-edits}}</span></div>
						<div class="counter users"><big>{{html-usercount}}</big> <span class="cpe-icon material-icons">person</span> <span class="text">{{msg-evelution-users}}</span></div>
					</section>
					<section class="buttons">
						<nav class="header-buttons">
							{{>CommunityLinks}}
						</nav>
						<nav class="local-navigation home-nav">
							{{#data-portlets-sidebar}}
							{{#data-portlets-first}}{{>PortletMLN}}{{/data-portlets-first}}
							{{#array-portlets-rest}}{{>PortletMLN}}{{/array-portlets-rest}}
							{{/data-portlets-sidebar}}
						</nav>
						<nav class="actions-navigation server-nav">
							<div class="cpe-dropdown local-navigation">
								<a class="link cell cpe-dropdown__toggle" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-navigation}}">
									<span class="cpe-icon cpe-icon-large cpe-dropdown__toggle-chevron material-icons">
										arrow_drop_down
									</span>
								</a>
								<div class="cpe-dropdown__content is-right-aligned is-not-scrollable">
									<ul class="cpe-list is-linked">
												{{#data-portlets-sidebar}}
												{{#data-portlets-first}}{{>PortletSLN2}}{{/data-portlets-first}}
												{{#array-portlets-rest}}{{>PortletSLN2}}{{/array-portlets-rest}}
												{{/data-portlets-sidebar}}
									</ul>
								</div>
							</div>
							<a class="link cell" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-longpages}}" href="{{html-longpages-link}}">
								<span class="cpe-icon material-icons">
								star_border
								</span>
							</a>
							<a class="link cell" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-unusedtemplates}}" href="{{html-unusedtemplates-link}}">
								<span class="cpe-icon material-icons">
								bookmark_remove
								</span>
							</a>
							<a class="link cell" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-apisandbox}}" href="{{html-apisandbox-link}}">
								<span class="cpe-icon material-icons">
								api
								</span>
							</a>
							<a class="link cell" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-allmessages}}" href="{{html-messages-link}}">
								<span class="cpe-icon material-icons">
								security
								</span>
							</a>

						</nav>
					</section>
				</section>
				</header>
				<header class="color-header fandom-community-header__top-container">
						<div class="table">
							<div class="tr">
								<h1 class="title cell fandom-community-header__community-name-wrapper" style="text-align:left" translate="no">
								{{#data-logos}}
									{{#wordmark}}
										<div style="--height:{{height}}px; display:contents">
											{{#src}}
											<a href="{{link-mainpage}}" class="title-logo fandom-community-header__community-name" style="-webkit-mask-image:url({{.}}); mask-image:url({{.}});"><span style="visibility:hidden;">Abc</span></a>
											{{/src}}
											{{^src}}
											<a href="{{link-mainpage}}" class="title-logo fandom-community-header__community-name" style="-webkit-mask-image:url({{.}}); mask-image:url({{.}});"><span style="visibility:hidden;">Abc</span></a>
											{{/src}}
										</div>
									{{/wordmark}}
									{{^wordmark}}<a class="fandom-community-header__community-name" href="{{link-mainpage}}">{{msg-sitetitle}}</a>{{/wordmark}}
								{{/data-logos}}
								</h1>
								<div class="counters cell">
									<div class="counter articles page-counter"><big class="page-counter__value">{{html-articlecount}}</big> <span class="cpe-icon material-icons">article</span>  <span class="text page-counter__label">{{msg-evelution-pages}}</span></div>
									<div class="counter photos page-counter"><big class="page-counter__value">{{html-filecount}}</big> <span class="cpe-icon material-icons">photo</span> <span class="text page-counter__label">{{msg-evelution-files}}</span></div>
								</div>
								<div class="counters cell">
									<div class="counter edits page-counter"><big class="page-counter__value">{{html-editcount}}</big> <span class="cpe-icon material-icons">edit</span> <span class="text page-counter__label">{{msg-evelution-edits}}</span></div>
									<div class="counter users page-counter"><big class="page-counter__value">{{html-usercount}}</big> <span class="cpe-icon material-icons">person</span> <span class="text page-counter__label">{{msg-evelution-users}}</span></div>
								</div>
								{{>CommunityLinks}}
							</div>
						</div>
				</header>

				<nav class="color-nav fandom-community-header__local-navigation">
					<div class="table">
						<div class="tr">
							{{#data-portlets-sidebar}}
							{{#data-portlets-first}}{{>PortletLN}}{{/data-portlets-first}}
							{{#array-portlets-rest}}{{>PortletLN}}{{/array-portlets-rest}}
							{{/data-portlets-sidebar}}
						</div>
					</div>
			</section>
		</div>