<div style="display:contents; height:inherit;">
		<a class="link cell community-header-link" title="{{msg-recentchanges}}"  href="{{html-rc-link}}">
			<span class="cpe-icon material-icons">
			trending_up
			</span>
		</a>
		<a class="link cell community-header-link" title="{{msg-eve-newfiles}}"  href="{{html-files-link}}">
			<span class="cpe-icon material-icons">
			photo_library
			</span>
		</a>
		<a class="link cell community-header-link css-link" title="CSS"  href="{{html-css-link}}">
			<span class="cpe-icon material-icons">
			palette
			</span>
		</a>
		<a class="link cell community-header-link js-link" title="JS"  href="{{html-js-link}}">
			<span class="cpe-icon material-icons">
			code
			</span>
		</a>
		<a href="{{html-upload-link}}" class="link cell community-header-link upload-link" title="{{msg-upload}}">
			<span class="cpe-icon cpe-dropdown__toggle-chevron material-icons">
			upload
			</span>
		</a>
		<a class="link cell community-header-link" title="{{msg-talk}}"  href="{{html-forum-link}}">
			<span class="cpe-icon material-icons">
			question_answer
			</span>
		</a>
		<a class="link cell community-header-link" title="{{msg-allarticles}}"  href="{{html-pages-link}}">
			<span class="cpe-icon material-icons">
			pages
			</span>
		</a>
		<a class="link cell community-header-link" title="{{msg-specialpages}}"  href="{{html-spages-link}}">
			<span class="cpe-icon material-icons">
			settings
			</span>
		</a>
</div>
							<div class="cpe-dropdown more-header-links">
								<div class="link cell cpe-dropdown__toggle">
									<span class="cpe-icon material-icons">
									more_vertical
									</span>
								</div>
									<div class="cpe-dropdown__content is--right-aligned">
										<ul class="cpe-list is--linked">
											<li class="community-more-link">
												<a href="{{html-rc-link}}">{{msg-recentchanges}}</a>
											</li>
											<li class="community-more-link">
												<a href="{{html-files-link}}">{{msg-eve-newfiles}}</a>
											</li>
											<li class="community-more-link css-link">
												<a href="{{html-css-link}}">CSS</a>
											</li>
											<li class="community-more-link js-link">
												<a href="{{html-js-link}}">JS</a>
											</li>
											<li class="community-more-link upload-link">
												<a href="{{html-upload-link}}">{{msg-upload}}</a>
											</li>
											<li class="community-more-link">
												<a href="{{html-forum-link}}">{{msg-talk}}</a>
											</li>
											<li class="community-more-link">
												<a href="{{html-pages-link}}">{{msg-allarticles}}</a>
											</li>
											<li class="community-more-link">
												<a href="{{html-spages-link}}">{{msg-specialpages}}</a>
											</li>

										</ul>
									</div>
								</div>
