	<header class="evelution-header is-fixed-positioned fandom-sticky-header">
		<div class="background">
			<div class="lunalevit accented"></div>
		</div>
		<div class="evelution-header__container">
			<div class="cpe-dropdown local-navigation">
				<a class="link cell cpe-dropdown__toggle" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-navigation}}">
					<span class="cpe-icon cpe-dropdown__toggle-chevron material-icons focused-dropdown-off">
						menu
					</span>
					<span class="cpe-icon cpe-dropdown__toggle-chevron material-icons focused-dropdown-on">
						menu_open
					</span>
				</a>
				<div class="cpe-dropdown__content is-left-aligned">
					<ul class="local-navigation__button">
							<li class="edit-button">
								<a href="{{html-edit-link}}/MediaWiki:Sidebar" class="cpe-button is-alternate is-full-width" title="{{msg-edit}}">
									<span class="cpe-icon cpe-icon-small material-icons">
										edit
									</span>
									<span>{{msg-edit}}</span>
								</a>	
							</li>
					</ul>
					<ul class="cpe-list local-navigation__content">
							<section class="evelution-module toc-module rail-module td-off">
								<h2 class="module-container rail-module__header">
									<span class="cpe-icon material-icons">
									description
									</span>
									<span class="module-title">
									{{msg-toc}}
									</span>
								</h2>
								<div class="evelution-module-content">
									<div class="toc floating_toc" style="display:contents; border:0; background:transparent; box-shadow:none; display:block; color:inherit;">
										<ul class="toc module-toc floating_toc" id="toc" style="border:0; background:transparent; box-shadow:none; display:block; color:inherit;" role="navigation">
										</ul>
									</div>
								</div>
							</section>
								{{#data-portlets-sidebar}}
								{{#data-portlets-first}}{{>PortletSLN}}{{/data-portlets-first}}
								{{#array-portlets-rest}}{{>PortletSLN}}{{/array-portlets-rest}}
								{{#data-portlets.data-languages}}{{>PortletSLN}}{{/data-portlets.data-languages}}
								{{#data-portlets.data-variants}}{{>PortletSLN}}{{/data-portlets.data-variants}}
								{{/data-portlets-sidebar}}
					</ul>
				</div>
			</div>
			<button class="link local-nav-switch cell vlarge" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-evelution-togglesize}}" onclick="ToggleNav()">
				<span class="cpe-icon cpe-dropdown__toggle-chevron material-icons switched-nav-off">
					keyboard_double_arrow_right
				</span>
				<span class="cpe-icon cpe-dropdown__toggle-chevron material-icons switched-nav-on">
					keyboard_double_arrow_left
				</span>
			</button>
			<div class="title-container">
				<div class="logo-with-wordmark">
								{{#data-logos}}
									{{#icon}}
										<a class="wordmark mono-logo" href="{{link-mainpage}}">							
											<div class="icon-logo" style="-webkit-mask-image:url({{#data-logos}}{{#icon-mono}}{{.}}{{/icon-mono}}{{^icon-mono}}{{icon}}{{/icon-mono}}{{/data-logos}}); mask-image:url({{#data-logos}}{{#icon-mono}}{{.}}{{/icon-mono}}{{^icon-mono}}{{icon}}{{/icon-mono}}{{/data-logos}})">
												<img src="{{.}}" style="opacity:0;">
											</div>
										</a>
										<a class="wordmark invertion-on color-logo" href="{{link-mainpage}}">							
											<img src="{{.}}">
										</a>
									{{/icon}}
									{{^icon}}
										{{#1x}}
											<a class="wordmark mono-logo" href="{{link-mainpage}}">							
												<div class="icon-logo" style="-webkit-mask-image:url({{.}}); mask-image:url({{.}})">
													<img src="{{.}}" style="opacity:0;">
												</div>
											</a>
											<a class="wordmark invertion-on color-logo" href="{{link-mainpage}}">							
												<img src="{{.}}">
											</a>
										{{/1x}}
									{{/icon}}
								{{/data-logos}}
					<h1 class="title cell" style="text-align:left" translate="no">
						{{#data-logos}}
							{{#wordmark}}
								<div style="--height:{{height}}px; display:contents">
								{{#src}}
									<a href="{{link-mainpage}}" class="title-logo" style="-webkit-mask-image:url({{.}}); mask-image:url({{.}});"><span style="visibility:hidden;">Abc</span></a>
								{{/src}}
								{{^src}}<a href="{{link-mainpage}}"><span>{{msg-sitetitle}}</span></a>{{/src}}
								</div>
							{{/wordmark}}
							{{^wordmark}}
							<div style="display:contents">
								<a href="{{link-mainpage}}"><span>{{msg-sitetitle}}</span></a>
							</div>
							{{/wordmark}}
						{{/data-logos}}
					</h1>
				</div>
				<div class="namespace-with-title">
					<h1 class="title cell" style="text-align:left" translate="no">
						<a class="has-icon" href="{{link-mainpage}}"><span class="firstHeading">{{html-title}}</span></a>
					</h1>
				</div>
			</div>
			<div class="counters cell mobileS-off">
				<div class="counter articles"><big>{{html-articlecount}}</big> <span class="cpe-icon material-icons">article</span>  <span class="text">{{msg-evelution-pages}}</span></div>
				<div class="counter photos"><big>{{html-filecount}}</big> <span class="cpe-icon material-icons">photo</span> <span class="text">{{msg-evelution-files}}</span></div>
			</div>
			<div class="counters cell mobileS-off">
				<div class="counter edits"><big>{{html-editcount}}</big> <span class="cpe-icon material-icons">edit</span> <span class="text">{{msg-evelution-edits}}</span></div>
				<div class="counter users"><big>{{html-usercount}}</big> <span class="cpe-icon material-icons">person</span> <span class="text">{{msg-evelution-users}}</span></div>
			</div>
		<!-- Search -->
		<div class="cpe-dropdown search">
			<div class="link search-icon cpe-dropdown__toggle" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-search}}">
				<span class="cpe-icon material-icons">
					<span class="focused-dropdown-off">
						search
					</span>
					<span class="focused-dropdown-on">
						saved_search
					</span>
				</span>
			</div>
		    <div class="cpe-dropdown__content">
				<ul class="cpe-list">
					<li class="mobileS-on mobile-counters">
						<div class="counters">
							<div class="counter articles"><big>{{html-articlecount}}</big> <span class="cpe-icon material-icons">article</span>  <span class="text">{{msg-evelution-pages}}</span></div>
							<div class="counter photos"><big>{{html-filecount}}</big> <span class="cpe-icon material-icons">photo</span> <span class="text">{{msg-evelution-files}}</span></div>
							<div class="counter edits"><big>{{html-editcount}}</big> <span class="cpe-icon material-icons">edit</span> <span class="text">{{msg-evelution-edits}}</span></div>
							<div class="counter users"><big>{{html-usercount}}</big> <span class="cpe-icon material-icons">person</span> <span class="text">{{msg-evelution-users}}</span></div>
						</div>
							<hr>
					</li>
					<li>

					{{#data-search-box}}
					<form action="{{form-action}}" role="search" class="mw-portlet" id="p-search">
						<div class="pageheader-search">
							<input type="search" name="search" class="cpe-input taskbar-search" placeholder="{{msg-searchsuggest-search}}" autocapitalize="sentences" accesskey="f" id="searchInput" autocomplete="off">
							<input type="hidden" name="title" value="Special:Search">
							<input style="width:0px; height:0px; visibility:hidden; position:absolute;" type="submit" id="searchButton2"></input>
							<label for="searchButton2" class="cpe-button">
								<span class="cpe-icon cpe-icon-small material-icons">
									search
								</span>
							</label>
						</div>
					</form>
					{{/data-search-box}}
					</li>
				</ul>
			</div>
		</div>
			<div class="wiki-tools">
				{{>CommunityLinks}}
			</div>
		{{#has-echo}}
			  <!-- Notifications -->
				<div class="link cell notice notices-menu focus-within" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-tooltip-pt-notifications-alert}}">
					<div style="position:absolute; visibility:visible; width:inherit;">
									{{#data-portlets.data-notifications}}{{>Portlet2}}{{/data-portlets.data-notifications}}
					</div>
					<span class="cpe-icon material-icons">
						notifications
					</span>
				</div>
				<div class="link cell notice updates-menu focus-within" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-tooltip-pt-notifications-notice}}">
					<div style="position:absolute; visibility:visible; inherit;">
									{{#data-portlets.data-notifications}}{{>Portlet2}}{{/data-portlets.data-notifications}}
					</div>
					<span class="cpe-icon material-icons">
						inbox
					</span>
				</div>
		{{/has-echo}}

		<div class="cpe-dropdown user-profile">
			<div class="link cell cpe-dropdown__toggle" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-personaltools}}">
			{{#has-avatar}}
				<div class="raw-parser">{{html-avatar}}</div>
			{{/has-avatar}}
			{{^has-avatar}}
				<span class="cpe-icon material-icons">account_circle</span>
			{{/has-avatar}}
								
			</div>
			<div class="cpe-dropdown__content is-right-aligned">
				<ul class="cpe-list is-linked has-icons is-single-row mobile-on">
					<li class="purge">
						<a href="{{html-purge-link}}/{{html-titlealt}}" title="{{msg-purge}}">
							<span class="cpe-icon material-icons">
								refresh
							</span>						
						</a>
					</li>
				</ul>
				<hr class="mobile-on">
				<ul class="cpe-list cpe-is-linked has-icon-labels mw-portlet-body" {{{html-user-language-attributes}}}>
{{#data-portlets.data-user-interface-preferences}}{{>PortletPT}}			{{/data-portlets.data-user-interface-preferences}}				{{#data-portlets.data-user-menu}}{{>PortletPT}}{{/data-portlets.data-user-menu}}
				</ul>
				{{{html-after-portal}}}
			</div>
		</div>
	  <a href="{{html-purge-link}}" class="link purge mobile-xxl" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-purge}}">
				<span class="cpe-icon material-icons">
					refresh
				</span>
	  </a>


		</div>
	</header>
