							<a class="link cell" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-recentchanges}}"  href="{{html-rc-link}}">
								<span class="cpe-icon material-icons">
								trending_up
								</span>
							</a>
							<a class="link cell" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-evelution-newfiles}}"  href="{{html-files-link}}">
								<span class="cpe-icon material-icons">
								photo_library
								</span>
							</a>
						{{#is-loggedin}}
							<a class="link cell small" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-statistics}}"  href="{{html-stats-link}}">
								<span class="cpe-icon material-icons">
								leaderboard
								</span>
							</a>
							<a class="link cell small" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-upload}}"  href="{{html-upload-link}}">
								<span class="cpe-icon material-icons">
								file_upload
								</span>
							</a>
							<a class="link cell large" cpe-tooltip-position="bottom" cpe-tooltip="CSS"  href="{{html-css-link}}">
								<span class="cpe-icon material-icons">
								palette
								</span>
							</a>
							<a class="link cell large" cpe-tooltip-position="bottom" cpe-tooltip="JS"  href="{{html-js-link}}">
								<span class="cpe-icon material-icons">
								code
								</span>
							</a>
						{{/is-loggedin}}
							<a class="link cell {{#is-loggedin}}vlarge{{/is-loggedin}}" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-allarticles}}"  href="{{html-allpages-link}}">
								<span class="cpe-icon material-icons">
								pages
								</span>
							</a>
						{{#is-loggedin}}
							<a class="link cell vlarge" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-specialpages}}"  href="{{html-spages-link}}">
								<span class="cpe-icon material-icons">
								settings
								</span>
							</a>
							<div class="cpe-dropdown small">
								<div class="link cell" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-moredotdotdot}}">
									<span class="cpe-icon cpe-dropdown__toggle-chevron material-icons">
										more_vertical
									</span>
								</div>
								<div class="cpe-dropdown__content is-right-aligned">
									<ul class="cpe-list is-linked">
										<li class="small">
											<a href="{{html-stats-link}}">{{msg-statistics}}</a>
										</li>
										<li class="small">
											<a href="{{html-upload-link}}">{{msg-upload}}</a>
										</li>
										<li class="large">
											<a href="{{html-css-link}}">CSS</a>
										</li>
										<li class="large">
											<a href="{{html-js-link}}">JS</a>
										</li>
										<li>
											<a href="{{html-allpages-link}}">{{msg-allarticles}}</a>
										</li>
										<li>
											<a href="{{html-spages-link}}">{{msg-specialpages}}</a>
										</li>
									</ul>
								</div>
							</div>
						{{/is-loggedin}}