<div class="evelution-page-header evelution-page-footer page-header">
	<div class="lunalevit"></div>
	<div class="evelution-page-header-main page-header__bottom">
		<div class="evelution-page-header-title page-header__title-wrapper">
<!--Footer-->
			<div class="evelution-footer">
				<div class="footer__container">
					<div class="items">
							{{#data-footer}}
								{{!}}{{#data-places}}
									{{#array-items}}
									<li style="display:contents;" id="{{id}}">{{{html}}}</li>
									{{/array-items}}
								{{/data-places}}
							{{/data-footer}}
					</div>
					<div class="powered-by">
												{{#data-footer}}
												{{!}}{{#data-info}}{{>FooterList}}{{/data-info}}
												{{!}}{{#data-icons}}{{>FooterList2}}{{/data-icons}}
												{{/data-footer}}
					</div>
				</div>
			</div>
<!--Footer End -->
		</div>
	</div>
</div>

