<div class="evelution-footer">
<!--	<div class="lunalevit"></div> -->
	<div class="footer__top">
			<a style="color:var(--logo-color);" href="https://awikia.github.io/SkinEvelution" class="logo-container">
					<svg xmlns="http://www.w3.org/2000/svg" class="server-off">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#evelution-logo-full" />
					</svg>
					<svg xmlns="http://www.w3.org/2000/svg" class="server-on" style="transform:scale(1.21)">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#evelution-server-logo-full" />
					</svg>
			</a>
	</div>
	<div responsive class="footer__bottom">
		<div class="items">
		        {{#data-footer}}
					{{!}}{{#data-places}}
						{{#array-items}}
						<li style="display:contents;" id="{{id}}">{{{html}}}</li>
						{{/array-items}}
					{{/data-places}}
				{{/data-footer}}
		</div>
		<div class="powered-by">
									{{#data-footer}}
									{{!}}{{#data-info}}{{>FooterList}}{{/data-info}}
									{{!}}{{#data-icons}}{{>FooterList2}}{{/data-icons}}
									{{/data-footer}}
		</div>
	</div>
</div>