/** Primary Fonts **/
/* 
**
M PLUS 1p = Japanese and Hebrew
Nanum Gothic = Korean
Prompt = Thailandish
Cairo = Arabic
Ramabhadra = Telegu
Catamaran = Tamil
Noto Sans = Devanagari and Chinese
Hind Siliguri = Bengali
No Font (Baloo Tamma 2) = Kannada
No Font (Baloo Tamma 2) = Kannada
Kantumruy = Khmer
Manjari = Malayalam
Padauk = Myanmar
No font (Baloo Bhaina 2) = Oriya
Inter/Didact Gothic = Greek, Latin and Cyrillic
**
*/

@import url('https://fonts.googleapis.com/css?family=Gothic+A1:100,200,300,400,500,600,700,800,900|M+PLUS+1p:100,300,400,500,700,800,900|Prompt:100,200,300,400,500,600,700,800,900|Source+Sans+Pro:200,300,400,600,700,900&subset=cyrillic,cyrillic-ext,greek,greek-ext,hebrew,japanese,korean,latin-ext,thai,vietnamese');

@import url('https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900|Catamaran:100,200,300,400,500,600,700,800,900|Ramabhadra|Ubuntu:300,400,500,700&subset=arabic,cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,tamil,telugu');

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Noto+Sans+SC:100,300,400,500,700,900|Noto+Sans+TC:100,300,400,500,700,900|Noto+Sans+HK:100,300,400,500,700,900|Hind+Siliguri:300,400,500,600,700|Didact+Gothic|Kantumruy:300,400,700|Manjari:100,400,700|Padauk:400,700|Alef:400,700');

/** Secondary Fonts **/
/* 
**
M PLUS Rounded 1c = Japanese
Jua (Formerly Nanum Gothic) = Korean
Mitr = Thailandish
Mada = Arabic
NTR = Telegu
Pavanam = Tamil
Mukta = Devanagari
Noto Sans = Chinese
Baloo Da 2 = Bengali
Baloo Tamma 2 = Kannada
Battambang = Khmer
Baloo Chettan 2 = Malayalam
No font (Padauk) = Myanmar
Baloo Bhaina 2 = Oriya
Jura = Greek and Cyrillic (Old)
Arimo = Greek
Rubik = Latin, Cyrrilic and Hebrew
Raleway = Latin (Old)
**
*/
@import url('https://fonts.googleapis.com/css?family=Jura:300,400,500,600,700|M+PLUS+Rounded+1c:100,300,400,500,700,800|Mitr:200,300,400,500,600,700|Nanum+Gothic:400,700,800|Raleway:100,200,300,400,500,600,700,800,900&subset=cyrillic,cyrillic-ext,greek,greek-ext,hebrew,japanese,korean,latin-ext,thai,vietnamese');

@import url('https://fonts.googleapis.com/css?family=Jua|Mada:200,300,400,500,600,700,900|NTR|Pavanam&subset=arabic,korean,latin-ext,tamil,telugu');


@import url('https://fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700,800|Baloo+Da+2:400,500,600,700,800|Baloo+Tamma+2:400,500,600,700,800|Battambang|Baloo+Chettan 2:400,500,600,700,800|Baloo+Bhaina+2:400k,500,600,700,800');
/* Arniki Forniki and former versions of MpistoMobile2 */
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&subset=cyrillic,hebrew,latin-ext');
/* Misc */
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&subset=latin-ext');
/* Old Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Play:400,700&subset=cyrillic,cyrillic-ext,greek,latin-ext,vietnamese');
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,500,600,700,800,900&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese");

/* Serif */
/* 
**
Song Myung = Korean
Noto Serif = Japanese
Pridi = Thailandish
Amiri = Arabic
Ramaraja = Telegu
No font (Catamaran) = Tamil
Martel = Devanagari
Noto Serif = Chinese
No font (Hind Siliguri) = Bengali
Benne = Kannada
Hanuman = Khmer
No font (Manjari) = Malayalam
No font (Padauk) = Myanmar
David Libre = Hebrew
Vollkorn = Greek and Cyrillic
Aleo = Latin
**
*/

@import url('https://fonts.googleapis.com/css?family=Amiri:400,700|Cambo|David+Libre:400,500,700|Lora:400,700|Merriweather:300,400,700,900|Neuton:200,300,400,400i,700,800|Noto+Serif+JP:200,300,400,500,600,700,900|Noto+Serif:400,700|Pridi:200,300,400,500,600,700|Ramaraja|Song+Myung|Source+Serif+Pro:400,600,700&subset=arabic,cyrillic,cyrillic-ext,greek,greek-ext,hebrew,japanese,korean,latin-ext,telugu,thai,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Arvo:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,700,800|PT+Sans:400,700|PT+Serif:400,700|Roboto+Slab:100,300,400,700|Roboto:100,300,400,500,700,900|Varela&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Aleo:300,400,700&subset=latin-ext');

@import url('https://fonts.googleapis.com/css?family=Cutive|Gentium+Basic:400,700&subset=latin-ext');

@import url('https://fonts.googleapis.com/css?family=Martel:200,300,400,600,700,800,900|Noto+Serif+SC:200,300,400,500,600,700,900|Noto+Serif+TC:200,300,400,500,600,700,900|Vollkorn:400,500,600,700,800,900|Benne|Hanuman:400,700');

/* Mono Fonts */
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Fira+Mono:400,500,700&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext');

/* Arimo */
@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&subset=cyrillic,cyrillic-ext,greek,greek-ext,hebrew,latin-ext,vietnamese');
@import url('https://rsms.me/inter/inter.css');




@font-face {
    font-family: LCD;
    src: url('https://images.wikia.nocookie.net/__cb20161004075228/24wikia/images/d/db/LCD_ITC-Normal.otf') format('opentype'),url('https://images.wikia.nocookie.net/__cb20161004075229/24wikia/images/a/a5/LCD_ITC-Normal.woff') format('woff'),url('https://images.wikia.nocookie.net/__cb20161004075228/24wikia/images/1/1e/LCD_ITC-N0ormal.ttf') format('truetype')
}
