							<div class="cpe-dropdown small">
								<div class="link cell" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-moredotdotdot}}">
									<span class="cpe-icon cpe-dropdown__toggle-chevron material-icons">
										more_vertical
									</span>
								</div>
								<div class="cpe-dropdown__content cpe-visual-appearance is-right-aligned">
									<ul class="cpe-list is-linked">
										<li>
											<a href="{{html-rc-link}}">{{msg-recentchanges}}</a>
										</li>
									{{#is-loggedin}}
										<li>
											<a href="{{html-files-link}}">{{msg-evelution-newfiles}}</a>
										</li>
									{{/is-loggedin}}
									{{#has-forum}}
										<li class="smallp">
											<a href="{{html-forum-link}}">{{msg-talk}}</a>
										</li>
									{{/has-forum}}
									{{#is-loggedin}}
										<li>
											<a href="{{html-stats-link}}">{{msg-statistics}}</a>
										</li>
										<li>
											<a href="{{html-upload-link}}">{{msg-upload}}</a>
										</li>
										<li>
											<a href="{{html-css-link}}">CSS</a>
										</li>
										<li>
											<a href="{{html-js-link}}">JS</a>
										</li>
									{{/is-loggedin}}
										<li>
											<a href="{{html-allpages-link}}">{{msg-allarticles}}</a>
										</li>
									{{#is-loggedin}}
										<li>
											<a href="{{html-spages-link}}">{{msg-specialpages}}</a>
										</li>
									{{/is-loggedin}}
									</ul>
								</div>
							</div>
