							<a class="link cell mobile-xl" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-recentchanges}}"  href="{{html-rc-link}}">
								<span class="cpe-icon material-icons">
								timeline
								</span>
							</a>
						{{#is-loggedin}}
							<a class="link cell mobile-xxl" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-evelution-newfiles}}"  href="{{html-files-link}}">
								<span class="cpe-icon material-icons">
								photo_library
								</span>
							</a>
						{{/is-loggedin}}
						{{^is-loggedin}}
							{{#has-forum}}
							  <a class="link forum mobile-xxl" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-talk}}" href="{{html-forum-link}}">
										<span class="cpe-icon material-icons">
											forum
										</span>
							  </a>
							{{/has-forum}}
							<a class="link cell last-action {{#has-forum}}mobile-xxl{{/has-forum}}{{^has-forum}}mobile-xl{{/has-forum}}" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-allarticles}}"  href="{{html-allpages-link}}">
								<span class="cpe-icon material-icons">
								pages
								</span>
							</a>
						{{/is-loggedin}}

							<div class="cpe-dropdown more-items-menu has-reversed-nested-menus {{^is-loggedin}}overflow-mobile-{{#has-forum}}xxl{{/has-forum}}{{^has-forum}}xl{{/has-forum}}{{/is-loggedin}}">
								<div class="link cell last-action" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-moredotdotdot}}">
									<span class="cpe-icon cpe-dropdown__toggle-chevron material-icons">
										more_vertical
									</span>
								</div>
								<div class="cpe-dropdown__content is-not-scrollable cpe-visual-appearance is-right-aligned has-small-content">
									<ul class="cpe-list is-linked">
										<li class="mobile-xl">
											<a href="{{html-rc-link}}">{{msg-recentchanges}}</a>
										</li>
									{{#is-loggedin}}
										<li class="mobile-xxl">
											<a href="{{html-files-link}}">{{msg-evelution-newfiles}}</a>
										</li>
									{{/is-loggedin}}
									{{#has-forum}}
										<li class="{{^is-loggedin}}mobile-xxl{{/is-loggedin}}">
											<a href="{{html-forum-link}}">{{msg-talk}}</a>
										</li>
									{{/has-forum}}
									{{#is-loggedin}}
										<li>
											<a href="{{html-stats-link}}">{{msg-statistics}}</a>
										</li>
										<li>
											<a href="{{html-upload-link}}">{{msg-upload}}</a>
										</li>
										<li class="cpe-dropdown-level-2">
											<a>
												<span>CSS</span>
												<span class="cpe-icon cpe-icon-tiny cpe-icon-large cpe-dropdown-chevron material-icons">
													expand_more
												</span>
											</a>
											<div class="cpe-dropdown-level-2__content">
												<ul class="cpe-list is-linked has-icons is-single-row">
													<li>
														<a href="{{html-css-link}}">
															<svg xmlns="http://www.w3.org/2000/svg" class="cpe-icon">
																<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#evelution-logo" />
															</svg>
														</a>
													</li>
													<li>
														<a href="{{html-css2-link}}">
															<span class="cpe-icon material-icons">computer</span>
														</a>
													</li>
													<li>
														<a href="{{html-css3-link}}">
															<span class="cpe-icon material-icons">smartphone</span>
														</a>
													</li>
												</ul>
												{{#has-css}}
													<hr>
													<ul class="cpe-list is-linked has-icons is-single-row">
														<li>
															<a href="{{html-mypage-link}}/evelution.css">
																<span class="cpe-icon cpe-icon-small cpe-icon-badge material-icons">person</span>
																<svg xmlns="http://www.w3.org/2000/svg" class="cpe-icon">
																	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#evelution-logo" />
																</svg>
															</a>
														</li>
														<li>
															<a href="{{html-mypage-link}}/common.css">
																<span class="cpe-icon cpe-icon-small cpe-icon-badge material-icons">person</span>
																<span class="cpe-icon material-icons">computer</span>
															</a>
														</li>
														<li>
															<a href="{{html-mypage-link}}/mobile.css">
																<span class="cpe-icon cpe-icon-small cpe-icon-badge material-icons">person</span>
																<span class="cpe-icon material-icons">smartphone</span>
															</a>
														</li>
													</ul>
												{{/has-css}}

											</div>
										</li>
										<li class="cpe-dropdown-level-2">
											<a>
												<span>JS</span>
												<span class="cpe-icon cpe-icon-tiny cpe-icon-large cpe-dropdown-chevron material-icons">
													expand_more
												</span>
											</a>
											<div class="cpe-dropdown-level-2__content">
												<ul class="cpe-list is-linked has-icons is-single-row">
													<li>
														<a href="{{html-js-link}}">
															<svg xmlns="http://www.w3.org/2000/svg" class="cpe-icon">
																<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#evelution-logo" />
															</svg>
														</a>
													</li>
													<li>
														<a href="{{html-js2-link}}">
															<span class="cpe-icon material-icons">computer</span>
														</a>
													</li>
													<li>
														<a href="{{html-js3-link}}">
															<span class="cpe-icon material-icons">smartphone</span>
														</a>
													</li>
												</ul>
												{{#has-js}}
													<hr>
													<ul class="cpe-list is-linked has-icons is-single-row">
														<li>
															<a href="{{html-mypage-link}}/evelution.js">
																<span class="cpe-icon cpe-icon-small cpe-icon-badge material-icons">person</span>
																<svg xmlns="http://www.w3.org/2000/svg" class="cpe-icon">
																	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#evelution-logo" />
																</svg>
															</a>
														</li>
														<li>
															<a href="{{html-mypage-link}}/common.js">
																<span class="cpe-icon cpe-icon-small cpe-icon-badge material-icons">person</span>
																<span class="cpe-icon material-icons">computer</span>
															</a>
														</li>
														<li>
															<a href="{{html-mypage-link}}/mobile.js">
																<span class="cpe-icon cpe-icon-small cpe-icon-badge material-icons">person</span>
																<span class="cpe-icon material-icons">smartphone</span>
															</a>
														</li>
													</ul>
												{{/has-js}}
											</div>
										</li>
									{{/is-loggedin}}
										<li class="{{^is-loggedin}}{{#has-forum}}mobile-xxl{{/has-forum}}{{^has-forum}}mobile-xl{{/has-forum}}{{/is-loggedin}}">
											<a href="{{html-allpages-link}}">{{msg-allarticles}}</a>
										</li>
									{{#is-loggedin}}
										<li>
											<a href="{{html-apisandbox-link}}">{{msg-apisandbox}}</a>
										</li>
										<li>
											<a href="{{html-allmessages-link}}">{{msg-allmessages}}</a>
										</li>
										<li>
											<a href="{{html-spages-link}}">{{msg-specialpages}}</a>
										</li>
									{{/is-loggedin}}
									</ul>
								</div>
							</div>
