						<!-- Activity Module -->
						<section class="mpisto-module activity-module">
							<h2 class="cpe-midlight-color">
								<span class="cpe-icon material-icons">
								trending_up
								</span>
								<span>
								{{msg-recentchanges}}
								</span>
							</h2>
							<div class="mpisto-module-content">
								{{msg-eve-activity-module}}
							</div>
							<a href="{{html-rc-link}}" class="cpe-button cpe-is-secondary cpe-is-alternate cpe-is-full-width">{{msg-moredotdotdot}}</a>
						</section>
						<!-- Info Module -->
						<section class="mpisto-module info-module">
							<h2 class="cpe-midlight-color">
								<span class="cpe-icon material-icons">
								info
								</span>
								<span>
								{{msg-aboutsite}}
								</span>
							</h2>
							<div class="mpisto-module-content">
								{{msg-eve-about-module-info}}
							</div>
							<a href="{{html-edit-link}}/MediaWiki:Eve-about-module-info" class="cpe-button cpe-is-secondary cpe-is-alternate cpe-is-full-width">{{msg-edit}}</a>
						</section>
