						<!-- Discord Module -->
					{{#is-loggedin}}
						<section class="evelution-module discord-module rail-module">
							<h2 class="module-container rail-module__header">
								<div class="lunalevit disables-on-accent"></div>
								<span class="cpe-icon material-icons">
								forum
								</span>
								<span class="module-title">
								{{msg-evelution-discord}}
								</span>
								<div class="rail-buttons">
									<a href="{{html-edit-link}}/MediaWiki:Evelution-discord-module-server-id" class="rail-button" title="{{msg-edit}}">
										<span class="cpe-icon material-icons">
										edit
										</span>
									</a>
								{{#has-discord-id}}
									<a href="https://discord.com/register" class="rail-button" title="{{msg-createaccount}}">
										<span class="cpe-icon material-icons">
										person
										</span>
									</a>
								{{/has-discord-id}}
								</div>

							</h2>
							<div class="evelution-module-content">
								{{#has-discord-id}}
									<div class="darkmode-off light discord-widget">
										<iframe src="https://discord.com/widget?id={{msg-evelution-discord-module-server-id}}&theme=light" width="100%" height="375" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
									</div>
									<div class="darkmode-on light discord-widget">
										<iframe src="https://discord.com/widget?id={{msg-evelution-discord-module-server-id}}&theme=dark" width="100%" height="375" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
									</div>
								{{/has-discord-id}}							
							</div>
						</section>
					{{/is-loggedin}}
					<div class="evelution-sticky-modules">
						<!-- Activity Module -->
						<section class="evelution-module activity-module rail-module">
							<h2 class="module-container rail-module__header">
								<div class="lunalevit disables-on-accent"></div>
								<span class="cpe-icon material-icons">
								trending_up
								</span>
								<span class="module-title">
								{{msg-recentchanges}}
								</span>
								<div class="rail-buttons">
									<a href="{{html-rc-link}}" class="rail-button" title="{{msg-moredotdotdot}}">
										<span class="cpe-icon material-icons">
										arrow_forward_ios
										</span>
									</a>
								</div>
							</h2>
							<div class="evelution-module-content">
								{{msg-evelution-activity-module}}
							</div>
						</section>
						<!-- Info Module -->
						<section class="evelution-module info-module rail-module">
							<h2 class="module-container rail-module__header">
								<div class="lunalevit disables-on-accent"></div>
								<span class="cpe-icon material-icons">
								info
								</span>
								<span class="module-title">
								{{msg-aboutsite}}
								</span>
								<div class="rail-buttons">
									<a href="{{html-edit-link}}/MediaWiki:Evelution-about-module-info" class="rail-button" title="{{msg-edit}}">
										<span class="cpe-icon material-icons">
										edit
										</span>
									</a>
								</div>
							</h2>
							<div class="evelution-module-content">
								{{msg-evelution-about-module-info}}
							</div>
						</section>
					</div>