						<!-- TOC Module -->
					<div class="evelution-sticky-modules">
						<section class="evelution-module toc-module rail-module">
							<h2 class="rail-module__header">
								<span class="cpe-icon material-icons">
								description
								</span>
								<span>
								{{msg-toc}}
								</span>
							</h2>
							<div class="evelution-module-content">
								<div class="toc floating_toc" style="display:contents; border:0; background:transparent; display:block; color:inherit;">
									<ul class="toc module-toc floating_toc" id="toc" style="border:0; background:transparent; display:block; color:inherit;" role="navigation">
									</ul>
								</div>
							</div>
							<div class="cpe-button-group">
								<a href="{{html-info-link}}/{{html-titlealt}}" class="cpe-button is-full-width">{{msg-pageinfo-toolboxlink}}</a>
							</div>
						</section>
						<!-- Tools Module -->
						<section class="evelution-module tools-module rail-module">
							<h2 class="rail-module__header">
								<span class="cpe-icon material-icons">
								settings
								</span>
								<span>
								{{msg-toolbox}}
								</span>
							</h2>
							<div class="evelution-module-content">
								<ul>
								</ul>
							</div>
							<div class="cpe-button-group">
								<a href="{{html-edit-link}}/MediaWiki:Evelution.css" class="cpe-button is-secondary is-full-width">Site CSS</a>
								<a href="{{html-edit-link}}/MediaWiki:Evelution.js" class="cpe-button is-secondary is-full-width"> Site JS</a>
							</div>
						</section>
					</div>