	{{#has-no-color-management}}
		:root:root .theme-A, 
		:root:root .theme-B, 
		:root:root .theme-C, 
		:root:root .theme-D, 
		:root:root .theme-E, 
		:root:root .theme-F, 
		:root:root .theme-G, 
		:root:root .theme-H {
			--desktop-background-image:url("")!important;
			--desktop-background-image-filter:none!important;
			--desktop-background-color:background!important;
			--desktop-text-background-color:auto!important;
			--desktop-background-mode:header!important;
			--desktop-background-horizontal-alignment:center!important;
			--desktop-background-vertical-alignment:center!important;
			--desktop-background-size:cover!important;
			--desktop-background-no-horizontal-tiling:false!important;
			--desktop-background-no-vertical-tiling:false!important;
			--hyperlink-background-color:linktext!important;
			--canvas-background-color:canvas!important;
			--canvas-secondary-background-color:buttonface!important;
			--inactive-text-background-color:graytext!important;
			--canvas-text-background-color:canvastext!important;
			--canvas-text-secondary-background-color:buttontext!important;
			--highlight-text-background-color:highlighttext!important;
			--active-title-background-color:activecaption!important;
			--active-title-text-background-color:captiontext!important;
			--inactive-title-background-color:inactivecaption!important;
			--inactive-title-text-background-color:inactivecaptiontext!important;
			--custom-font:""!important;
			--custom-secondary-font:""!important;
			--border-radius:5px!important;
			--icon-filter:opacity(1)!important;
			--icon-filter-hover:opacity(0.8)!important;
			--icon-filter-duration:0ms!important;
			--icon-filter-delay:0ms!important;
			--system-acryllic-opacity:0.6!important;
			--system-generic-color-hue-shift:0!important;
			--system-generic-color-saturation:100%!important;
		}
	{{/has-no-color-management}}
