	{{#has-no-color-management}}
		:root:root .theme-A, 
		:root:root .theme-B, 
		:root:root .theme-C, 
		:root:root .theme-D, 
		:root:root .theme-E, 
		:root:root .theme-F, 
		:root:root .theme-G, 
		:root:root .theme-H {
			--desktop-background-image:url("")!important;
			--desktop-background-image-filter:none!important;
			--desktop-background-color:background!important;
			--desktop-text-background-color:auto!important;
			--desktop-background-mode:header!important;
			--desktop-background-horizontal-alignment:center!important;
			--desktop-background-vertical-alignment:center!important;
			--desktop-background-size:cover!important;
			--desktop-background-no-horizontal-tiling:false!important;
			--desktop-background-no-vertical-tiling:false!important;
			--hyperlink-background-color:linktext!important;
			--canvas-background-color:canvas!important;
			--canvas-secondary-background-color:buttonface!important;
			--inactive-text-background-color:graytext!important;
			--canvas-text-background-color:canvastext!important;
			--canvas-text-secondary-background-color:buttontext!important;
			--highlight-background-color:highlight!important;
			--active-title-background-color:activecaption!important;
			--inactive-title-background-color:inactivecaption!important;
			--custom-font:""!important;
			--custom-secondary-font:""!important;
			--border-radius:5px!important;
			--icon-filter:opacity(1)!important;
			--icon-filter-hover:opacity(1)!important;
			--icon-filter-duration:0ms!important;
			--icon-filter-delay:0ms!important;
			--system-visual-style:standard;
			--system-acryllic-opacity:0.6!important;
		}
	{{/has-no-color-management}}
	{{#has-servelution-no-gchs}}
	:root:root:root .theme-A,
	:root:root:root .theme-B,
	:root:root:root .theme-C,
	:root:root:root .theme-D,
	:root:root:root .theme-E,
	:root:root:root .theme-F,
	:root:root:root .theme-G,
	:root:root:root .theme-H {
		--system-generic-color-hue-shift:0!important;
	}
	{{/has-servelution-no-gchs}}

	{{#has-servelution-no-custom-2ndbg}}	
	:root:root:root .theme-A,
	:root:root:root .theme-B,
	:root:root:root .theme-C,
	:root:root:root .theme-D,
	:root:root:root .theme-E,
	:root:root:root .theme-F,
	:root:root:root .theme-G,
	:root:root:root .theme-H {
		--canvas-secondary-background-color:auto!important;
		--canvas-text-secondary-background-color:auto!important;
	}
	{{/has-servelution-no-custom-2ndbg}}	
	
	{{#has-servelution-no-mica}}	
	:root:root:root body,
	:root:root:root .cpe-dropdown__content,
	:root:root:root .cpe-dropdown__content .cpe-list.is-linked .cpe-dropdown-level-2 .cpe-dropdown-level-2__content {
		--mica-opacity:1!important;
	}


	:root:root:root:root body {
		--mica-filter:none!important;
		--tabbed-filter:none!important;
		--tabbed-filter-dark:none!important;
	}

	:root:root:root .has-levit::before,
	:root:root:root .has-levit::after {
		content:none!important;
	}
	{{/has-servelution-no-mica}}	

	{{#has-servelution-no-imagefilter}}
	:root:root:root .theme-A,
	:root:root:root .theme-B,
	:root:root:root .theme-C,
	:root:root:root .theme-D,
	:root:root:root .theme-E,
	:root:root:root .theme-F,
	:root:root:root .theme-G,
	:root:root:root .theme-H {
		--desktop-background-image-filter:none!important;
	}
	{{/has-servelution-no-imagefilter}}

	{{#has-servelution-no-customfont}}
	:root:root:root .theme-A,
	:root:root:root .theme-B,
	:root:root:root .theme-C,
	:root:root:root .theme-D,
	:root:root:root .theme-E,
	:root:root:root .theme-F,
	:root:root:root .theme-G,
	:root:root:root .theme-H {
		--custom-font:""!important;
	}
	{{/has-servelution-no-customfont}}

	{{#has-servelution-no-customacryllic}}
	:root:root:root .theme-A,
	:root:root:root .theme-B,
	:root:root:root .theme-C,
	:root:root:root .theme-D,
	:root:root:root .theme-E,
	:root:root:root .theme-F,
	:root:root:root .theme-G,
	:root:root:root .theme-H {
		--system-acryllic-opacity:0.6!important;
	}
	{{/has-servelution-no-customacryllic}}

	{{#has-servelution-no-newluna}}
	/* Unaccented (Unfocused) */
	:root:root:root body:not(:focus):not(:focus-within),
	:root:root:root body [force-inactive] {
		--dropdown-opacity:var(--system-acryllic-opacity);
		--luna-background-color:var(--canvas-secondary-background-color);
		--luna-mica-background-color:transparent;
		--luna-background-color-rgb:var(--canvas-secondary-background-color-rgb);
		--luna-background-color-hover:var(--canvas-secondary-background-color-hover);
		--luna-text-background-color:var(--canvas-text-background-color);
		--luna-text-background-color-hover:var(--canvas-text-background-color-hover);
		--luna-text-background-color-rgb:var(--canvas-text-background-color-rgb);
		--luna-text-background-color-hover-rgb:var(--canvas-text-background-color-hover-rgb);	
		--luna-border-background-color:var(--canvas-secondary-background-color-hover);
		--luna-foreground-color:var(--canvas-secondary-foreground-color);
		--luna-foreground-color-inverted:var(--canvas-secondary-foreground-color);
		--luna-foreground-color-hover:var(--canvas-secondary-foreground-color-hover);
		--luna-foreground-color-rgb:var(--canvas-secondary-foreground-color-rgb);
		--luna-foreground-color-hover-rgb:var(--canvas-secondary-foreground-color-hover-rgb);
		--luna-alternative-foreground-color:var(--canvas-secondary-alternative-foreground-color);
		--luna-alternative-foreground-color-hover:var(--canvas-secondary-alternative-foreground-color-hover);
		--luna-alternative-foreground-color-rgb:var(--canvas-alternative-foreground-color-rgb);
		--luna-hyperlink-background-color:var(--hyperlink-secondary-background-color);
		--luna-hyperlink-background-color-rgb:var(--hyperlink-secondary-background-color-rgb);
	}


	/* Accented (Focused) */
	:root:root:root:root.has-accents body,
	:root:root:root:root.has-accents body [force-active] {
		--luna-background-color:var(--highlight-background-color);
		--luna-mica-background-color:var(--luna-background-color);
		--luna-background-color-rgb:var(--highlight-background-color-rgb);
		--luna-background-color-hover:var(--highlight-background-color-hover);
		--luna-text-background-color:var(--highlight-alternative-foreground-color);
		--luna-text-background-color-hover:var(--highlight-alternative-foreground-color-hover);
		--luna-text-background-color-rgb:var(--highlight-alternative-foreground-color-rgb);
		--luna-text-background-color-hover-rgb:var(--highlight-alternative-foreground-color-hover-rgb);	
		--luna-border-background-color:var(--highlight-background-color-hover);
		--luna-foreground-color:var(--highlight-foreground-color);
		--luna-foreground-color-inverted:var(--highlight-foreground-color-inverted);
		--luna-foreground-color-hover:var(--highlight-foreground-color-hover);
		--luna-foreground-color-rgb:var(--highlight-foreground-color-rgb);
		--luna-foreground-color-hover-rgb:var(--highlight-foreground-color-hover-rgb);
		--luna-alternative-foreground-color:var(--highlight-alternative-foreground-color);
		--luna-alternative-foreground-color-hover:var(--highlight-alternative-foreground-color-hover);
		--luna-alternative-foreground-color-rgb:var(--highlight-alternative-foreground-color-rgb);
		--luna-hyperlink-background-color:var(--hyperlink-tertiary-background-color);
		--luna-hyperlink-background-color-rgb:var(--hyperlink-tertiary-background-color-rgb);
	}

	/* Accented (Unfocused) */
	:root:root:root:root.has-accents body:not(:focus):not(:focus-within),
	:root:root:root:root.has-accents body [force-inactive] {
		--luna-background-color:var(--highlight-background-color);
		--luna-mica-background-color:var(--luna-background-color);
		--luna-background-color-rgb:var(--highlight-background-color-rgb);
		--luna-background-color-hover:var(--highlight-background-color-hover);
		--luna-text-background-color:var(--highlight-alternative-foreground-color);
		--luna-text-background-color-hover:var(--highlight-alternative-foreground-color-hover);
		--luna-text-background-color-rgb:var(--highlight-alternative-foreground-color-rgb);
		--luna-text-background-color-hover-rgb:var(--highlight-alternative-foreground-color-hover-rgb);	
		--luna-border-background-color:var(--highlight-background-color-hover);
		--luna-foreground-color:var(--highlight-foreground-color);
		--luna-foreground-color-inverted:var(--highlight-foreground-color-inverted);
		--luna-foreground-color-hover:var(--highlight-foreground-color-hover);
		--luna-foreground-color-rgb:var(--highlight-foreground-color-rgb);
		--luna-foreground-color-hover-rgb:var(--highlight-foreground-color-hover-rgb);
		--luna-alternative-foreground-color:var(--highlight-alternative-foreground-color);
		--luna-alternative-foreground-color-hover:var(--highlight-alternative-foreground-color-hover);
		--luna-alternative-foreground-color-rgb:var(--highlight-alternative-foreground-color-rgb);
		--luna-hyperlink-background-color:var(--hyperlink-tertiary-background-color);
		--luna-hyperlink-background-color-rgb:var(--hyperlink-tertiary-background-color-rgb);
	}

	{{/has-servelution-no-newluna}}
	
	{{#has-servelution-no-accent}}
	/* Unaccented (Unfocused) */
	:root:root:root body,
	:root:root:root body {
		--dropdown-opacity:var(--system-acryllic-opacity);
		--luna-background-color:var(--canvas-secondary-background-color);
		--luna-mica-background-color:transparent;
		--luna-background-color-rgb:var(--canvas-secondary-background-color-rgb);
		--luna-background-color-hover:var(--canvas-secondary-background-color-hover);
		--luna-text-background-color:var(--canvas-text-background-color);
		--luna-text-background-color-hover:var(--canvas-text-background-color-hover);
		--luna-text-background-color-rgb:var(--canvas-text-background-color-rgb);
		--luna-text-background-color-hover-rgb:var(--canvas-text-background-color-hover-rgb);	
		--luna-border-background-color:var(--canvas-secondary-background-color-hover);
		--luna-foreground-color:var(--canvas-secondary-foreground-color);
		--luna-foreground-color-inverted:var(--canvas-secondary-foreground-color);
		--luna-foreground-color-hover:var(--canvas-secondary-foreground-color-hover);
		--luna-foreground-color-rgb:var(--canvas-secondary-foreground-color-rgb);
		--luna-foreground-color-hover-rgb:var(--canvas-secondary-foreground-color-hover-rgb);
		--luna-alternative-foreground-color:var(--canvas-secondary-alternative-foreground-color);
		--luna-alternative-foreground-color-hover:var(--canvas-secondary-alternative-foreground-color-hover);
		--luna-alternative-foreground-color-rgb:var(--canvas-alternative-foreground-color-rgb);
		--luna-hyperlink-background-color:var(--hyperlink-secondary-background-color);
		--luna-hyperlink-background-color-rgb:var(--hyperlink-secondary-background-color-rgb);
	}
	{{/has-servelution-no-accent}}

	{{#has-servelution-no-actions}}
	:root:root:root .evelution-floating-actions-container {
		position:relative!important;
		top:10px!important;
	}
	{{/has-servelution-no-actions}}
	
	{{#has-servelution-no-headertext}}
		:root:root:root .evelution-top-actions {
		--header-foreground-color:var(--desktop-foreground-color)!important;
		--header-foreground-color-hover:var(--desktop-foreground-color-hover)!important;
		--header-foreground-color-rgb:var(--desktop-foreground-color-rgb)!important;
		--header-foreground-color-hover-rgb:var(--desktop-foreground-color-hover-rgb)!important;
		}

		:root:root:root {
			--desktop-text-background-color:var(--desktop-foreground-color)!important;
			--desktop-text-background-color-hover:var(--desktop-foreground-color-hover)!important;
			--desktop-text-background-color-rgb:var(--desktop-foreground-color-rgb)!important;
			--desktop-text-background-color-hover-rgb:var(--desktop-foreground-color-hover-rgb)!important;
		}

	{{/has-servelution-no-headertext}}
	
	{{#has-servelution-no-dground}}
		:root:root:root {
			--canvas-foreground-color:var(--canvas-text-background-color)!important;
			--canvas-foreground-color-hover:var(--canvas-text-background-color-hover)!important;
			--canvas-foreground-color-inverted:var(--canvas-text-background-color)!important;
			--canvas-foreground-color-rgb:var(--canvas-text-background-color-rgb)!important;
			--canvas-foreground-color-hover-rgb:var(--canvas-text-background-color-hover-rgb)!important;
			--canvas-secondary-foreground-color:var(--canvas-text-secondary-background-color)!important;
			--canvas-secondary-foreground-color-hover:var(--canvas-text-secondary-background-color-hover)!important;
			--canvas-secondary-foreground-color-inverted:var(--canvas-text-secondary-background-color)!important;
			--canvas-secondary-foreground-color-rgb:var(--canvas-text-secondary-background-color-rgb)!important;
			--canvas-secondary-foreground-color-hover-rgb:var(--canvas-text-secondary-background-color-hover-rgb)!important;
		}
	{{/has-servelution-no-dground}}
	{{#has-servelution-vanadium}}

	:root:root:root .action-view:not(.ns--1):not(.ns-6):not(.ns-8):not(.mainpage) container:not(.no-rail) .evelution-page-header-title {
		padding-left:var(--l-content-padding)!important;
	}
	
	:root:root:root .evelution-page-header .toggle-left-rail-button {
		display:none!important;
	}


	{{/has-servelution-vanadium}}