		<header class="evelution-page-header page-header" id ="PageHeader">
		<div class="lunalevit disables-on-accent"></div>
		<div class="evelution-page-header-notices">
			{{>Notices}}
		</div>
		  <div class="evelution-page-header-actions page-header__top">
		    {{>TabbedActions}}
		  </div>
		  <div class="evelution-page-header-main page-header__bottom">
			{{#data-portlets.data-actions}}{{>PortletMA}}{{/data-portlets.data-actions}}
			<button class="toggle-rail-button toggle-right-rail-button" onclick="ToggleRail()" cpe-tooltip-position="reverse" cpe-tooltip="{{msg-evelution-togglesize}}">
				<span class="cpe-icon material-icons rail-on">
					check_box_outline_blank
				</span>
				<span class="cpe-icon material-icons rail-off" style="transform:scaleX(calc(var(--icon-scale) * -1)) scaleY(var(--icon-scale)) rotate(var(--icon-rotate))">
					content_copy
				</span>
			</button>
			<div class="evelution-page-header-title page-header__title-wrapper">
				<div class="evelution-title-with-indicators namespace-with-title">
					<h1 class="evelution-title has-icon page-header__title" id="firstheading"><span>{{html-title}}</span></h1>
					<div class="mw-indicators">{{#array-indicators}}<span id="{{{id}}}" class="{{{class}}}">{{{html}}}</span>{{/array-indicators}}</div>
				</div>
			</div>
			<div class="evelution-page-header-rest">
				<h4 class="evelution-page-header-subtitle page-header__subtitle" id="#contentSub">
					<span>{{msg-tagline}}</span>
					<span>{{{html-subtitle}}}</span>
					<span>{{{html-undelete-link}}}</span>			
				</h4>
						<div class="evelution-page-header-contribution-buttons page-header__actions"></div>
				</div>
		  </div>
		 </header>
		 