<div class="evelution-floating-actions page-side-tools__wrapper">
	<div class="evelution-floating-actions-container cpe-floating-button-group is-vertical page-side-tools">
		{{^has-forced-full-width}}
			<button class="cpe-floating-button accent toggle-size page-side-tool content-size-toggle" onclick="ToggleWidth()" cpe-tooltip="{{msg-evelution-togglesize}}">
				<span class="cpe-icon material-icons wide-off">
					open_in_full
				</span>
				<span class="cpe-icon material-icons wide-on">
					close_fullscreen
				</span>
			</button>
		{{/has-forced-full-width}}
		{{^has-servelution-no-accent}}
			<button class="cpe-floating-button accent accent-toggle page-side-tool" onclick="ToggleAccent()" cpe-tooltip="{{msg-evelution-toggleaccent}}">
				<span class="cpe-icon material-icons">
					<span class="accented-off">
						invert_colors
					</span>
					<span class="accented-on">
						invert_colors_off
					</span>
				</span>
			</button>
		{{/has-servelution-no-accent}}
		{{^has-servelution-vanadium}}
		<!-- Contrast Modes -->
		<div class="cpe-dropdown contrast-modes" cpe-orient="land">				
			<div class="cpe-floating-button accent contrast-modes page-side-tool" cpe-tooltip="{{msg-evelution-contrast-modes}}">
				<span class="cpe-icon material-icons">
					contrast
				</span>
			</div>
			<div class="cpe-dropdown__content cpe-visual-appearance">					
				 <ul class="cpe-list is-linked cpe-contrast-modes has-icons">						
					<li data-contrast-mode="auto" title="{{msg-evelution-designer-auto}}">
						<a onclick="contrastmode('auto')">
							<span class="cpe-icon material-icons darkmode-off">brightness_auto</span>
							<span class="cpe-icon material-icons darkmode-on">hdr_auto</span>
						</a>
					</li>
					<li data-contrast-mode="low" title="Low">
						<a onclick="contrastmode('low')">
							<span class="cpe-icon material-icons darkmode-off">brightness_7</span>
							<span class="cpe-icon material-icons darkmode-on">brightness_1</span>
						</a>
					</li>
					<li data-contrast-mode="med-low" title="Medium-Low">
						<a onclick="contrastmode('med-low')">
							<span class="cpe-icon material-icons darkmode-off">brightness_6</span>
							<span class="cpe-icon material-icons darkmode-on">brightness_2</span>
						</a>
					</li>
					<li data-contrast-mode="med" title="Medium">
						<a onclick="contrastmode('med')">
							<span class="cpe-icon material-icons darkmode-off">brightness_5</span>
							<span class="cpe-icon material-icons darkmode-on">brightness_3</span>
						</a>
					</li>
					<li data-contrast-mode="med-hi" title="Medium-High">
						<a onclick="contrastmode('med-hi')">
							<span class="cpe-icon material-icons">brightness_4</span>
						</a>
					</li>
					<li data-contrast-mode="hi" title="High">
						<a onclick="contrastmode('hi')">
							<span class="cpe-icon material-icons darkmode-off">brightness_3</span>
							<span class="cpe-icon material-icons darkmode-on">brightness_5</span>
						</a>
					</li>
					<li data-contrast-mode="hi-vhi" title="High-Very High">
						<a onclick="contrastmode('hi-vhi')">
							<span class="cpe-icon material-icons darkmode-off">brightness_2</span>
							<span class="cpe-icon material-icons darkmode-on">brightness_6</span>
						</a>
					</li>
					<li data-contrast-mode="vhi" title="Very High">
						<a onclick="contrastmode('vhi')">
							<span class="cpe-icon material-icons darkmode-off">brightness_1</span>
							<span class="cpe-icon material-icons darkmode-on">brightness_7</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	{{/has-servelution-vanadium}}
		<!-- Color Modes -->
		<div class="cpe-dropdown color-modes forced-colors-off" cpe-orient="land">				
			<div class="cpe-floating-button accent color-modes page-side-tool" cpe-tooltip="{{msg-evelution-colormodes}}">
				<span class="cpe-icon material-icons">
					hdr_auto
				</span>
			</div>
			<div class="cpe-dropdown__content cpe-visual-appearance" style="top:-126%;">
				<ul class="cpe-list is-linked cpe-device-themes has-icons">
					<li data-device-theme="auto" title="{{msg-evelution-designer-auto}}">
						<a onclick="colortheme('match-parent','auto')">
							<span class="cpe-icon material-icons">brightness_auto</span>
						</a>
					</li>
					<li data-device-theme="auto-dark" title="{{msg-evelution-designer-auto}} ({{msg-evelution-colorstyle-reversi}})">
						<a onclick="colortheme('match-parent','auto-dark')">
							<span class="cpe-icon material-icons">hdr_auto</span>
						</a>
					</li>
					<li data-device-theme="light" title="{{msg-evelution-lightmode}}">
						<a onclick="colortheme('match-parent','light')">
							<span class="cpe-icon material-icons">light_mode</span>
						</a>
					</li>
					<li data-device-theme="dark" title="{{msg-evelution-darkmode}}">
						<a onclick="colortheme('match-parent','dark')">
							<span class="cpe-icon material-icons">dark_mode</span>
						</a>
					</li>
				</ul>
				<hr class="color-management-on">
				<ul class="cpe-list is-linked cpe-color-styles has-icons color-management-on">
					<li data-color-style="standard" title="{{msg-evelution-standard}}">
						<a onclick="colortheme('standard')">
							<span class="cpe-icon material-icons darkdevice-off">brightness_auto</span>
							<span class="cpe-icon material-icons lightdevice-off">hdr_auto</span>
						</a>
					</li>
					<li data-color-style="single" title="{{msg-evelution-colorstyle-single}}">
						<a onclick="colortheme('single')">
							<span class="cpe-icon material-icons darkdevice-off">light_mode</span>
							<span class="cpe-icon material-icons lightdevice-off">dark_mode</span>
						</a>
					</li>
					<li data-color-style="grayscale" title="{{msg-evelution-colorstyle-grayscale}}">
						<a onclick="colortheme('grayscale')">
							<span class="cpe-icon material-icons darkdevice-off">filter_b_and_w</span>
							<span class="cpe-icon material-icons lightdevice-off"  style="--icon-scale:-1; transform:scaleX(var(--icon-scale)) rotate(var(--icon-rotate));">filter_b_and_w</span>
						</a>
					</li>
					<li data-color-style="singlegrayscale" title="{{msg-evelution-colorstyle-singlegrayscale}}">
						<a onclick="colortheme('singlegrayscale')">
							<span class="cpe-icon material-icons darkdevice-off">check_box_outline_blank</span>
							<span class="cpe-icon material-icons lightdevice-off">square</span>
						</a>
					</li>
					<li data-color-style="reversi" title="{{msg-evelution-colorstyle-reversi}}">
						<a onclick="colortheme('reversi')">
							<span class="cpe-icon material-icons darkdevice-off">invert_colors_off</span>
							<span class="cpe-icon material-icons lightdevice-off">invert_colors</span>
						</a>
					</li>
					<li data-color-style="singlereversi" title="{{msg-evelution-colorstyle-singlereversi}}">
						<a onclick="colortheme('singlereversi')">
							<span class="cpe-icon material-icons darkdevice-off">bedtime_off</span>
							<span class="cpe-icon material-icons lightdevice-off">bedtime</span>
						</a>
					</li>
					<li data-color-style="singlecolor_r" title="{{msg-evelution-colorstyle-singlecolor}} ({{msg-evelution-color-red}})">
						<a onclick="colortheme('singlecolor_r')">
							<span class="cpe-icon material-icons darkdevice-off" style="--icon-rotate:-90deg;">gradient</span>
							<span class="cpe-icon material-icons lightdevice-off" style="--icon-rotate:90deg;">gradient</span>
						</a>
					</li>
					<li data-color-style="singlecolor_g" title="{{msg-evelution-colorstyle-singlecolor}} ({{msg-evelution-color-green}})">
						<a onclick="colortheme('singlecolor_g')">
							<span class="cpe-icon material-icons darkdevice-off" style="--icon-rotate:90deg;">gradient</span>
							<span class="cpe-icon material-icons lightdevice-off" style="--icon-rotate:-90deg;">gradient</span>
						</a>
					</li>
					<li data-color-style="singlecolor_b" title="{{msg-evelution-colorstyle-singlecolor}} ({{msg-evelution-color-blue}})">
						<a onclick="colortheme('singlecolor_b')">
							<span class="cpe-icon material-icons darkdevice-off">gradient</span>
							<span class="cpe-icon material-icons lightdevice-off" style="--icon-rotate:180deg;">gradient</span>
						</a>
					</li>
					<li data-color-style="singlecolor" title="{{msg-evelution-colorstyle-singlecolor}} ({{msg-evelution-color-yellow}})">
						<a onclick="colortheme('singlecolor')">
							<span class="cpe-icon material-icons darkdevice-off" style="--icon-rotate:180deg;">gradient</span>
							<span class="cpe-icon material-icons lightdevice-off">gradient</span>
						</a>
					</li>
					<li data-color-style="hottemperature" title="{{msg-evelution-colorstyle-hottemperature}}">
						<a onclick="colortheme('hottemperature')">
							<span class="cpe-icon material-icons darkdevice-off">thermostat</span>
							<span class="cpe-icon material-icons lightdevice-off" style="--icon-rotate:180deg;">thermostat</span>
						</a>
					</li>
					<li data-color-style="coldtemperature" title="{{msg-evelution-colorstyle-coldtemperature}}">
						<a onclick="colortheme('coldtemperature')">
							<span class="cpe-icon material-icons darkdevice-off">ac_unit</span>
							<span class="cpe-icon material-icons lightdevice-off">storm</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- Styles -->
		<div class="cpe-dropdown styles" cpe-orient="land">				
			<div class="cpe-floating-button accent styles page-side-tool" cpe-tooltip="{{msg-evelution-visual-styles}}">
				<span class="cpe-icon material-icons">
					format_paint
				</span>
			</div>
			<div class="cpe-dropdown__content cpe-visual-appearance" style="top:-100%;">					
				 <ul class="cpe-list is-linked cpe-visual-styles has-icons">						
					<li data-visual-style="standard" title="{{msg-evelution-standard}}">
						<a onclick="VisualStyle('standard')">
							<span class="cpe-icon material-icons">build</span>
						</a>
					</li>


					<li data-visual-style="custom_1" class="custom base-visual-style" title="{{msg-evelution-style-custom}} 1">
						<a onclick="VisualStyle('custom_1')">
							1
						</a>
					</li>
					<li data-visual-style="custom_2" class="custom"  title="{{msg-evelution-style-custom}} 2">
						<a onclick="VisualStyle('custom_2')">
							2
						</a>
					</li>
					<li data-visual-style="custom_3" class="custom"  title="{{msg-evelution-style-custom}} 3">
						<a onclick="VisualStyle('custom_3')">
							3
						</a>
					</li>
					<li data-visual-style="custom_4" class="custom"  title="{{msg-evelution-style-custom}} 4">
						<a onclick="VisualStyle('custom_4')">
							4
						</a>
					</li>


				</ul>
			</div>
		</div>
	{{^has-no-color-management}}
		<!-- Colors -->
		<div class="cpe-dropdown colors forced-colors-off" cpe-orient="land">				
			<div class="cpe-floating-button accent colors page-side-tool" cpe-tooltip="{{msg-evelution-visual-colors}}">
				<span class="cpe-icon material-icons">
					palette
				</span>
			</div>
			<div class="cpe-dropdown__content cpe-visual-appearance" style="top:-75%;">					
				 <ul class="cpe-list is-linked cpe-visual-colors has-icons">						
					<li data-visual-color="standard" title="{{msg-evelution-standard}}">
						<a onclick="VisualColor('standard')">
							<span class="cpe-icon material-icons">build</span>
						</a>
					</li>
					<li data-visual-color="nocolormanagement" title="{{msg-evelution-nocolormanagement}}">
						<a onclick="VisualColor('nocolormanagement')">
							<span class="cpe-icon material-icons">invert_colors_off</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	{{/has-no-color-management}}
		<!-- Disabled Color Management Modes -->
		<div class="cpe-dropdown dcm-modes color-management-off" cpe-orient="land">
			<div class="cpe-floating-button accent dcm-toggle page-side-tool" cpe-tooltip="{{msg-evelution-dcmmodes}}">
				<span class="cpe-icon material-icons">
					colorize
				</span>
			</div>
			<div class="cpe-dropdown__content cpe-visual-appearance" style="top:-0%;">
				<ul class="cpe-list is-linked cpe-dcm-modes has-icons">
					<li data-dcm-mode="standard" title="{{msg-evelution-standard}}">
						<a onclick="SetDCM('standard')">
							<span class="cpe-icon material-icons">build</span>
						</a>
					</li>
					<li data-dcm-mode="basic" title="{{msg-evelution-style-basic}}">
						<a onclick="SetDCM('basic')">
							<span class="cpe-icon material-icons">invert_colors</span>
						</a>
					</li>
					<li data-dcm-mode="simple" title="{{msg-evelution-style-simple}}">
						<a onclick="SetDCM('simple')">
							<span class="cpe-icon material-icons">brush</span>
						</a>
					</li>
					<li data-dcm-mode="classic" title="{{msg-evelution-style-classic}}">
						<a onclick="SetDCM('classic')">
							<span class="cpe-icon material-icons">smart_toy</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	{{^has-no-color-management}}
		<!-- Themes -->
		<div class="cpe-dropdown themes color-management-on forced-colors-off" cpe-orient="land">
			<div class="cpe-floating-button accent themes page-side-tool" cpe-tooltip="{{msg-evelution-themes}}">
				<span class="cpe-icon material-icons">
					brush
				</span>
			</div>
			<div class="cpe-dropdown__content cpe-visual-appearance">
				<ul class="cpe-list is-linked cpe-themes has-icons">
					<li data-theme-change="theme-A">
						<a class="ThemeA" onclick="ToggleTheme('A')">
							A
						</a>
					</li>
					<li data-theme-change="theme-B">
						<a class="ThemeB" onclick="ToggleTheme('B')">
							B
						</a>
					</li>
					<li data-theme-change="theme-C">
						<a class="ThemeC" onclick="ToggleTheme('C')">
							C
						</a>
					</li>
					<li data-theme-change="theme-D">
						<a class="ThemeD" onclick="ToggleTheme('D')">
							D
						</a>
					</li>
					<li data-theme-change="theme-E">
						<a class="ThemeE" onclick="ToggleTheme('E')">
							E
						</a>
					</li>
					<li data-theme-change="theme-F">
						<a class="ThemeF" onclick="ToggleTheme('F')">
							F
						</a>
					</li>
					<li data-theme-change="theme-G">
						<a class="ThemeG" onclick="ToggleTheme('G')">
							G
						</a>
					</li>
					<li data-theme-change="theme-H">
						<a class="ThemeH" onclick="ToggleTheme('H')">
							H
						</a>
					</li>

				</ul>
			</div>
		</div>
	{{/has-no-color-management}}
		<button class="cpe-floating-button critical reset-settings page-side-tool" onclick="ResetSettings()" cpe-tooltip="{{msg-evelution-reset-settings}}">
			<span class="cpe-icon material-icons">
				delete_sweep
			</span>
		</button>
	</div>
</div>

<div class="evelution-floating-actions floats-to-right extra-actions page-side-tools__wrapper">
	<div class="evelution-floating-actions-container cpe-floating-button-group is-vertical page-side-tools">
	</div>
</div>