		<header class="mpisto-page-header" id ="PageHeader">
		  <div class="mpisto-page-header-main">
			<div class="mpisto-page-header-title">
				{{>Notices}}
				<h1 class="mpisto-title" id="firstheading">{{html-title}}</h1>
			</div>
			<h4 class="mpisto-sub" id="#contentSub">
				<span>{{msg-tagline}}</span>
				<span>{{{html-subtitle}}}</span>
				<span>{{{html-undelete-link}}}</span>			
			</h4>
				<div class="mpisto-page-header-contribution">
					<div class="mpisto-page-header-contribution-buttons">
					  <div class="cpe-button-group views">
						{{#data-portlets.data-namespaces}}{{>PortletBTN}}{{/data-portlets.data-namespaces}}						
					  </div>
						<div class="cpe-button-group actions">
						{{#data-portlets.data-views}}{{>PortletBTN}}{{/data-portlets.data-views}}
						  <div class="cpe-dropdown more-actions-menu">				
							<div class="cpe-button cpe-dropdown__toggle">
								<span class="cpe-icon cpe-icon-tiny cpe-icon-large cpe-dropdown__toggle-chevron material-icons-outlined">
									arrow_drop_down
								</span>
							</div>
								<div class="cpe-dropdown__content cpe-is-right-aligned">					
								<!--NameSpaces-->
									{{#data-portlets.data-actions}}{{>Portlet2}}{{/data-portlets.data-actions}}
								</div>
							</div>


						</div>

					</div>
				</div>
		  </div>
		 </header>