<div class="evelution-floating-actions page-side-tools__wrapper">
	<div class="evelution-floating-actions-container cpe-floating-button-group is-vertical page-side-tools">
		{{^has-forced-full-width}}
			<a class="cpe-floating-button accent toggle-size page-side-tool content-size-toggle" onclick="ToggleWidth()" cpe-tooltip="{{msg-evelution-togglesize}}">
				<span class="cpe-icon material-icons wide-off">
					open_in_full
				</span>
				<span class="cpe-icon material-icons wide-on">
					close_fullscreen
				</span>
			</a>
		{{/has-forced-full-width}}
		<a class="cpe-floating-button accent accent-toggle page-side-tool" onclick="ToggleAccent()" cpe-tooltip="{{msg-evelution-toggleaccent}}">
			<span class="cpe-icon material-icons">
				<span class="cpe-icon material-icons accented-off">
					invert_colors
				</span>
				<span class="cpe-icon material-icons accented-on">
					invert_colors_off
				</span>
			</span>
		</a>
		<!-- Views -->
		<div class="cpe-dropdown views" cpe-orient="land">				
			<div class="cpe-floating-button accent views page-side-tool" cpe-tooltip="{{msg-views}}">
				<span class="cpe-icon material-icons">
					description
				</span>
			</div>
			<div class="cpe-dropdown__content cpe-visual-appearance">					
				{{#data-portlets.data-views}}{{>Portlet2}}{{/data-portlets.data-views}}
			</div>
		</div>
		<!-- Contrast Modes -->
		<div class="cpe-dropdown contrast-modes" cpe-orient="land">				
			<div class="cpe-floating-button accent contrast-modes page-side-tool" cpe-tooltip="{{msg-evelution-contrast-modes}}">
				<span class="cpe-icon material-icons">
					filter_b_and_w
				</span>
			</div>
			<div class="cpe-dropdown__content cpe-visual-appearance">					
				 <ul class="cpe-list is-linked cpe-contrast-modes">						
					<li data-contrast-mode="auto" data-contrast-preset-name="Auto">
						<a onclick="contrastmode('auto')">
							<span class="cpe-icon material-icons">brightness_auto</span>
						</a>
					</li>
					<li data-contrast-mode="low" data-contrast-preset-name="Low">
						<a onclick="contrastmode('low')">
							<span class="cpe-icon material-icons">brightness_1</span>
						</a>
					</li>
					<li data-contrast-mode="med-low" data-contrast-preset-name="Medium-Low">
						<a onclick="contrastmode('med-low')">
							<span class="cpe-icon material-icons">brightness_2</span>
						</a>
					</li>
					<li data-contrast-mode="med" data-contrast-preset-name="Medium">
						<a onclick="contrastmode('med')">
							<span class="cpe-icon material-icons">brightness_3</span>
						</a>
					</li>
					<li data-contrast-mode="med-hi" data-contrast-preset-name="Medium-High">
						<a onclick="contrastmode('med-hi')">
							<span class="cpe-icon material-icons">brightness_4</span>
						</a>
					</li>
					<li data-contrast-mode="hi" data-contrast-preset-name="High">
						<a onclick="contrastmode('hi')">
							<span class="cpe-icon material-icons">brightness_5</span>
						</a>
					</li>
					<li data-contrast-mode="hi-vhi" data-contrast-preset-name="High-Very High">
						<a onclick="contrastmode('hi-vhi')">
							<span class="cpe-icon material-icons">brightness_6</span>
						</a>
					</li>
					<li data-contrast-mode="vhi" data-contrast-preset-name="Very High">
						<a onclick="contrastmode('vhi')">
							<span class="cpe-icon material-icons">brightness_7</span>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<!-- Color Modes -->
		<div class="cpe-dropdown color-modes forced-colors-off" cpe-orient="land">				
			<div class="cpe-floating-button accent color-modes page-side-tool" cpe-tooltip="{{msg-evelution-colormodes}}">
				<span class="cpe-icon material-icons">
					hdr_auto
				</span>
			</div>
			<div class="cpe-dropdown__content cpe-visual-appearance">					
				 <ul class="cpe-list is-linked cpe-color-modes">						
					<li data-color-mode="auto">
						<a onclick="colortheme('auto')">
							{{msg-evelution-lightmode}} (Duo)
						</a>
					</li>
					<li data-color-mode="light">
						<a onclick="colortheme('light')">
							{{msg-evelution-lightmode}} (Solo)
						</a>
					</li>
					<li data-color-mode="auto-r">
						<a onclick="colortheme('auto-r')">
							{{msg-evelution-darkmode}} (Duo)
						</a>
					</li>
					<li data-color-mode="dark">
						<a onclick="colortheme('dark')">
							{{msg-evelution-darkmode}} (Solo)
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- Styles -->
		<div class="cpe-dropdown styles" cpe-orient="land">				
			<div class="cpe-floating-button accent styles page-side-tool" cpe-tooltip="{{msg-evelution-visual-styles}}">
				<span class="cpe-icon material-icons">
					format_paint
				</span>
			</div>
			<div class="cpe-dropdown__content cpe-visual-appearance">					
				 <ul class="cpe-list is-linked cpe-visual-styles">						
<!--					<li id="styleA" automatic><a onclick="VisualStyle('<automatic>')">{{msg-evelution-designer-auto}}</a></li> -->
					<li id="styleS"><a onclick="VisualStyle('S')">{{msg-evelution-standard}}<span class="lite-display"> (Lite)</span></a></li>
				</ul>
			</div>
		</div>
	{{^has-no-color-management}}
		<!-- Colors -->
		<div class="cpe-dropdown colors color-management-on forced-colors-off" cpe-orient="land">				
			<div class="cpe-floating-button accent colors page-side-tool" cpe-tooltip="{{msg-evelution-visual-colors}}">
				<span class="cpe-icon material-icons">
					palette
				</span>
			</div>
			<div class="cpe-dropdown__content is-right-aligned cpe-visual-appearance">					
				 <ul class="cpe-list is-linked cpe-visual-colors">						
					<li id="colorS"><a onclick="VisualColor('S')">{{msg-evelution-standard}}</a></li>
					<li id="colorS2"><a onclick="VisualColor('S2')">{{msg-evelution-standard}} II</a></li>
				</ul>
			</div>
		</div>
		<!-- Themes -->
		<div class="cpe-dropdown themes color-management-on forced-colors-off" cpe-orient="land">
			<div class="cpe-floating-button accent themes page-side-tool" cpe-tooltip="{{msg-evelution-themes}}">
				<span class="cpe-icon material-icons">
					brush
				</span>
			</div>
			<div class="cpe-dropdown__content cpe-is-right-aligned">
				<ul class="cpe-list is-linked cpe-themes">
					<li data-theme-change="theme-A">
						<a class="ThemeA" onclick="HCa()">
							{{msg-evelution-theme}} A
						</a>
					</li>
					<li data-theme-change="theme-B">
						<a class="ThemeB" onclick="HCb()">
							{{msg-evelution-theme}} B
						</a>
					</li>
					<li data-theme-change="theme-C">
						<a class="ThemeC" onclick="HCc()">
							{{msg-evelution-theme}} C
						</a>
					</li>
					<li data-theme-change="theme-D">
						<a class="ThemeD" onclick="HCd()">
							{{msg-evelution-theme}} D
						</a>
					</li>
				</ul>
			</div>
		</div>
	{{/has-no-color-management}}
	</div>
</div>