		<header class="evelution-page-header page-header" id ="PageHeader">
		  <div class="evelution-page-header-main page-header__bottom">
			<div class="evelution-page-header-title page-header__title-wrapper">
				  <a class="toggle-rail-button" title="{{msg-evelution-togglesize}}">
					<span class="cpe-icon material-icons rail-on">
						open_in_full
					</span>
					<span class="cpe-icon material-icons rail-off">
						close_fullscreen
					</span>
				  </a>
				{{>Notices}}
				<h1 class="evelution-title cpe-midlight-color page-header__title" id="firstheading">{{html-title}}</h1>
			</div>
			<h4 class="evelution-page-header-subtitle page-header__subtitle" id="#contentSub">
				<span>{{msg-tagline}}</span>
				<span>{{{html-subtitle}}}</span>
				<span>{{{html-undelete-link}}}</span>			
			</h4>
				<div class="evelution-page-header-contribution">
					<div class="evelution-page-header-contribution-buttons page-header__actions">


					  <div class="cpe-button-group views">
						{{#data-portlets.data-namespaces}}{{>PortletBTN}}{{/data-portlets.data-namespaces}}						
					  </div>
						<div class="cpe-button-group actions">
						{{#data-portlets.data-views}}{{>PortletBTN}}{{/data-portlets.data-views}}
						  <div class="cpe-dropdown more-actions-menu">				
							<div class="cpe-button cpe-dropdown__toggle">
								<span class="cpe-icon cpe-icon-tiny cpe-icon-large cpe-dropdown__toggle-chevron material-icons">
									more_vertical
								</span>
							</div>
								<div class="cpe-dropdown__content is-right-aligned">					
								<!--NameSpaces-->
									{{#data-portlets.data-actions}}{{>Portlet2}}{{/data-portlets.data-actions}}
								</div>
							</div>
						</div>
					</div>
				</div>
		  </div>
		 </header>
		 