<header class="evelution-sidebar evelution-toolbox full-toolbar">
	<div class="upper-links">
	  <a href="{{html-designer-link}}" class="link theme-designer" designer-on cpe-tooltip-position="top" cpe-tooltip="{{msg-evelution-designer-title}}">
				<span class="cpe-icon material-icons">
					brush
				</span>
	  </a>
	  <a href="{{html-whatlinks-link}}/{{html-titlealt}}" class="link whatlinkshere" cpe-tooltip-position="top" cpe-tooltip="{{msg-whatlinkshere}}">
				<span class="cpe-icon material-icons">
					link
				</span>
	  </a>
	  <a href="{{html-linkedactivity-link}}/{{html-titlealt}}" class="link whatlinkshere" cpe-tooltip-position="top" cpe-tooltip="{{msg-recentchangeslinked}}">
				<span class="cpe-icon material-icons">
					trending_up
				</span>
	  </a>
	  <a href="{{html-logs-link}}?page={{html-titlealt}}" class="link logs" cpe-tooltip-position="top" cpe-tooltip="{{msg-log}}">
				<span class="cpe-icon material-icons">
					visibility
				</span>
	  </a>
	  <a href="{{html-export-link}}" class="link export" cpe-tooltip-position="top" cpe-tooltip="{{msg-export}}">
				<span class="cpe-icon material-icons">
					file_download
				</span>

	  </a>
	  <a href="{{html-rpage-link}}" class="link randompage" cpe-tooltip-position="top" cpe-tooltip="{{msg-randompage}}">
				<span class="cpe-icon material-icons">
					shuffle
				</span>
	  </a>
	  <a href="{{html-mcontent-link}}/{{ html-titlealt}}" class="link modelcontent" cpe-tooltip-position="top" cpe-tooltip="{{msg-changecontentmodel}}">
				<span class="cpe-icon material-icons">
					build
				</span>
	  </a>
	  <a href="{{html-info-link}}/{{html-titlealt}}" class="link information" cpe-tooltip-position="top" cpe-tooltip="{{msg-pageinfo-toolboxlink}}">
				<span class="cpe-icon material-icons">
					help_outline
				</span>
	  </a>

	</div>
	<div class="bottom-links">
	  <a class="link bar-switch" cpe-tooltip-position="top" cpe-tooltip="{{msg-hide}}">
		<span class="cpe-icon material-icons cpe-icon-large">
			keyboard_arrow_down
		</span>
	  </a>
	</div>
</header>


<header class="evelution-sidebar evelution-toolbox col-toolbar">
	<div class="bottom-links">
	  <a class="link bar-switch" cpe-tooltip-position="top" cpe-tooltip="{{msg-show}}">
		<span class="cpe-icon material-icons cpe-icon-large">
			keyboard_arrow_up
		</span>
	  </a>
	</div>
</header>