<header class="mpisto-global-sidebar mpisto-personal-links">
	<div class="upper-links">
	  <a href="{{html-mainurl}}Special:WhatLinksHere/{{ html-titlealt }}" class="link whatlinkshere" cpe-tooltip="{{msg-whatlinkshere}}">
				<span class="cpe-icon cpe-dropdown__toggle-chevron material-icons-outlined">
					link
				</span>
	  </a>
	  <a href="{{html-mainurl}}Special:Logs" class="link logs" cpe-tooltip="{{msg-log}}">
				<span class="cpe-icon cpe-dropdown__toggle-chevron material-icons-outlined">
					visibility
				</span>
	  </a>
	  <a href="{{html-mainurl}}Special:SpecialPages" class="link specialpages" cpe-tooltip="{{msg-specialpages}}">
				<span class="cpe-icon cpe-dropdown__toggle-chevron material-icons-outlined">
					settings
				</span>
	  </a>
	  <a href="{{html-mainurl}}Special:Upload" class="link upload" cpe-tooltip="{{msg-upload}}">
				<span class="cpe-icon cpe-dropdown__toggle-chevron material-icons-outlined">
					upload
				</span>

	  </a>
	  <a href="{{html-mainurl}}Special:Random" class="link randompage" cpe-tooltip="{{msg-randompage}}">
				<span class="cpe-icon cpe-dropdown__toggle-chevron material-icons-outlined">
					shuffle
				</span>
	  </a>
	  <a href="{{html-mainurl}}{{ html-titlealt}}?action=info" class="link information" cpe-tooltip="{{msg-pageinfo-toolboxlink}}">
				<span class="cpe-icon cpe-dropdown__toggle-chevron material-icons-outlined">
					help_outline
				</span>
	  </a>
	  <a href="{{html-mainurl}}{{ html-titlealt}}?action=history" class="link history" cpe-tooltip="{{msg-history}}">
				<span class="cpe-icon cpe-dropdown__toggle-chevron material-icons-outlined">
					history
				</span>
	  </a>

	</div>
	<div class="bottom-links">
	  <a class="link toggle-size" cpe-tooltip="{{msg-eve-togglesize}}">
		<span class="cpe-icon cpe-dropdown__toggle-chevron material-icons-outlined wide-off">
			open_in_full
		</span>
		<span class="cpe-icon cpe-dropdown__toggle-chevron material-icons-outlined wide-on">
			close_fullscreen
		</span>
	  </a>
	</div>
</header>
