<header class="mpisto-global-sidebar mpisto-personal-links full-toolbar">
	<div class="upper-links">
	  <a href="{{html-whatlinks-link}}/{{html-titlealt}}" class="link whatlinkshere" cpe-tooltip="{{msg-whatlinkshere}}">
				<span class="cpe-icon cpe-dropdown__toggle-chevron material-icons-outlined">
					link
				</span>
	  </a>
	  <a href="{{html-logs-link}}?page={{html-titlealt}}" class="link logs" cpe-tooltip="{{msg-log}}">
				<span class="cpe-icon cpe-dropdown__toggle-chevron material-icons-outlined">
					visibility
				</span>
	  </a>
	  <a href="{{html-upload-link}}" class="link upload" cpe-tooltip="{{msg-upload}}">
				<span class="cpe-icon cpe-dropdown__toggle-chevron material-icons-outlined">
					upload
				</span>

	  </a>
	  <a href="{{html-rpage-link}}" class="link randompage" cpe-tooltip="{{msg-randompage}}">
				<span class="cpe-icon cpe-dropdown__toggle-chevron material-icons-outlined">
					shuffle
				</span>
	  </a>
	  <a href="{{html-mcontent-link}}/{{ html-titlealt}}" class="link modelcontent" cpe-tooltip="{{msg-changecontentmodel}}">
				<span class="cpe-icon cpe-dropdown__toggle-chevron material-icons-outlined">
					build
				</span>
	  </a>
	  <a href="{{html-info-link}}/{{html-titlealt}}" class="link information" cpe-tooltip="{{msg-pageinfo-toolboxlink}}">
				<span class="cpe-icon cpe-dropdown__toggle-chevron material-icons-outlined">
					help_outline
				</span>
	  </a>
	  <a href="{{html-history-link}}/{{ html-titlealt}}" class="link history" cpe-tooltip="{{msg-history}}">
				<span class="cpe-icon cpe-dropdown__toggle-chevron material-icons-outlined">
					history
				</span>
	  </a>

	</div>
	<div class="bottom-links">
	  <a class="link toggle-size" cpe-tooltip="{{msg-eve-togglesize}}">
		<span class="cpe-icon cpe-dropdown__toggle-chevron material-icons-outlined wide-off">
			open_in_full
		</span>
		<span class="cpe-icon cpe-dropdown__toggle-chevron material-icons-outlined wide-on">
			close_fullscreen
		</span>
	  </a>
	  <a class="link bar-switch" cpe-tooltip="{{msg-hide}}">
		<span class="cpe-icon cpe-dropdown__toggle-chevron material-icons-outlined cpe-icon-large">
			keyboard_arrow_down
		</span>
	  </a>
	</div>
</header>


<header class="mpisto-global-sidebar mpisto-personal-links col-toolbar">
	<div class="bottom-links">
	  <a class="link bar-switch" cpe-tooltip="{{msg-show}}">
		<span class="cpe-icon cpe-dropdown__toggle-chevron material-icons-outlined cpe-icon-large">
			keyboard_arrow_up
		</span>
	  </a>
	</div>
</header>
