<li role="navigation" id="{{id}}" class="cpe-dropdown {{class}}" title="{{html-tooltip}}"
    aria-labelledby="{{id}}-label" tabindex="-1">
    <a class="link cell cpe-dropdown__toggle">
    </a>
    <div class="mw-portlet-body cpe-dropdown__content">
		<div style="font-weight:bold; text-align:center;">{{label}}</div>
        <ul class="cpe-list is-linked has-icon-labels" {{{html-user-language-attributes}}}>
            {{{html-items}}}
        </ul>
        {{{html-after-portal}}}
    </div>
</li>
