<section role="navigation" id="{{id}}" class="evelution-module {{class}}" aria-labelledby="{{id}}-label">
	<h2 id="{{id}}-label" class="has-icon" {{{html-user-language-attributes}}}>{{label}}</h2>
	<div class="mw-portlet-body evelution-module-content">
		<ul {{{html-user-language-attributes}}}>
			{{{html-items}}}
		</ul>
		{{{html-after-portal}}}
	</div>
</section>