<div role="navigation" id="{{id}}" class="cpe-dropdown {{class}}" title="{{html-tooltip}}"
    aria-labelledby="{{id}}-label" tabindex="-1">
    <div class="link cell cpe-dropdown__toggle" cpe-tooltip-position="bottom" cpe-tooltip="{{label}}">
				<span class="cpe-icon cpe-icon-large cpe-dropdown__toggle-chevron material-icons">
					arrow_drop_down
				</span>
    </div>
    <div class="mw-portlet-body cpe-dropdown__content is-left-aligned" style="left:0;">
		<div style="font-weight:bold; text-align:center;">{{label}}</div>
        <ul class="cpe-list is-linked has-icon-labels" {{{html-user-language-attributes}}}>
            {{{html-items}}}
        </ul>
        {{{html-after-portal}}}
    </div>
</div>
