<section role="navigation" id="{{id}}" class="evelution-module {{class}}" aria-labelledby="{{id}}-label">
	<h2 id="{{id}}-label" class="has-icon" {{{html-user-language-attributes}}}>{{label}}</h2>
	<div class="mw-portlet-body evelution-module-content">
		<div class="toc floating_toc" style="display:contents; border:0; background:transparent; display:block; color:inherit;">
			<ul class="toc module-toc floating_toc" id="toc" style="border:0; background:transparent; display:block; color:inherit;" {{{html-user-language-attributes}}}>
				{{{html-items}}}
			</ul>
		</div>
		{{{html-after-portal}}}
	</div>
</section>