		<div role="navigation" id="{{id}}" class="cpe-dropdown is-flipped has-dark-shadow variants-menu {{class}}" aria-labelledby="{{id}}-label" tabindex="-1">
			<div class="link cell cpe-dropdown__toggle" cpe-tooltip-position="top" cpe-tooltip="{{label}}">
				<span class="cpe-icon material-icons">
					font_download
				</span>
			</div>
			<div class="mw-portlet-body cpe-dropdown__content is-right-aligned">
				<ul class="cpe-list cpe-is-linked" {{{html-user-language-attributes}}}>
					{{{html-items}}}
				</ul>
				{{{html-after-portal}}}
			</div>
		</div>
