<div role="navigation" id="{{id}}" class="cpe-dropdown local-navigation-1st {{class}}" title="{{html-tooltip}}"
    aria-labelledby="{{id}}-label">
    <div class="link cell cpe-dropdown__toggle" title="{{label}}">
				<span class="cpe-icon cpe-dropdown__toggle-chevron material-icons-outlined">
					home
				</span>
    </div>
    <div class="mw-portlet-body cpe-dropdown__content">
        <ul class="cpe-list cpe-is-linked" {{{html-user-language-attributes}}}>
            {{{html-items}}}
        </ul>
        {{{html-after-portal}}}
    </div>
</div>
