<div class="evelution-actions">
	<div class="cpe-floating-button-group is-vertical">
		<div class="cpe-dropdown local-navigation" cpe-orient="land">
			<div class="cpe-floating-button" title="{{msg-navigation}}">
				<span class="cpe-icon material-icons chevron-icon">
				arrow_forward_ios
				</span>
			</div>
			<div class="cpe-dropdown__content is-left-aligned is-not-scrollable">
				<ul class="cpe-list is-linked">
					{{#data-portlets-sidebar}}
						{{#data-portlets-first}}{{>PortletSLN2}}{{/data-portlets-first}}
						{{#array-portlets-rest}}{{>PortletSLN2}}{{/array-portlets-rest}}
					{{/data-portlets-sidebar}}
				</ul>
			</div>
		</div>
		<a class="cpe-floating-button" title="{{msg-longpages}}" href="{{html-longpages-link}}">
			<span class="cpe-icon material-icons">
			star_border
			</span>
		</a>
		<a class="cpe-floating-button" title="{{msg-unusedtemplates}}" href="{{html-unusedtemplates-link}}">
			<span class="cpe-icon material-icons">
			bookmark_remove
			</span>
		</a>
		<a class="cpe-floating-button" title="{{msg-apisandbox}}" href="{{html-apisandbox-link}}">
			<span class="cpe-icon material-icons">
			api
			</span>
		</a>
		<a class="cpe-floating-button" title="{{msg-allmessages}}" href="{{html-messages-link}}">
			<span class="cpe-icon material-icons">
			security
			</span>
		</a>

	</div>
</div>