<div class="evelution-actions">
	<div class="cpe-floating-button-group is-vertical">
		<a class="cpe-floating-button" cpe-tooltip="{{msg-longpages}}" href="{{html-longpages-link}}">
			<span class="cpe-icon material-icons">
			star_border
			</span>
		</a>
		<a class="cpe-floating-button" cpe-tooltip="{{msg-unusedtemplates}}" href="{{html-unusedtemplates-link}}">
			<span class="cpe-icon material-icons">
			bookmark_remove
			</span>
		</a>
		<a class="cpe-floating-button" cpe-tooltip="{{msg-apisandbox}}" href="{{html-apisandbox-link}}">
			<span class="cpe-icon material-icons">
			api
			</span>
		</a>
		<a class="cpe-floating-button" cpe-tooltip="{{msg-allmessages}}" href="{{html-messages-link}}">
			<span class="cpe-icon material-icons">
			security
			</span>
		</a>

	</div>
</div>