{{>Icons}}
  <div class="gradient-overlay" style="position:absolute; pointer-events:none;"></div>
  <div class="gradient-overlay-2" style="position:absolute; pointer-events:none;"></div>
  <div class="body-community-background" style="position:absolute; pointer-events:none;"></div>
	<container>
		<main>
		{{>GlobalNavigation}}
		<aside class="mpisto-wikispace">
			<div class="top-gap"></div>
			{{>StickyHeader}}
			<section class="mpisto-content" id="mw-content" onclick="">
				{{>CommunityHeader}}
				<div class="mpisto-wrapper">
					{{>PageHeader}}
					<div class="mpisto-article-wrapper">
					  <nav class="mpisto-left-pane">
						  <article class="mpisto-article" id="content">
							{{>ContentBody}}
						  </article>
					  </nav>
					</div>
					<div class="mpisto-page-header mpisto-page-footer">
						<div class="mpisto-page-header-main">
							<div class="mpisto-page-header-title">
    {{#data-footer}}
    {{!}}{{#data-info}}{{>FooterList}}{{/data-info}}
    {{/data-footer}}
							</div>
						</div>
					</div>
				</div>
			</section>
		</aside>

		</main>
	</container>
<script>
/* Jquery JS */

{{>Java_Query}}

/* Chroma JS */

{{>Java_Chroma}}

/* Theming JS */

{{>Java_Theming}}

/* Base JS */

{{>Java_Base}}
</script>
<script>
/* Headroom JS */
{{>Java_Header}}
</script>
<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=Didact+Gothic&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">