{{>Icons}}
	<div style="position:absolute; z-index:-1;">
		<span class="fc-buttonface" style="color:buttonface"></span>
		<span class="fc-canvas" style="color:canvas;"></span>
		<span class="fc-linktext" style="color:linktext;"></span>
		<span class="fc-graytext" style="color:graytext;"></span>
		<span class="fc-canvastext" style="color:canvastext;"></span>
		<span class="fc-highlight" style="color:highlight;"></span>
		<span class="ad-alert" style="color:var(--alert-background-color)"></span>
		<span class="ad-warning" style="color:var(--warning-background-color)"></span>
		<span class="ad-success" style="color:var(--success-background-color)"></span>
		<span class="ad-message" style="color:var(--message-background-color)"></span>
		<span class="page-sec" style="color:var(--page-secondary-background-color)"></span>
		<span class="page-bor" style="color:var(--page-border-background-color)"></span>
	</div>
	<div class="gradient-overlay" style="position:absolute; pointer-events:none;"></div>
	<div class="invertion-on" style=" pointer-events: none; position: absolute; z-index: -2; width: 100%; height: 100%;"><div class="body-background fandom-community-header__background" style="position:absolute; pointer-events:none;"></div></div>
	<div class="body-background-color" style="position:absolute; pointer-events:none;"></div>
	<container>
		<stickya style="display:block; z-index:100; position:fixed; width:100%"></stickya>
		{{>GlobalNavigation}}
		<main wide="false" toolbar="true" nav="true" rail="true">
		<aside class="evelution-wikispace main-container">
			<div class="top-gap" responsive></div>
			{{>StickyHeader}}
			<section class="evelution-content resizable-container" responsive id="mw-content" onclick="">
				{{>CommunityHeader}}
				<div class="evelution-wrapper page">
					<div class="evelution-article-wrapper">
					  <nav class="evelution-article-container page__main">
						{{>PageActions}}
						{{>PageHeader}}
						<div class="evelution-article-content">
							  {{>ServerActions}}
							  <!-- Begin Article -->
							  <article class="evelution-article page-content" id="content">
								{{>ContentBody}}
							  </article>
							  <!-- End Article -->
						  </div>
						  <!-- Begin Footer
						<div class="evelution-page-header evelution-page-footer page-header">
							<div class="evelution-page-header-main page-header__bottom">
								<div class="evelution-page-header-title page-header__title-wrapper">
									{{#data-footer}}
									{{!}}{{#data-info}}{{>FooterList}}{{/data-info}}
									{{/data-footer}}
								</div>
							</div>
						</div>
					  <!-- End Footer -->
					  </nav>
					  <nav class="evelution-rail-wrapper page__right-rail WikiaRail">
						{{>Modules}}
					  </nav>
					</div>
				</div>
			</section>
		{{>EvelutionFooter}}
		{{>PersonalTools}}
		</aside>

		</main>
	</container>



<script>
/* Jquery JS */

{{>Java_Query}}
</script>

<!-- Base -->
<script>
/* Base JS */

{{>Java_Base}}
</script>

<!--Theming-->
<script>
/* Chroma JS */

{{>Java_Chroma}}
</script>

<script>
/* Theming JS */

{{>Java_Theming}}
</script>

<!-- Headroom -->
<script>
/* Headroom JS */
{{>Java_Header}}
</script>



<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Rubik:wght@300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;300;400;700;800&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Lora:wght@400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">