	<header class="mpisto-sticky-header-container full-nav">
		<a class="wordmark" href="{{link-mainpage}}">
			{{#data-logos}}
				{{#icon}}<img src="{{.}}">{{/icon}}
				{{^icon}}{{#1x}}<img src="{{.}}">{{/1x}}{{/icon}}
			{{/data-logos}}
		</a>
		<h1 class="title cell" style="text-align:left" translate="no">
			{{#data-logos}}
				{{#wordmark}}
					<div style="--height:{{height}}px; display:contents">
						{{#src}}
						<a title="{{msg-sitetitle}}" href="{{link-mainpage}}" class="title-logo" style="-webkit-mask-image:url({{.}}); mask-image:url({{.}});"><span style="visibility:hidden;">Abc</span></a>
						{{/src}}
						{{^src}}
						<a title="{{msg-sitetitle}}" href="{{link-mainpage}}" class="title-logo" style="-webkit-mask-image:url({{.}}); mask-image:url({{.}});"><span style="visibility:hidden;">Abc</span></a>
						{{/src}}
					</div>
				{{/wordmark}}
				{{^wordmark}}<a href="{{link-mainpage}}">{{msg-sitetitle}}</a>{{/wordmark}}
			{{/data-logos}}
		</h1>
		<div class="counters cell">
			<div class="counter articles"><big>{{html-articlecount}}</big> <span class="cpe-icon material-icons">article</span>  <span class="text">{{msg-eve-pages}}</span></div>
			<div class="counter photos"><big>{{html-filecount}}</big> <span class="cpe-icon material-icons">photo</span> <span class="text">{{msg-eve-files}}</span></div>
		</div>
		<div class="counters cell">
			<div class="counter edits"><big>{{html-editcount}}</big> <span class="cpe-icon material-icons">edit</span> <span class="text">{{msg-eve-edits}}</span></div>
			<div class="counter users"><big>{{html-usercount}}</big> <span class="cpe-icon material-icons">person</span> <span class="text">{{msg-eve-users}}</span></div>
		</div>
		<div class="cpe-dropdown local-navigation">
			<a class="link cell cpe-dropdown__toggle" title="{{msg-eve-navigation-rest}}">
				<span class="cpe-icon cpe-icon-large cpe-dropdown__toggle-chevron material-icons">
					arrow_drop_down
				</span>
			</a>
			<div class="cpe-dropdown__content is-right-aligned is-not-scrollable">
				<ul class="cpe-list is-linked">
							{{#data-portlets-sidebar}}
							{{#data-portlets-first}}{{>PortletSLN2}}{{/data-portlets-first}}
							{{#array-portlets-rest}}{{>PortletSLN2}}{{/array-portlets-rest}}
							{{/data-portlets-sidebar}}
				</ul>
			</div>
		</div>
		<a class="link cell" title="{{msg-recentchanges}}"  href="{{html-rc-link}}">
			<span class="cpe-icon material-icons">
			trending_up
			</span>
		</a>
		<a class="link cell dark-mode darkmode-off" title="{{msg-eve-darkmode}}">
			<span class="cpe-icon material-icons">
			dark_mode
			</span>
		</a>
		<a class="link cell dark-mode darkmode-on" title="{{msg-eve-lightmode}}">
			<span class="cpe-icon material-icons">
			light_mode
			</span>
		</a>
		<a class="link cell" title="{{msg-eve-newfiles}}"  href="{{html-files-link}}">
			<span class="cpe-icon material-icons">
			photo_library
			</span>
		</a>
		<a class="link cell" title="CSS"  href="{{html-css-link}}">
			<span class="cpe-icon material-icons">
			palette
			</span>
		</a>
		<a class="link cell" title="JS"  href="{{html-js-link}}">
			<span class="cpe-icon material-icons">
			code
			</span>
		</a>
		<a class="link cell" title="{{msg-specialpages}}"  href="{{html-spages-link}}">
			<span class="cpe-icon material-icons">
			settings
			</span>
		</a>
	  <a class="link nav-switch" title="{{msg-hide}}">
		<span class="cpe-icon cpe-dropdown__toggle-chevron material-icons cpe-icon-large">
			keyboard_arrow_up
		</span>
	  </a>
	</header>
	
	<header class="mpisto-sticky-header-container col-nav">
	  <a class="link nav-switch" title="{{msg-show}}">
		<span class="cpe-icon cpe-dropdown__toggle-chevron material-icons cpe-icon-large">
			keyboard_arrow_down
		</span>
	  </a>
	</header>