						  <div class="evelution-article-actions">
								<div class="separator left-separator"></div>
								<ul class="namespaces cactions has-icon-labels">			{{#data-portlets.data-namespaces}}{{>PortletBTN}}{{/data-portlets.data-namespaces}}						
								</ul>
								<div class="separator"></div>
								<ul class="views cactions has-icon-labels">				{{#data-portlets.data-views}}{{>PortletBTN}}{{/data-portlets.data-views}}						
								</ul>
								<div class="separator right-separator"></div>
						  </div>
