<!--
	  <a href="{{html-designer-link}}" class="link theme-designer" designer-on cpe-tooltip-position="top" cpe-tooltip="{{msg-evelution-designer-title}}">
				<span class="cpe-icon material-icons">
					brush
				</span>
	  </a>
-->
<header class="evelution-sidebar evelution-taskbar full-toolbar{{#has-left-links}} left-links{{/has-left-links}}{{^is-loggedin}} anon-taskbar{{/is-loggedin}}{{#has-disabled-dynamic-widgets}} v-taskbar{{/has-disabled-dynamic-widgets}}">
	<div class="upper-links">
		<a class="company link" cpe-tooltip-position="top" cpe-tooltip="{{msg-evelution-documentation}}" href="https://awikia.github.io/SkinEvelution">
            <svg xmlns="http://www.w3.org/2000/svg" class="cpe-icon server-off">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#evelution-logo" />
			</svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="cpe-icon server-on" style="transform:scale(1.75)">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#evelution-server-logo" />
			</svg>
		</a>
		<!-- Search -->
		<div class="cpe-dropdown is-flipped has-dark-shadow search">
			<div class="link cpe-dropdown__toggle" cpe-tooltip-position="top" cpe-tooltip={{msg-search}}>
				<span class="cpe-icon material-icons">
					search
				</span>
			</div>
		    <div class="cpe-dropdown__content is-left-aligned">
				<ul class="cpe-list">
					<li>

					{{#data-search-box}}
					<form action="{{form-action}}" role="search" class="mw-portlet" id="p-search">
						<div class="pageheader-search">
							<input type="search" name="search" class="cpe-input is-borderline taskbar-search" placeholder="{{msg-searchsuggest-search}}" autocapitalize="sentences" accesskey="f" id="searchInput" autocomplete="off">
							<input style="width:0px; height:0px; visibility:hidden; position:absolute;" type="submit" id="searchButton2"></input>
							<label for="searchButton2" class="cpe-button is-unaccented">
								<span class="cpe-icon cpe-icon-small material-icons">
									search
								</span>
							</label>
						</div>
					</form>
					{{/data-search-box}}
					</li>
				</ul>
			</div>
		</div>
		<div class="cpe-dropdown is-flipped has-dark-shadow tools">				
			<div class="link cell explore" cpe-tooltip-position="top" cpe-tooltip="{{msg-toolbox}}">
				<span class="cpe-icon material-icons" style="--icon-scale: 1.2;">
					apps
				</span>
			</div>
			<div class="cpe-dropdown__content">					
				 <ul class="cpe-list is-linked cpe-taskbar-tools has-icons">						
					<!-- All Screens -->
					<li class="github">
						<a href="https://github.com/AWikia/SkinEvelution" title="GitHub">
							<svg class="cpe-icon" height="32" viewBox="0 0 16 16" version="1.1" width="32" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path></svg>
						</a>
					</li>
					<li class="mediawiki">
						<a href="https://mediawiki.org" title="MediaWiki">
							<svg xmlns="http://www.w3.org/2000/svg" class="cpe-icon" style="transform:scale(1.2)" width="25" height="25" viewBox="0 0 25 25">
								<defs>
									<style>
										.petal {
											fill: currentColor;
											opacity: 0.65;
										}
									</style>
								</defs>
								<g id="petals" class="petals">
									<path class="petal" d="M7.068,4.359A3.866,3.866,0,0,0,8.2,7.024a2.989,2.989,0,0,0,1.973.787,0.919,0.919,0,0,0,.628-0.281,3,3,0,0,0,.7-2.876C10.97,2.815,9.5,1.8,7.7.915A8.026,8.026,0,0,0,7.068,4.359Z"/>
									<path class="petal" d="M4.4,7.031A3.848,3.848,0,0,0,6.468,9.056a2.984,2.984,0,0,0,2.122-.031,0.923,0.923,0,0,0,.473-0.5A3,3,0,0,0,8.617,5.6C7.42,4.1,5.678,3.728,3.676,3.607A8.025,8.025,0,0,0,4.4,7.031Z"/>
									<path class="petal" d="M2.959,10.524A3.831,3.831,0,0,0,5.638,11.6a2.99,2.99,0,0,0,1.949-.844,0.927,0.927,0,0,0,.246-0.645A3,3,0,0,0,6.306,7.58c-1.675-.919-3.428-0.6-5.324.06A8,8,0,0,0,2.959,10.524Z"/>
									<path class="petal" d="M2.956,14.307a3.824,3.824,0,0,0,2.885-.035,3,3,0,0,0,1.479-1.529A0.929,0.929,0,0,0,7.3,12.052,2.981,2.981,0,0,0,4.926,10.3c-1.9-.2-3.394.766-4.9,2.1A7.954,7.954,0,0,0,2.956,14.307Z"/>
									<path class="petal" d="M4.394,17.8a3.831,3.831,0,0,0,2.653-1.141,3.017,3.017,0,0,0,.784-1.981,0.926,0.926,0,0,0-.28-0.631,2.971,2.971,0,0,0-2.863-.706c-1.831.54-2.844,2.013-3.722,3.824A7.927,7.927,0,0,0,4.394,17.8Z"/>
									<path class="petal" d="M7.054,20.479A3.849,3.849,0,0,0,9.07,18.4a3.022,3.022,0,0,0-.031-2.132,0.922,0.922,0,0,0-.5-0.476,2.97,2.97,0,0,0-2.914.449c-1.486,1.2-1.86,2.953-1.982,4.964A7.929,7.929,0,0,0,7.054,20.479Z"/>
									<path class="petal" d="M10.531,21.93A3.867,3.867,0,0,0,11.6,19.238a3.016,3.016,0,0,0-.841-1.958,0.918,0.918,0,0,0-.642-0.248A2.979,2.979,0,0,0,7.6,18.567c-0.914,1.683-.594,3.443.06,5.348A7.957,7.957,0,0,0,10.531,21.93Z"/>
									<path class="petal" d="M14.3,21.933a3.873,3.873,0,0,0-.035-2.9,3,3,0,0,0-1.522-1.486,0.917,0.917,0,0,0-.687.018,2.993,2.993,0,0,0-1.745,2.387c-0.2,1.906.763,3.409,2.093,4.918A8,8,0,0,0,14.3,21.933Z"/>
									<path class="petal" d="M17.776,20.489a3.866,3.866,0,0,0-1.136-2.665,2.989,2.989,0,0,0-1.973-.788,0.919,0.919,0,0,0-.628.281,3,3,0,0,0-.7,2.876c0.538,1.839,2,2.857,3.807,3.739A8.025,8.025,0,0,0,17.776,20.489Z"/>
									<path class="petal" d="M20.441,17.817a3.848,3.848,0,0,0-2.065-2.025,2.984,2.984,0,0,0-2.122.031,0.923,0.923,0,0,0-.473.5,3,3,0,0,0,.447,2.927c1.2,1.493,2.94,1.869,4.942,1.991A8.025,8.025,0,0,0,20.441,17.817Z"/>
									<path class="petal" d="M21.885,14.324a3.831,3.831,0,0,0-2.679-1.077,2.99,2.99,0,0,0-1.949.844,0.927,0.927,0,0,0-.246.645,3,3,0,0,0,1.528,2.533c1.675,0.919,3.428.6,5.324-.06A7.994,7.994,0,0,0,21.885,14.324Z"/>
									<path class="petal" d="M21.888,10.541A3.824,3.824,0,0,0,19,10.576a3,3,0,0,0-1.479,1.529,0.928,0.928,0,0,0,.018.691,2.981,2.981,0,0,0,2.376,1.753c1.9,0.2,3.394-.767,4.9-2.1A7.955,7.955,0,0,0,21.888,10.541Z"/>
									<path class="petal" d="M20.451,7.046A3.831,3.831,0,0,0,17.8,8.187a3.017,3.017,0,0,0-.784,1.982,0.927,0.927,0,0,0,.28.631,2.971,2.971,0,0,0,2.863.706c1.831-.54,2.844-2.013,3.722-3.824A7.926,7.926,0,0,0,20.451,7.046Z"/>
									<path class="petal" d="M17.791,4.369a3.849,3.849,0,0,0-2.016,2.074,3.022,3.022,0,0,0,.031,2.132,0.922,0.922,0,0,0,.5.476A2.969,2.969,0,0,0,19.218,8.6C20.7,7.4,21.079,5.649,21.2,3.638A7.928,7.928,0,0,0,17.791,4.369Z"/>
									<path class="petal" d="M14.313,2.918A3.867,3.867,0,0,0,13.241,5.61a3.016,3.016,0,0,0,.84,1.958,0.918,0.918,0,0,0,.642.248A2.978,2.978,0,0,0,17.245,6.28c0.914-1.683.594-3.443-.06-5.348A7.958,7.958,0,0,0,14.313,2.918Z"/>
									<path class="petal" d="M10.548,2.915a3.874,3.874,0,0,0,.035,2.9A3,3,0,0,0,12.105,7.3a0.917,0.917,0,0,0,.687-0.018,2.993,2.993,0,0,0,1.745-2.387c0.2-1.906-.763-3.409-2.093-4.918A8,8,0,0,0,10.548,2.915Z"/>
								</g>
							</svg>
						</a>
					</li>
					{{#has-smw}}
					<li class="ivilution">
						<a href="https://www.semantic-mediawiki.org" title="Semantic MediaWiki">
							<svg xmlns="http://www.w3.org/2000/svg" style="transform:scale(1.1)" class="cpe-icon">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#smw-logo" />
							</svg>
						</a>
					</li>
					{{/has-smw}}
					{{#has-ivilution}}
					<li class="ivilution">
						<a href="https://github.com/AWikia/ExtensionIvilution" title="Ivilution">
							<svg xmlns="http://www.w3.org/2000/svg" class="cpe-icon">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ivilution-logo" />
							</svg>
						</a>
					</li>
					{{/has-ivilution}}
					<!-- Begin Wiki Farm Links -->
					<li class="miraheze miraheze-only">
						<a href="https://meta.miraheze.org/wiki/Special:MyLanguage/Miraheze" title="Miraheze">
							<svg class="cpe-icon" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" id="svg4206" version="1.1" inkscape:version="1.1 (c68e22c387, 2021-05-23)" viewBox="0 0 46.999999 49.999999" sodipodi:docname="meta-icon.svg">
							  <metadata id="metadata4212">
								<rdf:RDF>
								  <cc:Work rdf:about="">
									<dc:format>image/svg+xml</dc:format>
									<dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
								  </cc:Work>
								</rdf:RDF>
							  </metadata>
							  <defs id="defs4210"/>
							  <sodipodi:namedview pagecolor="#ffffff" bordercolor="#666666" borderopacity="1" objecttolerance="10" gridtolerance="10" guidetolerance="10" inkscape:pageopacity="0" inkscape:pageshadow="2" inkscape:window-width="1360" inkscape:window-height="705" id="namedview4208" showgrid="true" fit-margin-top="0" fit-margin-left="0" fit-margin-right="0" fit-margin-bottom="0" inkscape:zoom="4.98" inkscape:cx="30.220884" inkscape:cy="29.819277" inkscape:window-x="-8" inkscape:window-y="-8" inkscape:window-maximized="1" inkscape:current-layer="svg4206" showborder="true" inkscape:pagecheckerboard="1" inkscape:snap-midpoints="false" inkscape:snap-smooth-nodes="false" width="5px">
								<inkscape:grid type="xygrid" id="grid4863" originx="-29.148999" originy="-23.271842"/>
							  </sodipodi:namedview>
							  <g id="g3739" transform="matrix(0.36896973,0,0,0.36896973,-1.4758789,-0.00584523)">
								<path style="fill:currentColor;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" d="m 56.721681,48.541548 21.189606,0.06232 10.968739,18.946003 -10.84409,18.696711 H 56.659356 L 45.752943,67.487547 Z" id="path4756" inkscape:connector-curvature="0"/>
								<path style="fill:currentColor;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" d="M 56.7219,0.01584202 77.911507,0.07816637 88.880246,19.02417 78.036156,37.720879 H 56.659576 L 45.753162,18.961846 Z" id="path4756-4" inkscape:connector-curvature="0"/>
								<path style="fill:currentColor;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" d="M 56.7219,97.294954 77.911507,97.357279 88.880246,116.30329 78.036156,135 H 56.659576 L 45.753162,116.24097 Z" id="path4756-4-7" inkscape:connector-curvature="0" inkscape:transform-center-x="23.96383" inkscape:transform-center-y="-86.164066"/>
								<path style="fill:currentColor;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" d="m 98.666142,72.694267 21.189608,0.06232 10.96874,18.946004 -10.84409,18.696719 H 98.603817 L 87.697403,91.640271 Z" id="path4756-4-7-0" inkscape:connector-curvature="0" inkscape:transform-center-x="23.963829" inkscape:transform-center-y="-86.16407"/>
								<path style="fill:currentColor;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" d="m 98.666356,24.329153 21.189604,0.06232 10.96874,18.946001 -10.84409,18.696715 H 98.604032 L 87.697618,43.275159 Z" id="path4756-4-7-0-4" inkscape:connector-curvature="0" inkscape:transform-center-x="23.963831" inkscape:transform-center-y="-86.164068"/>
								<path style="fill:currentColor;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" d="m 14.946578,24.329157 21.1464,0.06232 10.94636,18.945997 -10.821965,18.696715 H 14.884381 L 4.0002036,43.275159 Z" id="path4756-4-7-0-4-0" inkscape:connector-curvature="0" inkscape:transform-center-x="23.914978" inkscape:transform-center-y="-86.164069"/>
								<path style="fill:currentColor;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" d="M 14.968739,72.694267 36.158346,72.756587 47.12708,91.702591 36.282994,110.39931 H 14.906415 L 4,91.640276 Z" id="path4756-4-7-0-4-5" inkscape:connector-curvature="0" inkscape:transform-center-x="23.96383" inkscape:transform-center-y="-86.16407"/>
							  </g>
							</svg>		
						</a>
					</li>
					<li class="qqore qqore-only">
						<a href="https://awikia.github.io/Q.Qore" title="Q.Qore">
							<svg xmlns="http://www.w3.org/2000/svg" class="cpe-icon">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#qoreLogo" />
							</svg>
						</a>
					</li>

					<!-- End Wiki Farm Links -->
					<!-- Mobile Only -->
					<li class="edit vsmall-on" title="{{msg-edit}}">
						<a href="{{html-edit-link}}/{{ html-titlealt}}">
							<span class="cpe-icon material-icons">edit</span>
						</a>
					</li>
					<li class="history vsmall-on" title="{{msg-history}}">
						<a href="{{html-history-link}}/{{ html-titlealt}}">
							<span class="cpe-icon material-icons">history</span>
						</a>
					</li>
					<!-- Small Desktop -->
					<li class="whatlinkshere smallp-on" title="{{msg-whatlinkshere}}">
						<a href="{{html-whatlinks-link}}/{{ html-titlealt}}">
							<span class="cpe-icon material-icons">insert_link</span>
						</a>
					</li>
					<li class="linkedactivity smallp-on" title="{{msg-recentchangeslinked}}">
						<a href="{{html-linkedactivity-link}}/{{ html-titlealt}}">
							<span class="cpe-icon material-icons">trending_up</span>
						</a>
					</li>
					<li class="logs small-on" title="{{msg-log}}">
						<a href="{{html-logs-link}}?page={{html-titlealt}}">
							<span class="cpe-icon material-icons">visibility</span>
						</a>
					</li>
					<li class="randompage small-on" title="{{msg-randompage}}">
						<a href="{{html-rpage-link}}">
							<span class="cpe-icon material-icons">shuffle</span>
						</a>
					</li>
					<li class="modelcontent largep-on" title="{{msg-changecontentmodel}}">
						<a href="{{html-mcontent-link}}/{{ html-titlealt}}">
							<span class="cpe-icon material-icons">build</span>
						</a>
					</li>
					<li class="info largep-on" title="{{msg-pageinfo-toolboxlink}}">
						<a href="{{html-info-link}}/{{ html-titlealt}}">
							<span class="cpe-icon material-icons">help</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- Explore Menu -->
		<div class="cpe-dropdown is-flipped has-dark-shadow explore-menu">
			<div class="link cpe-dropdown__toggle" cpe-tooltip-position="top" cpe-tooltip="{{msg-evelution-explore}}">
				<div class="anon-on">
					<span class="cpe-icon material-icons">
						public_off
					</span>
				</div>
				<div class="v-on">
					<span class="cpe-icon material-icons">
						widgets
					</span>
				</div>
				<div class="wikihost-off anon-off">
					<span class="cpe-icon material-icons">
						public
					</span>
					<span class="widget-text">{{msg-evelution-standard}}</span>
				</div>
				<div class="miraheze-only anon-off">
							<svg class="cpe-icon" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" id="svg4206" version="1.1" inkscape:version="1.1 (c68e22c387, 2021-05-23)" viewBox="0 0 46.999999 49.999999" sodipodi:docname="meta-icon.svg">
							  <metadata id="metadata4212">
								<rdf:RDF>
								  <cc:Work rdf:about="">
									<dc:format>image/svg+xml</dc:format>
									<dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
								  </cc:Work>
								</rdf:RDF>
							  </metadata>
							  <defs id="defs4210"/>
							  <sodipodi:namedview pagecolor="#ffffff" bordercolor="#666666" borderopacity="1" objecttolerance="10" gridtolerance="10" guidetolerance="10" inkscape:pageopacity="0" inkscape:pageshadow="2" inkscape:window-width="1360" inkscape:window-height="705" id="namedview4208" showgrid="true" fit-margin-top="0" fit-margin-left="0" fit-margin-right="0" fit-margin-bottom="0" inkscape:zoom="4.98" inkscape:cx="30.220884" inkscape:cy="29.819277" inkscape:window-x="-8" inkscape:window-y="-8" inkscape:window-maximized="1" inkscape:current-layer="svg4206" showborder="true" inkscape:pagecheckerboard="1" inkscape:snap-midpoints="false" inkscape:snap-smooth-nodes="false" width="5px">
								<inkscape:grid type="xygrid" id="grid4863" originx="-29.148999" originy="-23.271842"/>
							  </sodipodi:namedview>
							  <g id="g3739" transform="matrix(0.36896973,0,0,0.36896973,-1.4758789,-0.00584523)">
								<path style="fill:currentColor;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" d="m 56.721681,48.541548 21.189606,0.06232 10.968739,18.946003 -10.84409,18.696711 H 56.659356 L 45.752943,67.487547 Z" id="path4756" inkscape:connector-curvature="0"/>
								<path style="fill:currentColor;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" d="M 56.7219,0.01584202 77.911507,0.07816637 88.880246,19.02417 78.036156,37.720879 H 56.659576 L 45.753162,18.961846 Z" id="path4756-4" inkscape:connector-curvature="0"/>
								<path style="fill:currentColor;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" d="M 56.7219,97.294954 77.911507,97.357279 88.880246,116.30329 78.036156,135 H 56.659576 L 45.753162,116.24097 Z" id="path4756-4-7" inkscape:connector-curvature="0" inkscape:transform-center-x="23.96383" inkscape:transform-center-y="-86.164066"/>
								<path style="fill:currentColor;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" d="m 98.666142,72.694267 21.189608,0.06232 10.96874,18.946004 -10.84409,18.696719 H 98.603817 L 87.697403,91.640271 Z" id="path4756-4-7-0" inkscape:connector-curvature="0" inkscape:transform-center-x="23.963829" inkscape:transform-center-y="-86.16407"/>
								<path style="fill:currentColor;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" d="m 98.666356,24.329153 21.189604,0.06232 10.96874,18.946001 -10.84409,18.696715 H 98.604032 L 87.697618,43.275159 Z" id="path4756-4-7-0-4" inkscape:connector-curvature="0" inkscape:transform-center-x="23.963831" inkscape:transform-center-y="-86.164068"/>
								<path style="fill:currentColor;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" d="m 14.946578,24.329157 21.1464,0.06232 10.94636,18.945997 -10.821965,18.696715 H 14.884381 L 4.0002036,43.275159 Z" id="path4756-4-7-0-4-0" inkscape:connector-curvature="0" inkscape:transform-center-x="23.914978" inkscape:transform-center-y="-86.164069"/>
								<path style="fill:currentColor;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" d="M 14.968739,72.694267 36.158346,72.756587 47.12708,91.702591 36.282994,110.39931 H 14.906415 L 4,91.640276 Z" id="path4756-4-7-0-4-5" inkscape:connector-curvature="0" inkscape:transform-center-x="23.96383" inkscape:transform-center-y="-86.16407"/>
							  </g>
							</svg>		
					<span class="widget-text">Miraheze</span>
				</div>
				<div class="qqore-only anon-off">
					<svg xmlns="http://www.w3.org/2000/svg" class="cpe-icon">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#qoreLogo" />
					</svg>
					<span class="widget-text">Qora Qore</span>
				</div>
			</div>
		    <div class="cpe-dropdown__content is-left-aligned">
				<ul class="cpe-list is-linked has-icon-labels">
		        {{#data-footer}}
					{{!}}{{#data-places}}{{>FooterList3}}{{/data-places}}
				{{/data-footer}}
				</ul>
			</div>
		</div>
		{{#is-loggedin}}
			<a href="https://discord.gg/a6FbV6zWFs" cpe-tooltip-position="top" class="link support" cpe-tooltip="{{msg-evelution-support}}">
				<span class="cpe-icon material-icons">
					live_help
				</span>						
			</a>
		{{/is-loggedin}}
		<!-- Tools -->
	  <a href="{{html-edit-link}}/{{ html-titlealt}}" cpe-tooltip-position="top" class="link edit vsmall-off" cpe-tooltip="{{msg-edit}}">
				<span class="cpe-icon cpe-dropdown__toggle-chevron material-icons">
					edit
				</span>
	  </a>
	  <a href="{{html-history-link}}/{{ html-titlealt}}" cpe-tooltip-position="top" class="link history vsmall-off" cpe-tooltip="{{msg-history}}">
				<span class="cpe-icon cpe-dropdown__toggle-chevron material-icons">
					history
				</span>
	  </a>
	  <a href="{{html-whatlinks-link}}/{{html-titlealt}}" class="link whatlinkshere smallp-off" cpe-tooltip-position="top" cpe-tooltip="{{msg-whatlinkshere}}">
				<span class="cpe-icon material-icons">
					insert_link
				</span>
	  </a>
	  <a href="{{html-linkedactivity-link}}/{{html-titlealt}}" class="link linkedactivity smallp-off" cpe-tooltip-position="top" cpe-tooltip="{{msg-recentchangeslinked}}">
				<span class="cpe-icon material-icons">
					trending_up
				</span>
	  </a>
	  <a href="{{html-logs-link}}?page={{html-titlealt}}" class="link logs small-off" cpe-tooltip-position="top" cpe-tooltip="{{msg-log}}">
				<span class="cpe-icon material-icons">
					visibility
				</span>
	  </a>
	  <a href="{{html-rpage-link}}" class="link randompage small-off" cpe-tooltip-position="top" cpe-tooltip="{{msg-randompage}}">
				<span class="cpe-icon material-icons">
					shuffle
				</span>
	  </a>
	  <a href="{{html-mcontent-link}}/{{ html-titlealt}}" class="link modelcontent largep-off" cpe-tooltip-position="top" cpe-tooltip="{{msg-changecontentmodel}}">
				<span class="cpe-icon material-icons">
					build
				</span>
	  </a>
	  <a href="{{html-info-link}}/{{html-titlealt}}" class="link information largep-off" cpe-tooltip-position="top" cpe-tooltip="{{msg-pageinfo-toolboxlink}}">
				<span class="cpe-icon material-icons">
					help
				</span>
	  </a>

	</div>
	<div class="bottom-links">
		{{#has-echo}}
			  <!-- Notifications -->
				<div class="link cell notice notices-menu focus-within" cpe-tooltip-position="top" cpe-tooltip="{{msg-tooltip-pt-notifications-alert}}">
					<div style="position:absolute; visibility:visible; width:var(--global-nav-size);">
									{{#data-portlets.data-notifications}}{{>Portlet2}}{{/data-portlets.data-notifications}}
					</div>
					<span class="cpe-icon material-icons">
						notifications
					</span>
				</div>
				<div class="link cell notice updates-menu focus-within" cpe-tooltip-position="top" cpe-tooltip="{{msg-tooltip-pt-notifications-notice}}">
					<div style="position:absolute; visibility:visible; width:var(--global-nav-size);">
									{{#data-portlets.data-notifications}}{{>Portlet2}}{{/data-portlets.data-notifications}}
					</div>
					<span class="cpe-icon material-icons">
						inbox
					</span>
				</div>
		{{/has-echo}}
		<div class="cpe-dropdown is-flipped has-dark-shadow user-profile">
			<div class="link cell cpe-dropdown__toggle" cpe-tooltip-position="top" cpe-tooltip="{{msg-personaltools}}">
			{{#has-avatar}}
				<div class="raw-parser">{{html-avatar}}</div>
			{{/has-avatar}}
			{{^has-avatar}}
				<span class="cpe-icon material-icons">account_circle</span>
			{{/has-avatar}}
								
			</div>
			<div class="cpe-dropdown__content is-right-aligned">
				<ul class="cpe-list is-linked has-icons mobile-on">
					<li class="purge">
						<a href="{{html-purge-link}}/{{html-titlealt}}" title="{{msg-purge}}">
							<span class="cpe-icon material-icons">
								refresh
							</span>						
						</a>
					</li>
				</ul>
				<hr class="mobile-on">
				<ul class="cpe-list cpe-is-linked has-icon-labels mw-portlet-body" {{{html-user-language-attributes}}}>
{{#data-portlets.data-user-interface-preferences}}{{>PortletPT}}			{{/data-portlets.data-user-interface-preferences}}				{{#data-portlets.data-user-menu}}{{>PortletPT}}{{/data-portlets.data-user-menu}}
				</ul>
				{{{html-after-portal}}}
			</div>
		</div>
	  <a href="{{html-purge-link}}/{{html-titlealt}}" class="link purge mobile-off" cpe-tooltip-position="top" cpe-tooltip="{{msg-purge}}">
				<span class="cpe-icon material-icons">
					refresh
				</span>
	  </a>
	</div>
</header>
