{{^has-no-color-management}}
'/** Themes */' +
'/* Theme A */' +
	'.theme-A.visualcolors-standard {' +
		{{#data-theme-A}}
			{{#desktop-background-image}}
				'--desktop-background-image:\'{{.}}\';' + /* <image> */
			{{/desktop-background-image}}
			{{#desktop-background-image-filter}}
				'--desktop-background-image-filter:{{.}};' + /* <filter-function> */
			{{/desktop-background-image-filter}}
			{{#desktop-background-color}}
				'--desktop-background-color:{{.}};' + /* <color> */
			{{/desktop-background-color}}
			{{#desktop-background-size}}
				'--desktop-background-size:{{.}};' + /* cover | contain | stretched | full */
			{{/desktop-background-size}}
			{{#desktop-background-horizontal-alignment}}
				'--desktop-background-horizontal-alignment:{{.}};' + /* left | center | right */
			{{/desktop-background-horizontal-alignment}}
			{{#desktop-background-vertical-alignment}}
				'--desktop-background-vertical-alignment:{{.}};' + /* top | center | bottom */
			{{/desktop-background-vertical-alignment}}
			{{#desktop-background-no-horizontal-tiling}}
				'--desktop-background-no-horizontal-tiling:{{.}};' + /* <boolean> */
			{{/desktop-background-no-horizontal-tiling}}
			{{#desktop-background-no-vertical-tiling}}
				'--desktop-background-no-vertical-tiling:{{.}};' + /* <boolean> */
			{{/desktop-background-no-vertical-tiling}}
			{{#desktop-text-background-color}}
				'--desktop-text-background-color:{{.}};' + /* auto | <color> */
			{{/desktop-text-background-color}}
			{{#canvas-background-color}}
				'--canvas-background-color:{{.}};' + /* <color> */
			{{/canvas-background-color}}
			{{#canvas-secondary-background-color}}
				'--canvas-secondary-background-color:{{.}};' + /* auto | <color> */
			{{/canvas-secondary-background-color}}
			{{#inactive-text-background-color}}
				'--inactive-text-background-color:{{.}};' + /* auto | <color> */
			{{/inactive-text-background-color}}
			{{#canvas-text-background-color}}
				'--canvas-text-background-color:{{.}};' + /* auto | <color> */
			{{/canvas-text-background-color}}
			{{#canvas-text-secondary-background-color}}
				'--canvas-text-secondary-background-color:{{.}};' + /* auto | <color> */
			{{/canvas-text-secondary-background-color}}
			{{#highlight-background-color}}
				'--highlight-background-color:{{.}};' + /* <color> */
			{{/highlight-background-color}}
			{{#hyperlink-background-color}}
				'--hyperlink-background-color:{{.}};' + /* <color> */
			{{/hyperlink-background-color}}
			{{#active-title-background-color}}
				'--active-title-background-color:{{.}};' + /* auto | <color> */
			{{/active-title-background-color}}
			{{#inactive-title-background-color}}
				'--inactive-title-background-color:{{.}};' + /* auto | <color> */
			{{/inactive-title-background-color}}
			{{#custom-font}}
				'--custom-font:\'<{{.}}>\';' + /* <string> */
			{{/custom-font}}
			{{#custom-secondary-font}}
				'--custom-secondary-font:\'<{{.}}>\';' + /* <string> */
			{{/custom-secondary-font}}
			{{#border-radius}}
				'--border-radius:{{.}};' + /* <number> 0 to 15 */
			{{/border-radius}}
			{{#icon-filter}}
				'--icon-filter:{{.}};' + /* <filter-function> */
			{{/icon-filter}}
			{{#icon-filter-hover}}
				'--icon-filter-hover:{{.}};' + /* <filter-function> */
			{{/icon-filter-hover}}
			{{#icon-filter-duration}}
				'--icon-filter-duration:{{.}};' + /* <duration> */
			{{/icon-filter-duration}}
			{{#icon-filter-delay}}
				'--icon-filter-delay:{{.}};' + /* <duration> */
			{{/icon-filter-delay}}
			{{#system-acryllic-opacity}}
				'--system-acryllic-opacity:{{.}};' + /* <number> 0.4 to 0.8 */
			{{/system-acryllic-opacity}}
			{{#system-generic-color-hue-shift}}
				'--system-generic-color-hue-shift:{{.}};' + /* <number> -10 to 10 */
			{{/system-generic-color-hue-shift}}
	{{/data-theme-A}}
	'}' +
'/* Theme B */' +
	'.theme-B.visualcolors-standard {' +
		{{#data-theme-B}}
			{{#desktop-background-image}}
				'--desktop-background-image:\'{{.}}\';' + /* <image> */
			{{/desktop-background-image}}
			{{#desktop-background-image-filter}}
				'--desktop-background-image-filter:{{.}};' + /* <filter-function> */
			{{/desktop-background-image-filter}}
			{{#desktop-background-color}}
				'--desktop-background-color:{{.}};' + /* <color> */
			{{/desktop-background-color}}
			{{#desktop-background-size}}
				'--desktop-background-size:{{.}};' + /* cover | contain | stretched | full */
			{{/desktop-background-size}}
			{{#desktop-background-horizontal-alignment}}
				'--desktop-background-horizontal-alignment:{{.}};' + /* left | center | right */
			{{/desktop-background-horizontal-alignment}}
			{{#desktop-background-vertical-alignment}}
				'--desktop-background-vertical-alignment:{{.}};' + /* top | center | bottom */
			{{/desktop-background-vertical-alignment}}
			{{#desktop-background-no-horizontal-tiling}}
				'--desktop-background-no-horizontal-tiling:{{.}};' + /* <boolean> */
			{{/desktop-background-no-horizontal-tiling}}
			{{#desktop-background-no-vertical-tiling}}
				'--desktop-background-no-vertical-tiling:{{.}};' + /* <boolean> */
			{{/desktop-background-no-vertical-tiling}}
			{{#desktop-text-background-color}}
				'--desktop-text-background-color:{{.}};' + /* auto | <color> */
			{{/desktop-text-background-color}}
			{{#canvas-background-color}}
				'--canvas-background-color:{{.}};' + /* <color> */
			{{/canvas-background-color}}
			{{#canvas-secondary-background-color}}
				'--canvas-secondary-background-color:{{.}};' + /* auto | <color> */
			{{/canvas-secondary-background-color}}
			{{#inactive-text-background-color}}
				'--inactive-text-background-color:{{.}};' + /* auto | <color> */
			{{/inactive-text-background-color}}
			{{#canvas-text-background-color}}
				'--canvas-text-background-color:{{.}};' + /* auto | <color> */
			{{/canvas-text-background-color}}
			{{#canvas-text-secondary-background-color}}
				'--canvas-text-secondary-background-color:{{.}};' + /* auto | <color> */
			{{/canvas-text-secondary-background-color}}
			{{#highlight-background-color}}
				'--highlight-background-color:{{.}};' + /* <color> */
			{{/highlight-background-color}}
			{{#hyperlink-background-color}}
				'--hyperlink-background-color:{{.}};' + /* <color> */
			{{/hyperlink-background-color}}
			{{#active-title-background-color}}
				'--active-title-background-color:{{.}};' + /* auto | <color> */
			{{/active-title-background-color}}
			{{#inactive-title-background-color}}
				'--inactive-title-background-color:{{.}};' + /* auto | <color> */
			{{/inactive-title-background-color}}
			{{#custom-font}}
				'--custom-font:\'<{{.}}>\';' + /* <string> */
			{{/custom-font}}
			{{#custom-secondary-font}}
				'--custom-secondary-font:\'<{{.}}>\';' + /* <string> */
			{{/custom-secondary-font}}
			{{#border-radius}}
				'--border-radius:{{.}};' + /* <number> 0 to 15 */
			{{/border-radius}}
			{{#icon-filter}}
				'--icon-filter:{{.}};' + /* <filter-function> */
			{{/icon-filter}}
			{{#icon-filter-hover}}
				'--icon-filter-hover:{{.}};' + /* <filter-function> */
			{{/icon-filter-hover}}
			{{#icon-filter-duration}}
				'--icon-filter-duration:{{.}};' + /* <duration> */
			{{/icon-filter-duration}}
			{{#icon-filter-delay}}
				'--icon-filter-delay:{{.}};' + /* <duration> */
			{{/icon-filter-delay}}
			{{#system-acryllic-opacity}}
				'--system-acryllic-opacity:{{.}};' + /* <number> 0.4 to 0.8 */
			{{/system-acryllic-opacity}}
			{{#system-generic-color-hue-shift}}
				'--system-generic-color-hue-shift:{{.}};' + /* <number> -10 to 10 */
			{{/system-generic-color-hue-shift}}
	{{/data-theme-B}}
	'}' +
'/* Theme C */' +
	'.theme-C.visualcolors-standard {' +
		{{#data-theme-C}}
			{{#desktop-background-image}}
				'--desktop-background-image:\'{{.}}\';' + /* <image> */
			{{/desktop-background-image}}
			{{#desktop-background-image-filter}}
				'--desktop-background-image-filter:{{.}};' + /* <filter-function> */
			{{/desktop-background-image-filter}}
			{{#desktop-background-color}}
				'--desktop-background-color:{{.}};' + /* <color> */
			{{/desktop-background-color}}
			{{#desktop-background-size}}
				'--desktop-background-size:{{.}};' + /* cover | contain | stretched | full */
			{{/desktop-background-size}}
			{{#desktop-background-horizontal-alignment}}
				'--desktop-background-horizontal-alignment:{{.}};' + /* left | center | right */
			{{/desktop-background-horizontal-alignment}}
			{{#desktop-background-vertical-alignment}}
				'--desktop-background-vertical-alignment:{{.}};' + /* top | center | bottom */
			{{/desktop-background-vertical-alignment}}
			{{#desktop-background-no-horizontal-tiling}}
				'--desktop-background-no-horizontal-tiling:{{.}};' + /* <boolean> */
			{{/desktop-background-no-horizontal-tiling}}
			{{#desktop-background-no-vertical-tiling}}
				'--desktop-background-no-vertical-tiling:{{.}};' + /* <boolean> */
			{{/desktop-background-no-vertical-tiling}}
			{{#desktop-text-background-color}}
				'--desktop-text-background-color:{{.}};' + /* auto | <color> */
			{{/desktop-text-background-color}}
			{{#canvas-background-color}}
				'--canvas-background-color:{{.}};' + /* <color> */
			{{/canvas-background-color}}
			{{#canvas-secondary-background-color}}
				'--canvas-secondary-background-color:{{.}};' + /* auto | <color> */
			{{/canvas-secondary-background-color}}
			{{#inactive-text-background-color}}
				'--inactive-text-background-color:{{.}};' + /* auto | <color> */
			{{/inactive-text-background-color}}
			{{#canvas-text-background-color}}
				'--canvas-text-background-color:{{.}};' + /* auto | <color> */
			{{/canvas-text-background-color}}
			{{#canvas-text-secondary-background-color}}
				'--canvas-text-secondary-background-color:{{.}};' + /* auto | <color> */
			{{/canvas-text-secondary-background-color}}
			{{#highlight-background-color}}
				'--highlight-background-color:{{.}};' + /* <color> */
			{{/highlight-background-color}}
			{{#hyperlink-background-color}}
				'--hyperlink-background-color:{{.}};' + /* <color> */
			{{/hyperlink-background-color}}
			{{#active-title-background-color}}
				'--active-title-background-color:{{.}};' + /* auto | <color> */
			{{/active-title-background-color}}
			{{#inactive-title-background-color}}
				'--inactive-title-background-color:{{.}};' + /* auto | <color> */
			{{/inactive-title-background-color}}
			{{#custom-font}}
				'--custom-font:\'<{{.}}>\';' + /* <string> */
			{{/custom-font}}
			{{#custom-secondary-font}}
				'--custom-secondary-font:\'<{{.}}>\';' + /* <string> */
			{{/custom-secondary-font}}
			{{#border-radius}}
				'--border-radius:{{.}};' + /* <number> 0 to 15 */
			{{/border-radius}}
			{{#icon-filter}}
				'--icon-filter:{{.}};' + /* <filter-function> */
			{{/icon-filter}}
			{{#icon-filter-hover}}
				'--icon-filter-hover:{{.}};' + /* <filter-function> */
			{{/icon-filter-hover}}
			{{#icon-filter-duration}}
				'--icon-filter-duration:{{.}};' + /* <duration> */
			{{/icon-filter-duration}}
			{{#icon-filter-delay}}
				'--icon-filter-delay:{{.}};' + /* <duration> */
			{{/icon-filter-delay}}
			{{#system-acryllic-opacity}}
				'--system-acryllic-opacity:{{.}};' + /* <number> 0.4 to 0.8 */
			{{/system-acryllic-opacity}}
			{{#system-generic-color-hue-shift}}
				'--system-generic-color-hue-shift:{{.}};' + /* <number> -10 to 10 */
			{{/system-generic-color-hue-shift}}
	{{/data-theme-C}}
	'}' +
'/* Theme D */' +
	'.theme-D.visualcolors-standard {' +
		{{#data-theme-D}}
			{{#desktop-background-image}}
				'--desktop-background-image:\'{{.}}\';' + /* <image> */
			{{/desktop-background-image}}
			{{#desktop-background-image-filter}}
				'--desktop-background-image-filter:{{.}};' + /* <filter-function> */
			{{/desktop-background-image-filter}}
			{{#desktop-background-color}}
				'--desktop-background-color:{{.}};' + /* <color> */
			{{/desktop-background-color}}
			{{#desktop-background-size}}
				'--desktop-background-size:{{.}};' + /* cover | contain | stretched | full */
			{{/desktop-background-size}}
			{{#desktop-background-horizontal-alignment}}
				'--desktop-background-horizontal-alignment:{{.}};' + /* left | center | right */
			{{/desktop-background-horizontal-alignment}}
			{{#desktop-background-vertical-alignment}}
				'--desktop-background-vertical-alignment:{{.}};' + /* top | center | bottom */
			{{/desktop-background-vertical-alignment}}
			{{#desktop-background-no-horizontal-tiling}}
				'--desktop-background-no-horizontal-tiling:{{.}};' + /* <boolean> */
			{{/desktop-background-no-horizontal-tiling}}
			{{#desktop-background-no-vertical-tiling}}
				'--desktop-background-no-vertical-tiling:{{.}};' + /* <boolean> */
			{{/desktop-background-no-vertical-tiling}}
			{{#desktop-text-background-color}}
				'--desktop-text-background-color:{{.}};' + /* auto | <color> */
			{{/desktop-text-background-color}}
			{{#canvas-background-color}}
				'--canvas-background-color:{{.}};' + /* <color> */
			{{/canvas-background-color}}
			{{#canvas-secondary-background-color}}
				'--canvas-secondary-background-color:{{.}};' + /* auto | <color> */
			{{/canvas-secondary-background-color}}
			{{#inactive-text-background-color}}
				'--inactive-text-background-color:{{.}};' + /* auto | <color> */
			{{/inactive-text-background-color}}
			{{#canvas-text-background-color}}
				'--canvas-text-background-color:{{.}};' + /* auto | <color> */
			{{/canvas-text-background-color}}
			{{#canvas-text-secondary-background-color}}
				'--canvas-text-secondary-background-color:{{.}};' + /* auto | <color> */
			{{/canvas-text-secondary-background-color}}
			{{#highlight-background-color}}
				'--highlight-background-color:{{.}};' + /* <color> */
			{{/highlight-background-color}}
			{{#hyperlink-background-color}}
				'--hyperlink-background-color:{{.}};' + /* <color> */
			{{/hyperlink-background-color}}
			{{#active-title-background-color}}
				'--active-title-background-color:{{.}};' + /* auto | <color> */
			{{/active-title-background-color}}
			{{#inactive-title-background-color}}
				'--inactive-title-background-color:{{.}};' + /* auto | <color> */
			{{/inactive-title-background-color}}
			{{#custom-font}}
				'--custom-font:\'<{{.}}>\';' + /* <string> */
			{{/custom-font}}
			{{#custom-secondary-font}}
				'--custom-secondary-font:\'<{{.}}>\';' + /* <string> */
			{{/custom-secondary-font}}
			{{#border-radius}}
				'--border-radius:{{.}};' + /* <number> 0 to 15 */
			{{/border-radius}}
			{{#icon-filter}}
				'--icon-filter:{{.}};' + /* <filter-function> */
			{{/icon-filter}}
			{{#icon-filter-hover}}
				'--icon-filter-hover:{{.}};' + /* <filter-function> */
			{{/icon-filter-hover}}
			{{#icon-filter-duration}}
				'--icon-filter-duration:{{.}};' + /* <duration> */
			{{/icon-filter-duration}}
			{{#icon-filter-delay}}
				'--icon-filter-delay:{{.}};' + /* <duration> */
			{{/icon-filter-delay}}
			{{#system-acryllic-opacity}}
				'--system-acryllic-opacity:{{.}};' + /* <number> 0.4 to 0.8 */
			{{/system-acryllic-opacity}}
			{{#system-generic-color-hue-shift}}
				'--system-generic-color-hue-shift:{{.}};' + /* <number> -10 to 10 */
			{{/system-generic-color-hue-shift}}
	{{/data-theme-D}}
	'}' +
'/* Theme E */' +
	'.theme-E.visualcolors-standard {' +
		{{#data-theme-E}}
			{{#desktop-background-image}}
				'--desktop-background-image:\'{{.}}\';' + /* <image> */
			{{/desktop-background-image}}
			{{#desktop-background-image-filter}}
				'--desktop-background-image-filter:{{.}};' + /* <filter-function> */
			{{/desktop-background-image-filter}}
			{{#desktop-background-color}}
				'--desktop-background-color:{{.}};' + /* <color> */
			{{/desktop-background-color}}
			{{#desktop-background-size}}
				'--desktop-background-size:{{.}};' + /* cover | contain | stretched | full */
			{{/desktop-background-size}}
			{{#desktop-background-horizontal-alignment}}
				'--desktop-background-horizontal-alignment:{{.}};' + /* left | center | right */
			{{/desktop-background-horizontal-alignment}}
			{{#desktop-background-vertical-alignment}}
				'--desktop-background-vertical-alignment:{{.}};' + /* top | center | bottom */
			{{/desktop-background-vertical-alignment}}
			{{#desktop-background-no-horizontal-tiling}}
				'--desktop-background-no-horizontal-tiling:{{.}};' + /* <boolean> */
			{{/desktop-background-no-horizontal-tiling}}
			{{#desktop-background-no-vertical-tiling}}
				'--desktop-background-no-vertical-tiling:{{.}};' + /* <boolean> */
			{{/desktop-background-no-vertical-tiling}}
			{{#desktop-text-background-color}}
				'--desktop-text-background-color:{{.}};' + /* auto | <color> */
			{{/desktop-text-background-color}}
			{{#canvas-background-color}}
				'--canvas-background-color:{{.}};' + /* <color> */
			{{/canvas-background-color}}
			{{#canvas-secondary-background-color}}
				'--canvas-secondary-background-color:{{.}};' + /* auto | <color> */
			{{/canvas-secondary-background-color}}
			{{#inactive-text-background-color}}
				'--inactive-text-background-color:{{.}};' + /* auto | <color> */
			{{/inactive-text-background-color}}
			{{#canvas-text-background-color}}
				'--canvas-text-background-color:{{.}};' + /* auto | <color> */
			{{/canvas-text-background-color}}
			{{#canvas-text-secondary-background-color}}
				'--canvas-text-secondary-background-color:{{.}};' + /* auto | <color> */
			{{/canvas-text-secondary-background-color}}
			{{#highlight-background-color}}
				'--highlight-background-color:{{.}};' + /* <color> */
			{{/highlight-background-color}}
			{{#hyperlink-background-color}}
				'--hyperlink-background-color:{{.}};' + /* <color> */
			{{/hyperlink-background-color}}
			{{#active-title-background-color}}
				'--active-title-background-color:{{.}};' + /* auto | <color> */
			{{/active-title-background-color}}
			{{#inactive-title-background-color}}
				'--inactive-title-background-color:{{.}};' + /* auto | <color> */
			{{/inactive-title-background-color}}
			{{#custom-font}}
				'--custom-font:\'<{{.}}>\';' + /* <string> */
			{{/custom-font}}
			{{#custom-secondary-font}}
				'--custom-secondary-font:\'<{{.}}>\';' + /* <string> */
			{{/custom-secondary-font}}
			{{#border-radius}}
				'--border-radius:{{.}};' + /* <number> 0 to 15 */
			{{/border-radius}}
			{{#icon-filter}}
				'--icon-filter:{{.}};' + /* <filter-function> */
			{{/icon-filter}}
			{{#icon-filter-hover}}
				'--icon-filter-hover:{{.}};' + /* <filter-function> */
			{{/icon-filter-hover}}
			{{#icon-filter-duration}}
				'--icon-filter-duration:{{.}};' + /* <duration> */
			{{/icon-filter-duration}}
			{{#icon-filter-delay}}
				'--icon-filter-delay:{{.}};' + /* <duration> */
			{{/icon-filter-delay}}
			{{#system-acryllic-opacity}}
				'--system-acryllic-opacity:{{.}};' + /* <number> 0.4 to 0.8 */
			{{/system-acryllic-opacity}}
			{{#system-generic-color-hue-shift}}
				'--system-generic-color-hue-shift:{{.}};' + /* <number> -10 to 10 */
			{{/system-generic-color-hue-shift}}
	{{/data-theme-E}}
	'}' +
'/* Theme F */' +
	'.theme-F.visualcolors-standard {' +
		{{#data-theme-F}}
			{{#desktop-background-image}}
				'--desktop-background-image:\'{{.}}\';' + /* <image> */
			{{/desktop-background-image}}
			{{#desktop-background-image-filter}}
				'--desktop-background-image-filter:{{.}};' + /* <filter-function> */
			{{/desktop-background-image-filter}}
			{{#desktop-background-color}}
				'--desktop-background-color:{{.}};' + /* <color> */
			{{/desktop-background-color}}
			{{#desktop-background-size}}
				'--desktop-background-size:{{.}};' + /* cover | contain | stretched | full */
			{{/desktop-background-size}}
			{{#desktop-background-horizontal-alignment}}
				'--desktop-background-horizontal-alignment:{{.}};' + /* left | center | right */
			{{/desktop-background-horizontal-alignment}}
			{{#desktop-background-vertical-alignment}}
				'--desktop-background-vertical-alignment:{{.}};' + /* top | center | bottom */
			{{/desktop-background-vertical-alignment}}
			{{#desktop-background-no-horizontal-tiling}}
				'--desktop-background-no-horizontal-tiling:{{.}};' + /* <boolean> */
			{{/desktop-background-no-horizontal-tiling}}
			{{#desktop-background-no-vertical-tiling}}
				'--desktop-background-no-vertical-tiling:{{.}};' + /* <boolean> */
			{{/desktop-background-no-vertical-tiling}}
			{{#desktop-text-background-color}}
				'--desktop-text-background-color:{{.}};' + /* auto | <color> */
			{{/desktop-text-background-color}}
			{{#canvas-background-color}}
				'--canvas-background-color:{{.}};' + /* <color> */
			{{/canvas-background-color}}
			{{#canvas-secondary-background-color}}
				'--canvas-secondary-background-color:{{.}};' + /* auto | <color> */
			{{/canvas-secondary-background-color}}
			{{#inactive-text-background-color}}
				'--inactive-text-background-color:{{.}};' + /* auto | <color> */
			{{/inactive-text-background-color}}
			{{#canvas-text-background-color}}
				'--canvas-text-background-color:{{.}};' + /* auto | <color> */
			{{/canvas-text-background-color}}
			{{#canvas-text-secondary-background-color}}
				'--canvas-text-secondary-background-color:{{.}};' + /* auto | <color> */
			{{/canvas-text-secondary-background-color}}
			{{#highlight-background-color}}
				'--highlight-background-color:{{.}};' + /* <color> */
			{{/highlight-background-color}}
			{{#hyperlink-background-color}}
				'--hyperlink-background-color:{{.}};' + /* <color> */
			{{/hyperlink-background-color}}
			{{#active-title-background-color}}
				'--active-title-background-color:{{.}};' + /* auto | <color> */
			{{/active-title-background-color}}
			{{#inactive-title-background-color}}
				'--inactive-title-background-color:{{.}};' + /* auto | <color> */
			{{/inactive-title-background-color}}
			{{#custom-font}}
				'--custom-font:\'<{{.}}>\';' + /* <string> */
			{{/custom-font}}
			{{#custom-secondary-font}}
				'--custom-secondary-font:\'<{{.}}>\';' + /* <string> */
			{{/custom-secondary-font}}
			{{#border-radius}}
				'--border-radius:{{.}};' + /* <number> 0 to 15 */
			{{/border-radius}}
			{{#icon-filter}}
				'--icon-filter:{{.}};' + /* <filter-function> */
			{{/icon-filter}}
			{{#icon-filter-hover}}
				'--icon-filter-hover:{{.}};' + /* <filter-function> */
			{{/icon-filter-hover}}
			{{#icon-filter-duration}}
				'--icon-filter-duration:{{.}};' + /* <duration> */
			{{/icon-filter-duration}}
			{{#icon-filter-delay}}
				'--icon-filter-delay:{{.}};' + /* <duration> */
			{{/icon-filter-delay}}
			{{#system-acryllic-opacity}}
				'--system-acryllic-opacity:{{.}};' + /* <number> 0.4 to 0.8 */
			{{/system-acryllic-opacity}}
			{{#system-generic-color-hue-shift}}
				'--system-generic-color-hue-shift:{{.}};' + /* <number> -10 to 10 */
			{{/system-generic-color-hue-shift}}
	{{/data-theme-F}}
	'}' +
'/* Theme G */' +
	'.theme-G.visualcolors-standard {' +
		{{#data-theme-G}}
			{{#desktop-background-image}}
				'--desktop-background-image:\'{{.}}\';' + /* <image> */
			{{/desktop-background-image}}
			{{#desktop-background-image-filter}}
				'--desktop-background-image-filter:{{.}};' + /* <filter-function> */
			{{/desktop-background-image-filter}}
			{{#desktop-background-color}}
				'--desktop-background-color:{{.}};' + /* <color> */
			{{/desktop-background-color}}
			{{#desktop-background-size}}
				'--desktop-background-size:{{.}};' + /* cover | contain | stretched | full */
			{{/desktop-background-size}}
			{{#desktop-background-horizontal-alignment}}
				'--desktop-background-horizontal-alignment:{{.}};' + /* left | center | right */
			{{/desktop-background-horizontal-alignment}}
			{{#desktop-background-vertical-alignment}}
				'--desktop-background-vertical-alignment:{{.}};' + /* top | center | bottom */
			{{/desktop-background-vertical-alignment}}
			{{#desktop-background-no-horizontal-tiling}}
				'--desktop-background-no-horizontal-tiling:{{.}};' + /* <boolean> */
			{{/desktop-background-no-horizontal-tiling}}
			{{#desktop-background-no-vertical-tiling}}
				'--desktop-background-no-vertical-tiling:{{.}};' + /* <boolean> */
			{{/desktop-background-no-vertical-tiling}}
			{{#desktop-text-background-color}}
				'--desktop-text-background-color:{{.}};' + /* auto | <color> */
			{{/desktop-text-background-color}}
			{{#canvas-background-color}}
				'--canvas-background-color:{{.}};' + /* <color> */
			{{/canvas-background-color}}
			{{#canvas-secondary-background-color}}
				'--canvas-secondary-background-color:{{.}};' + /* auto | <color> */
			{{/canvas-secondary-background-color}}
			{{#inactive-text-background-color}}
				'--inactive-text-background-color:{{.}};' + /* auto | <color> */
			{{/inactive-text-background-color}}
			{{#canvas-text-background-color}}
				'--canvas-text-background-color:{{.}};' + /* auto | <color> */
			{{/canvas-text-background-color}}
			{{#canvas-text-secondary-background-color}}
				'--canvas-text-secondary-background-color:{{.}};' + /* auto | <color> */
			{{/canvas-text-secondary-background-color}}
			{{#highlight-background-color}}
				'--highlight-background-color:{{.}};' + /* <color> */
			{{/highlight-background-color}}
			{{#hyperlink-background-color}}
				'--hyperlink-background-color:{{.}};' + /* <color> */
			{{/hyperlink-background-color}}
			{{#active-title-background-color}}
				'--active-title-background-color:{{.}};' + /* auto | <color> */
			{{/active-title-background-color}}
			{{#inactive-title-background-color}}
				'--inactive-title-background-color:{{.}};' + /* auto | <color> */
			{{/inactive-title-background-color}}
			{{#custom-font}}
				'--custom-font:\'<{{.}}>\';' + /* <string> */
			{{/custom-font}}
			{{#custom-secondary-font}}
				'--custom-secondary-font:\'<{{.}}>\';' + /* <string> */
			{{/custom-secondary-font}}
			{{#border-radius}}
				'--border-radius:{{.}};' + /* <number> 0 to 15 */
			{{/border-radius}}
			{{#icon-filter}}
				'--icon-filter:{{.}};' + /* <filter-function> */
			{{/icon-filter}}
			{{#icon-filter-hover}}
				'--icon-filter-hover:{{.}};' + /* <filter-function> */
			{{/icon-filter-hover}}
			{{#icon-filter-duration}}
				'--icon-filter-duration:{{.}};' + /* <duration> */
			{{/icon-filter-duration}}
			{{#icon-filter-delay}}
				'--icon-filter-delay:{{.}};' + /* <duration> */
			{{/icon-filter-delay}}
			{{#system-acryllic-opacity}}
				'--system-acryllic-opacity:{{.}};' + /* <number> 0.4 to 0.8 */
			{{/system-acryllic-opacity}}
			{{#system-generic-color-hue-shift}}
				'--system-generic-color-hue-shift:{{.}};' + /* <number> -10 to 10 */
			{{/system-generic-color-hue-shift}}
	{{/data-theme-G}}
	'}' +
'/* Theme H */' +
	'.theme-H.visualcolors-standard {' +
		{{#data-theme-H}}
			{{#desktop-background-image}}
				'--desktop-background-image:\'{{.}}\';' + /* <image> */
			{{/desktop-background-image}}
			{{#desktop-background-image-filter}}
				'--desktop-background-image-filter:{{.}};' + /* <filter-function> */
			{{/desktop-background-image-filter}}
			{{#desktop-background-color}}
				'--desktop-background-color:{{.}};' + /* <color> */
			{{/desktop-background-color}}
			{{#desktop-background-size}}
				'--desktop-background-size:{{.}};' + /* cover | contain | stretched | full */
			{{/desktop-background-size}}
			{{#desktop-background-horizontal-alignment}}
				'--desktop-background-horizontal-alignment:{{.}};' + /* left | center | right */
			{{/desktop-background-horizontal-alignment}}
			{{#desktop-background-vertical-alignment}}
				'--desktop-background-vertical-alignment:{{.}};' + /* top | center | bottom */
			{{/desktop-background-vertical-alignment}}
			{{#desktop-background-no-horizontal-tiling}}
				'--desktop-background-no-horizontal-tiling:{{.}};' + /* <boolean> */
			{{/desktop-background-no-horizontal-tiling}}
			{{#desktop-background-no-vertical-tiling}}
				'--desktop-background-no-vertical-tiling:{{.}};' + /* <boolean> */
			{{/desktop-background-no-vertical-tiling}}
			{{#desktop-text-background-color}}
				'--desktop-text-background-color:{{.}};' + /* auto | <color> */
			{{/desktop-text-background-color}}
			{{#canvas-background-color}}
				'--canvas-background-color:{{.}};' + /* <color> */
			{{/canvas-background-color}}
			{{#canvas-secondary-background-color}}
				'--canvas-secondary-background-color:{{.}};' + /* auto | <color> */
			{{/canvas-secondary-background-color}}
			{{#inactive-text-background-color}}
				'--inactive-text-background-color:{{.}};' + /* auto | <color> */
			{{/inactive-text-background-color}}
			{{#canvas-text-background-color}}
				'--canvas-text-background-color:{{.}};' + /* auto | <color> */
			{{/canvas-text-background-color}}
			{{#canvas-text-secondary-background-color}}
				'--canvas-text-secondary-background-color:{{.}};' + /* auto | <color> */
			{{/canvas-text-secondary-background-color}}
			{{#highlight-background-color}}
				'--highlight-background-color:{{.}};' + /* <color> */
			{{/highlight-background-color}}
			{{#hyperlink-background-color}}
				'--hyperlink-background-color:{{.}};' + /* <color> */
			{{/hyperlink-background-color}}
			{{#active-title-background-color}}
				'--active-title-background-color:{{.}};' + /* auto | <color> */
			{{/active-title-background-color}}
			{{#inactive-title-background-color}}
				'--inactive-title-background-color:{{.}};' + /* auto | <color> */
			{{/inactive-title-background-color}}
			{{#custom-font}}
				'--custom-font:\'<{{.}}>\';' + /* <string> */
			{{/custom-font}}
			{{#custom-secondary-font}}
				'--custom-secondary-font:\'<{{.}}>\';' + /* <string> */
			{{/custom-secondary-font}}
			{{#border-radius}}
				'--border-radius:{{.}};' + /* <number> 0 to 15 */
			{{/border-radius}}
			{{#icon-filter}}
				'--icon-filter:{{.}};' + /* <filter-function> */
			{{/icon-filter}}
			{{#icon-filter-hover}}
				'--icon-filter-hover:{{.}};' + /* <filter-function> */
			{{/icon-filter-hover}}
			{{#icon-filter-duration}}
				'--icon-filter-duration:{{.}};' + /* <duration> */
			{{/icon-filter-duration}}
			{{#icon-filter-delay}}
				'--icon-filter-delay:{{.}};' + /* <duration> */
			{{/icon-filter-delay}}
			{{#system-acryllic-opacity}}
				'--system-acryllic-opacity:{{.}};' + /* <number> 0.4 to 0.8 */
			{{/system-acryllic-opacity}}
			{{#system-generic-color-hue-shift}}
				'--system-generic-color-hue-shift:{{.}};' + /* <number> -10 to 10 */
			{{/system-generic-color-hue-shift}}
	{{/data-theme-H}}
	'}'
	{{/has-no-color-management}}