<nav class="evelution-top-actions">
	  <a href="{{html-logs-link}}" class="link logs" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-log}}">
				<span class="cpe-icon material-icons">
					visibility
				</span>
	  </a>
	  <a href="{{html-categories-link}}" class="link categories" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-categories}}">
				<span class="cpe-icon material-icons">
					grid_view
				</span>
	  </a>
	  <a href="{{html-import-link}}" class="link import" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-import}}">
				<span class="cpe-icon material-icons">
					file_upload
				</span>
	  </a>
	  <a href="{{html-export-link}}" class="link export" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-export}}">
				<span class="cpe-icon material-icons">
					file_download
				</span>
	  </a>
	  <a href="{{html-dredirect-link}}" class="link doubleredirects" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-doubleredirects}}">
				<span class="cpe-icon material-icons">
					double_arrow
				</span>
	  </a>
	  <a href="{{msg-policy-link}}" class="link policy" cpe-tooltip-position="bottom" cpe-tooltip="Wiki Policy">
				<span class="cpe-icon material-icons">
					book
				</span>
	  </a>
	  <a href="{{html-sandbox-link}}" class="link sandbox" cpe-tooltip-position="bottom" cpe-tooltip="Sandbox">
				<span class="cpe-icon material-icons">
					category
				</span>
	  </a>
	<a class="link reset-settings right-align" onclick="ResetSettings()" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-evelution-reset-settings}}">
		<span class="cpe-icon material-icons">
			delete_sweep
		</span>
	</a>

</nav>