<nav class="evelution-top-actions">
	  <a href="{{html-whatlinks-link}}/{{html-titlealt}}" class="link whatlinkshere" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-whatlinkshere}}">
				<span class="cpe-icon material-icons">
					insert_link
				</span>
	  </a>
	  <a href="{{html-linkedactivity-link}}/{{html-titlealt}}" class="link linkedactivity" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-recentchangeslinked}}">
				<span class="cpe-icon material-icons">
					trending_up
				</span>
	  </a>
	  <a href="{{html-logs-link}}?page={{html-titlealt}}" class="link logs" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-log}}">
				<span class="cpe-icon material-icons">
					visibility
				</span>
	  </a>
	  <a href="{{html-rpage-link}}" class="link randompage" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-randompage}}">
				<span class="cpe-icon material-icons">
					shuffle
				</span>
	  </a>
	  <a href="{{html-mcontent-link}}/{{ html-titlealt}}" class="link modelcontent right-align" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-changecontentmodel}}">
				<span class="cpe-icon material-icons">
					build
				</span>
	  </a>
	  <a href="{{html-info-link}}/{{html-titlealt}}" class="link information right-align" cpe-tooltip-position="bottom" cpe-tooltip="{{msg-pageinfo-toolboxlink}}">
				<span class="cpe-icon material-icons">
					help
				</span>
	  </a>
</nav>