:root {
--body-background-image:url("");
--body-background-image-opacity:100%;
--body-background-color:#ffffff;
--body-background-color-hover:#cccccc;
--body-fadeout-color:rgba(255,255,255,0.225);
--body-gradient-color:#ffffff;
--body-gradient-color-hover:#cccccc;
--body-foreground-color:#000000;
--body-foreground-color-hover:#333333;
--body-foreground-color-inverted:#000000;
--body-background-color-rgb:255,255,255;
--body-foreground-color-rgb:0,0,0;
--body-foreground-color-hover-rgb:51,51,51;
--superbar-text-background-color:#606c71;
--superbar-text-background-color-hover:#939fa4;
--superbar-text-fadeout-color:rgba(96,108,113,0.225);
--superbar-text-gradient-color:#939fa4;
--superbar-text-gradient-color-hover:#606c71;
--superbar-text-foreground-color:#ffffff;
--superbar-text-foreground-color-hover:#CCCCCC;
--superbar-text-background-color-rgb:96,108,113;
--superbar-text-background-color-hover-rgb:147,159,164;
--superbar-text-foreground-color-rgb:255,255,255;
--superbar-text-foreground-color-hover-rgb:204,204,204;
--body-background-mode:standard;
--body-background-horizontal-alignment:center;
--body-background-vertical-alignment:center;
--body-background-size:cover;
--body-background-no-horizontal-tiling:false;
--body-background-no-vertical-tiling:false;
--secondary-accent-background-color:#1e6bb8;
--secondary-accent-background-color-hover:#103860;
--secondary-accent-fadeout-color:rgba(30,107,184,0.225);
--secondary-accent-gradient-color:#1e6bb8;
--secondary-accent-gradient-color-hover:#103860;
--secondary-accent-foreground-color:#ffffff;
--secondary-accent-foreground-color-hover:#CCCCCC;
--secondary-accent-foreground-color-inverted:#ffffff;
--secondary-accent-background-color-rgb:30,107,184;
--secondary-accent-foreground-color-rgb:255,255,255;
--secondary-accent-foreground-color-hover-rgb:204,204,204;
--page-background-color:#ffffff;
--page-background-color-hover:#cccccc;
--page-fadeout-color:rgba(255,255,255,0.225);
--page-gradient-color:#ffffff;
--page-gradient-color-hover:#cccccc;
--page-foreground-color:#000000;
--page-foreground-color-hover:#333333;
--page-secondary-background-color:#dfdfdf;
--page-secondary-background-color-hover:#acacac;
--page-secondary-fadeout-color:rgba(223,223,223,0.225);
--page-secondary-gradient-color:#dfdfdf;
--page-secondary-gradient-color-hover:#acacac;
--page-background-color-rgb:255,255,255;
--page-foreground-color-rgb:0,0,0;
--page-foreground-color-hover-rgb:51,51,51;
--page-secondary-background-color-rgb:223,223,223;
--page-border-background-color:#dce6f0;
--page-border-background-color-hover:#95b3d1;
--page-border-fadeout-color:rgba(220,230,240,0.225);
--page-border-gradient-color:#dce6f0;
--page-border-gradient-color-hover:#95b3d1;
--page-border-foreground-color:#000000;
--page-border-foreground-color-inverted:#000000;
--page-border-foreground-color-hover:#333333;
--page-border-background-color-rgb:220,230,240;
--page-border-foreground-color-rgb:0,0,0;
--page-border-foreground-color-hover-rgb:51,51,51;
--page-text-background-color:#606c71;
--page-text-background-color-hover:#939fa4;
--page-text-fadeout-color:rgba(96,108,113,0.225);
--page-text-gradient-color:#939fa4;
--page-text-gradient-color-hover:#606c71;
--page-text-foreground-color:#ffffff;
--page-text-foreground-color-hover:#CCCCCC;
--page-text-foreground-color-inverted:#000000;
--page-text-background-color-rgb:96,108,113;
--page-text-background-color-hover-rgb:147,159,164;
--page-text-foreground-color-rgb:255,255,255;
--page-text-foreground-color-hover-rgb:204,204,204;
--accent-background-color:#159957;
--accent-background-color-hover:#093f24;
--accent-fadeout-color:rgba(21,153,87,0.225);
--accent-gradient-color:#159957;
--accent-gradient-color-hover:#093f24;
--accent-foreground-color:#000000;
--accent-foreground-color-hover:#333333;
--accent-foreground-color-inverted:#ffffff;
--accent-background-color-rgb:21,153,87;
--accent-foreground-color-rgb:0,0,0;
--accent-foreground-color-hover-rgb:51,51,51;
--caret-background-color:#155799;
--caret-background-color-hover:#318ae3;
--caret-gradient-color:#318ae3;
--caret-gradient-color-hover:#155799;
--caret-foreground-color:#ffffff;
--caret-foreground-color-hover:#CCCCCC;
--caret-foreground-color-inverted:#000000;
--caret-background-color-rgb:21,87,153;
--caret-foreground-color-rgb:255,255,255;
--caret-foreground-color-hover-rgb:204,204,204;
--alert-background-color:#a60000;
--alert-background-color-hover:#400000;
--alert-fadeout-color:rgba(166,0,0,0.225);
--alert-gradient-color:#a60000;
--alert-gradient-color-hover:#400000;
--alert-foreground-color:#ffffff;
--alert-foreground-color-hover:#CCCCCC;
--alert-foreground-color-inverted:#ffffff;
--alert-background-color-rgb:166,0,0;
--alert-foreground-color-rgb:255,255,255;
--alert-foreground-color-hover-rgb:204,204,204;
--warning-background-color:#a66900;
--warning-background-color-hover:#402800;
--warning-fadeout-color:rgba(166,105,0,0.225);
--warning-gradient-color:#a66900;
--warning-gradient-color-hover:#402800;
--warning-foreground-color:#000000;
--warning-foreground-color-hover:#333333;
--warning-foreground-color-inverted:#ffffff;
--warning-background-color-rgb:166,105,0;
--warning-foreground-color-rgb:0,0,0;
--warning-foreground-color-hover-rgb:51,51,51;
--success-background-color:#00a653;
--success-background-color-hover:#004020;
--success-fadeout-color:rgba(0,166,83,0.225);
--success-gradient-color:#00a653;
--success-gradient-color-hover:#004020;
--success-foreground-color:#000000;
--success-foreground-color-hover:#333333;
--success-foreground-color-inverted:#ffffff;
--success-background-color-rgb:0,166,83;
--success-foreground-color-rgb:0,0,0;
--success-foreground-color-hover-rgb:51,51,51;
--message-background-color:#535353;
--message-background-color-hover:#202020;
--message-fadeout-color:rgba(83,83,83,0.225);
--message-gradient-color:#535353;
--message-gradient-color-hover:#202020;
--message-foreground-color:#ffffff;
--message-foreground-color-hover:#CCCCCC;
--message-foreground-color-inverted:#ffffff;
--message-background-color-rgb:83,83,83;
--message-foreground-color-rgb:255,255,255;
--message-foreground-color-hover-rgb:204,204,204;
--custom-secondary-font:"";
--border-radius:3px;
--logo-filter:opacity(1);
--logo-filter-hover:opacity(0.8);
--logo-filter-duration:300ms;
--logo-filter-delay:0ms;
}
