/* CSS */
:root {
--body-background-image:url("");
--body-background-image-opacity:100%;
--body-background-color:#ffffff;
--body-background-color-hover:#cccccc;
--body-fadeout-color:rgba(255,255,255,0.225);
--body-gradient-color:#ffffff;
--body-gradient-color-hover:#cccccc;
--body-foreground-color:#000000;
--body-foreground-color-hover:#333333;
--body-foreground-color-inverted:#000000;
--body-background-color-rgb:255,255,255;
--body-background-color-hover-rgb:204,204,204;
--body-foreground-color-rgb:0,0,0;
--body-foreground-color-hover-rgb:51,51,51;
--superbar-text-background-color:#606c71;
--superbar-text-background-color-hover:#939fa4;
--superbar-text-fadeout-color:rgba(96,108,113,0.225);
--superbar-text-gradient-color:#939fa4;
--superbar-text-gradient-color-hover:#606c71;
--superbar-text-foreground-color:#ffffff;
--superbar-text-foreground-color-hover:#CCCCCC;
--superbar-text-background-color-rgb:96,108,113;
--superbar-text-background-color-hover-rgb:147,159,164;
--superbar-text-foreground-color-rgb:255,255,255;
--superbar-text-foreground-color-hover-rgb:204,204,204;
--body-background-mode:standard;
--body-background-horizontal-alignment:center;
--body-background-vertical-alignment:center;
--body-background-size:cover;
--body-background-no-horizontal-tiling:false;
--body-background-no-vertical-tiling:false;
--secondary-accent-background-color:#1e6bb8;
--secondary-accent-background-color-hover:#103860;
--secondary-accent-fadeout-color:rgba(30,107,184,0.225);
--secondary-accent-gradient-color:#1e6bb8;
--secondary-accent-gradient-color-hover:#103860;
--secondary-accent-foreground-color:#ffffff;
--secondary-accent-foreground-color-hover:#CCCCCC;
--secondary-accent-foreground-color-inverted:#ffffff;
--secondary-accent-background-color-rgb:30,107,184;
--secondary-accent-background-color-hover-rgb:16,56,96;
--secondary-accent-foreground-color-rgb:255,255,255;
--secondary-accent-foreground-color-hover-rgb:204,204,204;
--page-background-color:#ffffff;
--page-background-color-hover:#cccccc;
--page-fadeout-color:rgba(255,255,255,0.225);
--page-gradient-color:#ffffff;
--page-gradient-color-hover:#cccccc;
--page-foreground-color:#000000;
--page-foreground-color-hover:#333333;
--page-secondary-background-color:#dfdfdf;
--page-secondary-background-color-hover:#acacac;
--page-secondary-fadeout-color:rgba(223,223,223,0.225);
--page-secondary-gradient-color:#dfdfdf;
--page-secondary-gradient-color-hover:#acacac;
--page-background-color-rgb:255,255,255;
--page-background-color-hover-rgb:204,204,204;
--page-foreground-color-rgb:0,0,0;
--page-foreground-color-hover-rgb:51,51,51;
--page-secondary-background-color-rgb:223,223,223;
--page-secondary-background-color-hover-rgb:172,172,172;
--page-border-background-color:#dce6f0;
--page-border-background-color-hover:#95b3d1;
--page-border-fadeout-color:rgba(220,230,240,0.225);
--page-border-gradient-color:#dce6f0;
--page-border-gradient-color-hover:#95b3d1;
--page-border-foreground-color:#000000;
--page-border-foreground-color-inverted:#000000;
--page-border-foreground-color-hover:#333333;
--page-border-background-color-rgb:220,230,240;
--page-border-background-color-hover-rgb:149,179,209;
--page-border-foreground-color-rgb:0,0,0;
--page-border-foreground-color-hover-rgb:51,51,51;
--page-text-background-color:#606c71;
--page-text-background-color-hover:#939fa4;
--page-text-fadeout-color:rgba(96,108,113,0.225);
--page-text-gradient-color:#939fa4;
--page-text-gradient-color-hover:#606c71;
--page-text-foreground-color:#ffffff;
--page-text-foreground-color-hover:#CCCCCC;
--page-text-foreground-color-inverted:#000000;
--page-text-background-color-rgb:96,108,113;
--page-text-background-color-hover-rgb:147,159,164;
--page-text-foreground-color-rgb:255,255,255;
--page-text-foreground-color-hover-rgb:204,204,204;
--accent-background-color:#159957;
--accent-background-color-hover:#093f24;
--accent-fadeout-color:rgba(21,153,87,0.225);
--accent-gradient-color:#159957;
--accent-gradient-color-hover:#093f24;
--accent-foreground-color:#000000;
--accent-foreground-color-hover:#333333;
--accent-foreground-color-inverted:#ffffff;
--accent-background-color-rgb:21,153,87;
--accent-background-color-hover-rgb:9,63,36;
--accent-foreground-color-rgb:0,0,0;
--accent-foreground-color-hover-rgb:51,51,51;
--caret-background-color:#155799;
--caret-background-color-hover:#318ae3;
--caret-fadeout-color:;
--caret-gradient-color:#318ae3;
--caret-gradient-color-hover:#155799;
--caret-foreground-color:#ffffff;
--caret-foreground-color-hover:#CCCCCC;
--caret-foreground-color-inverted:#000000;
--caret-background-color-rgb:21,87,153;
--caret-background-color-hover-rgb:49,138,227;
--caret-foreground-color-rgb:255,255,255;
--caret-foreground-color-hover-rgb:204,204,204;
--alert-background-color:#a60000;
--alert-background-color-hover:#400000;
--alert-fadeout-color:rgba(166,0,0,0.225);
--alert-gradient-color:#a60000;
--alert-gradient-color-hover:#400000;
--alert-foreground-color:#ffffff;
--alert-foreground-color-hover:#CCCCCC;
--alert-foreground-color-inverted:#ffffff;
--alert-background-color-rgb:166,0,0;
--alert-background-color-hover-rgb:64,0,0;
--alert-foreground-color-rgb:255,255,255;
--alert-foreground-color-hover-rgb:204,204,204;
--warning-background-color:#a66900;
--warning-background-color-hover:#402800;
--warning-fadeout-color:rgba(166,105,0,0.225);
--warning-gradient-color:#a66900;
--warning-gradient-color-hover:#402800;
--warning-foreground-color:#000000;
--warning-foreground-color-hover:#333333;
--warning-foreground-color-inverted:#ffffff;
--warning-background-color-rgb:166,105,0;
--warning-background-color-hover-rgb:64,40,0;
--warning-foreground-color-rgb:0,0,0;
--warning-foreground-color-hover-rgb:51,51,51;
--success-background-color:#00a653;
--success-background-color-hover:#004020;
--success-fadeout-color:rgba(0,166,83,0.225);
--success-gradient-color:#00a653;
--success-gradient-color-hover:#004020;
--success-foreground-color:#000000;
--success-foreground-color-hover:#333333;
--success-foreground-color-inverted:#ffffff;
--success-background-color-rgb:0,166,83;
--success-background-color-hover-rgb:0,64,32;
--success-foreground-color-rgb:0,0,0;
--success-foreground-color-hover-rgb:51,51,51;
--message-background-color:#535353;
--message-background-color-hover:#202020;
--message-fadeout-color:rgba(83,83,83,0.225);
--message-gradient-color:#535353;
--message-gradient-color-hover:#202020;
--message-foreground-color:#ffffff;
--message-foreground-color-hover:#CCCCCC;
--message-foreground-color-inverted:#ffffff;
--message-background-color-rgb:83,83,83;
--message-background-color-hover-rgb:32,32,32;
--message-foreground-color-rgb:255,255,255;
--message-foreground-color-hover-rgb:204,204,204;
--custom-secondary-font:"";
--border-radius:3px;
--logo-filter:opacity(1);
--logo-filter-hover:opacity(0.8);
--logo-filter-duration:300ms;
--logo-filter-delay:0ms;
}


body {
	--dropdown-opacity:1;
	--fadeout-opacity:0.225;
	--global-nav-size:50px;
	--minibar-size:50px;
  --cpe-body-cursor:auto;
  --cpe-auto-cursor: default;
  --cpe-blocked-cursor:not-allowed;
  --cpe-help-cursor:help;
  --cpe-text-cursor:text;
  --cpe-hand-cursor:pointer;
}

:root {
/* Fonts */
--main-fonts:"Noto Sans", "Inter"; /* Empty but other languages will depend on it */
--foreign-fonts:"Didact Gothic", "M PLUS 1p",  "Nanum Gothic", "Prompt", "Cairo", "Ramabhadra", "Catamaran", "Noto Sans", "Noto Sans SC", "Noto Sans TC", "Noto Sans HK", "Hind Siliguri", "Baloo Tamma 2", "Kantumruy", "Manjari", "Padauk", "Baloo Bhaina 2", "Alef";
--font-family:var(--custom-font), var(--main-fonts), var(--foreign-fonts), sans-serif;
--secondary-foreign-fonts:"M PLUS Rounded 1c", "Jua", "Mitr", "NTR", "Pavanam", "Mukta", "Noto Sans SC", "Noto Sans TC", "Noto Sans HK", "Baloo Da 2", "Baloo Tamma 2", "Battambang", "Baloo Chettan 2", "Padauk", "Baloo Bhaina 2", "Rubik";
--main-secondary-fonts:"Rubik", "Helvetica Neue", "Helvetica", "Arial"; /* Empty but other languages will depend on it */
--secondary-font:var(--custom-secondary-font), var(--main-secondary-fonts), var(--secondary-foreign-fonts);
}
		  
@media only screen and (min-width:750px) {
	container {
		margin-left:var(--global-nav-size)!important;
	}
	.main-content {
		margin-top:0px!important;
	}
}

.main-content {
	padding-top:0!important;
}

.main-content .evelution-superbar .wordmark {
	margin-top:10px;
}

/* Taken from CPE.css cpe-icon */
/* Icons */
.material-icons,
.cpe-button[has-icon]:before {
	--icon-scale:1;
	--icon-size:1;
  font-family: 'Material Icons Round'!important;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  cursor:inherit;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
  font-size:calc(24px * var(--icon-size));
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  /* @noflip */
  direction: ltr;
  pointer-events:none;
  vertical-align:top;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.cpe-icon,
.wds-icon,
.cpe-button[has-icon]:before {
	--icon-scale:1;
	--icon-size:1;
    --icon-rotate:0deg;
  fill:currentColor;
  width:calc(24px * var(--icon-size))!important;
  height:calc(24px * var(--icon-size))!important;
  min-width:calc(24px * var(--icon-size))!important;
  min-height:calc(24px * var(--icon-size))!important;
  font-size:calc(24px * var(--icon-size))!important;
  transform:scale(var(--icon-scale)) rotate(var(--icon-rotate));
}

.cpe-button[has-icon]:before {
	margin-right:6px;
	--icon-size:0.7;
}


.cpe-avatar {
width:calc(24px * var(--icon-size, 1))!important;
height:calc(24px * var(--icon-size, 1))!important;
transform:none;
border:calc(2px * var(--icon-size, 1)) solid currentcolor;
-webkit-box-decoration-break:clone;
box-decoration-break:clone;
border-radius:50%;
  image-rendering:initial;                  /* CSS4 Proposed  */
  box-sizing:border-box;
}




.cpe-icon.cpe-icon-large {
	--icon-scale:1.6;
}

.cpe-icon.cpe-icon-small,
.wds-icon.wds-icon-small {
	--icon-size:0.7;
}

.cpe-icon.cpe-icon-tiny,
.wds-icon.wds-icon-tiny {
	--icon-size:0.5;
}


/* Taken from CPE.css Luna Color */
/* Misc Colors (Complement with Luna theming) */
body {
/* Base Accent */
--page-accent-background-color:rgba(var(--page-secondary-background-color-rgb),0.3);
--page-accent-box-shadow:inset 0 0 0 100vh var(--page-accent-background-color);
}


/* Luna Theming Color Sets */
body  {
	--luna-background-color:var(--page-secondary-background-color);
	--luna-background-color-rgb:var(--page-secondary-background-color-rgb);
	--luna-background-color-hover:var(--page-secondary-background-color-hover);
	--luna-text-background-color:var(--page-text-background-color);
	--luna-text-background-color-hover:var(--page-text-background-color-hover);
	--luna-text-background-color-rgb:var(--page-text-background-color-rgb);
	--luna-text-background-color-hover-rgb:var(--page-text-background-color-hover-rgb);	
	--luna-foreground-color:var(--page-foreground-color);
	--luna-foreground-color-inverted:var(--page-foreground-color);
	--luna-foreground-color-hover:var(--page-foreground-color-hover);
	--luna-foreground-color-rgb:var(--page-foreground-color-rgb);
	--luna-foreground-color-hover-rgb:var(--page-foreground-color-hover-rgb);
	--luna-link-color:var(--secondary-accent-background-color);
	--luna-link-color-rgb:var(--secondary-accent-background-color-rgb);
	--luna-contrast-selected-background-color:var(--accent-background-color);
	--luna-contrast-selected-background-color-rgb:var(--accent-background-color-rgb);
	--luna-contrast-selected-foreground-color:var(--accent-foreground-color);
}

/* Taken from Evelution.css evelution-sidebar */
.evelution-sidebar {
	--global-nav-color:var(--luna-background-color);
	--global-nav-text-color:var(--luna-text-background-color);
	--global-nav-link-color-hover:var(--luna-text-background-color-hover);
	--global-nav-link-background-hover:var(--luna-text-background-color-rgb);
	--global-nav-link-color-active:var(--luna-link-color);
	--global-nav-link-background-active:var(--luna-link-color-rgb);
	--global-nav-link-opacity:0.2;
	--global-nav-opacity:1;
	display:flex;
	flex-direction:column;
	font-family:"Noto Sans", var(--font-family);
	background-color:var(--global-nav-color);
	color:var(--global-nav-text-color);
	box-shadow: 0 0 3px var(--page-text-background-color), 0 0 3px var(--page-background-color), var(--page-accent-box-shadow);
	height:100%;
	width:var(--global-nav-size);
	position:fixed;
	z-index:100;
	top:0;
}

.evelution-sidebar #footer-places.cpe-list {
	max-height:152px;
}

.cpe-list li + li.empty {
	display:none;
}

.serif.main .evelution-sidebar { /* Deprecated */
	font-family:"Source Serif Pro", var(--foreign-fonts), cursive;
}

.evelution-sidebar .cpe-dropdown {
	vertical-align:baseline;
}


.evelution-sidebar #pt-anonuserpage {
	display:none;
}

.evelution-sidebar .upper-links {
	flex:1;
	display:flex;
	flex-direction:column;
}

.evelution-sidebar .bottom-links {
	display:flex;
	flex-direction:column;
}


.evelution-sidebar .variants-menu.cpe-dropdown[cpe-orient="land"] .cpe-dropdown__content,
.evelution-sidebar .languages-menu.cpe-dropdown[cpe-orient="land"] .cpe-dropdown__content {
	top:-60%;
}

.evelution-sidebar .languages-menu.cpe-dropdown[cpe-orient="land"] .cpe-dropdown__content .cpe-list,
.evelution-sidebar .variants-menu.cpe-dropdown[cpe-orient="land"] .cpe-dropdown__content .cpe-list {
	max-height:160px;
}



	.evelution-sidebar .link {
		transition:background-color 400ms ease, color 400ms ease, text-shadow 400ms ease, opacity 300ms ease, padding 300ms ease, max-width 300ms ease, font-size 300ms ease;
		height:var(--global-nav-size);
		width:var(--global-nav-size);
		color:inherit;
		text-decoration:none!important;
		font-size:12px;
		white-space:nowrap;
		position:relative;
		display:flex;
		align-items:center;
		justify-content:center;
		cursor:var(--cpe-hand-cursor);
		border-radius:var(--border-radius);
		border:1px solid transparent;
	}


	.evelution-sidebar .link .cpe-icon {
		--icon-size:1.1;
	}

	.evelution-sidebar .link .cpe-icon.cpe-icon-small {
		--icon-size:0.8;
	}


	.evelution-sidebar .link .cpe-icon.cpe-icon-tiny {
		--icon-size:0.6;
	}


	.evelution-sidebar .link:hover {
		color:var(--global-nav-link-color-hover);
		background-color:rgba(var(--global-nav-link-background-hover), var(--global-nav-link-opacity));
		border-color:rgba(var(--global-nav-link-background-hover), calc(var(--global-nav-link-opacity) * 0.5));
	}

	.evelution-sidebar .link:active, 
	.evelution-sidebar .link:focus, 
	.evelution-sidebar .link.active, 
	.evelution-sidebar .cpe-dropdown:focus > .link,
	.evelution-sidebar .cpe-dropdown:focus-within > .link {
		background-color:rgba(var(--global-nav-link-background-active), calc(var(--global-nav-link-opacity) * 2));
		border-color:rgba(var(--global-nav-link-background-active), var(--global-nav-link-opacity));
		color:var(--global-nav-link-color-active);
	}

	.evelution-navigation {
	--navbar-box-shadow:0 0 0 100vh rgba(var(--page-secondary-background-color-rgb),0.75) inset;
	box-shadow: 0 0 3px var(--page-text-background-color), 0 0 3px var(--page-secondary-background-color), var(--navbar-box-shadow);
	}

	.evelution-navigation .explore-menu .link .cpe-icon {
		--icon-rotate:0deg;
	}

	@media only screen and (max-width:511px) { /* S+M Mobile only */
		.evelution-navigation .desktop-only {
			display:none;
		}
	}
	@media only screen and (min-width:512px) { /* L Mobile + Desktop only */
		.evelution-navigation .mobile-only {
			display:none;
		}
	}
	
	@media only screen and (max-width:749px) { /* Mobile only */

		.evelution-navigation .link .cpe-icon {
			--icon-size:0.9;
		}

		.evelution-navigation .link .cpe-icon.cpe-icon-small {
			--icon-size:0.6;
		}


		.evelution-navigation .link .cpe-icon.cpe-icon-tiny {
			--icon-size:0.4;
		}

		.evelution-navigation .link {
			width:calc(var(--global-nav-size) * 0.78);
		}


		.evelution-navigation .explore-menu .link .cpe-icon {
			--icon-rotate:90deg!important;
		}
		.evelution-navigation {
			width:100%;
			position:-webkit-sticky;
			position:sticky;
			height:var(--global-nav-size);
			flex-direction:row;
		}
		.evelution-navigation .upper-links,
		.evelution-navigation .bottom-links {
			flex-direction:row;
		}

	.evelution-sidebar .user-profile .link[cpe-tooltip]:after {
		right:2px;
	}


	.evelution-sidebar .link.company[cpe-tooltip]:after {
		left:2px;
	}

	.evelution-sidebar.inside-documentation .bottom-links .link:last-child[cpe-tooltip]:after {
		right:2px;
	}
		
		.evelution-navigation .search .cpe-dropdown__content {
			left: 0;
			right: 0;
			transform: none;
			width: 100vw;
		}

		.evelution-navigation .cpe-dropdown.search {
			position:static;
		}

		.evelution-navigation .cpe-dropdown.search::after {
			display:none;
		}
		
		.evelution-navigation .search .pageheader-search .cpe-input {
			width: calc(100% - 50px);
		}

		.evelution-navigation .cpe-dropdown__content .cpe-list {
			max-height:150px;
		}

	}
	
	@media only screen and (min-width:750px) { /* Desktop only */
		.evelution-sidebar .search.cpe-dropdown .cpe-dropdown__content {
			top:-25%;
		}

		@media only screen and (max-height:384px) { /* Extra Small Icons */
			body {
				--global-nav-size:28px;
			}

			.evelution-navigation .link .cpe-icon {
				--icon-size:0.6;
			}

			.evelution-navigation .link .cpe-icon.cpe-icon-small {
				--icon-size:0.4;
			}


			.evelution-navigation .link .cpe-icon.cpe-icon-tiny {
				--icon-size:0.3;
			}

			.evelution-navigation .search.cpe-dropdown .cpe-dropdown__content {
				top:-80%;
			}

			.evelution-navigation .languages-menu.cpe-dropdown .cpe-dropdown__content .cpe-list,
			.evelution-navigation .variants-menu.cpe-dropdown .cpe-dropdown__content .cpe-list {
				max-height:90px;
			}


		}

		@media only screen and (min-height:385px) and (max-height:479px) { /* Small Icons */
			body {
				--global-nav-size:32px;
			}

			.evelution-navigation .link .cpe-icon {
				--icon-size:0.7;
			}

			.evelution-navigation .link .cpe-icon.cpe-icon-small {
				--icon-size:0.5;
			}


			.evelution-navigation .link .cpe-icon.cpe-icon-tiny {
				--icon-size:0.4;
			}

			.evelution-navigation .search.cpe-dropdown .cpe-dropdown__content {
				top:-65%;
			}

			.evelution-navigation .languages-menu.cpe-dropdown] .cpe-dropdown__content .cpe-list,
			.evelution-navigation .variants-menu.cpe-dropdown .cpe-dropdown__content .cpe-list {
				max-height:100px;
			}


		}

		@media only screen and (min-height:480px) and (max-height:599px) { /* Medium Icons */
			body {
				--global-nav-size:40px;
			}
			.evelution-navigation .link .cpe-icon {
				--icon-size:0.9;
			}

			.evelution-navigation .link .cpe-icon.cpe-icon-small {
				--icon-size:0.7;
			}


			.evelution-navigation .link .cpe-icon.cpe-icon-tiny {
				--icon-size:0.5;
			}

			.evelution-navigation .search.cpe-dropdown .cpe-dropdown__content {
				top:-40%;
			}

			.evelution-navigation .languages-menu.cpe-dropdown .cpe-dropdown__content .cpe-list,
			.evelution-navigation .variants-menu.cpe-dropdown .cpe-dropdown__content .cpe-list {
				max-height:125px;
			}


		}
}

/* Taken from Evelution.css Evelution Superbar & Minibar */
.top-gap {
margin-bottom:-6px;
}

/* Mobile Header */
	.evelution-superbar__fone {
		display:flex;
		justify-content:center;
		min-height:60px;
		flex-direction:column;
	}

	.evelution-superbar__fone section {
		width:100%;
		display:flex;
		padding:5px 0 0 5px;
		justify-content:space-around;
		align-items:stretch;
	}

	.evelution-superbar__fone .title {
		justify-content:center;
		line-height:1.4;
		font-size:22px;
		font-weight:800;
		align-items:center;
		font-family:var(--secondary-font), sans-serif;
		height:50px;
	}

	.evelution-superbar__fone .title a {
		text-decoration:none;
		color:inherit;
		transition:color 400ms ease;
		overflow:hidden;
		text-overflow:ellipsis;
		width:100%;
		height:inherit;
		display:inline-flex;
		align-items:center;
		justify-content:center;
	}

	.evelution-superbar__fone .title .title-logo {
		-webkit-mask-position:center;
		mask-position:center; 
	}


	.evelution-superbar__fone .title a:hover {
		color:var(--header-foreground-color-hover);
	}

	.evelution-superbar__fone .title a:active,
	.evelution-superbar__fone .title a:focus {
		color:rgba(var(--header-foreground-color-hover-rgb), 0.8);
	}


	.evelution-superbar__fone .counters {
		font-size:14px;
		flex-wrap:wrap;
		flex:1;
		padding-right:5px;
		flex-direction:column;
	}

	.evelution-superbar__fone .counter {
		white-space:nowrap;
		align-self:flex-start;
	}

	.evelution-superbar__fone .counter .cpe-icon {
		display:none;
		--icon-size:0.7;
	}

	.evelution-superbar__fone .counter big {
		font-weight:bolder;
		font-size:120%;
	}

	.evelution-superbar__fone .link.large {
		display:none;
	}

	.evelution-superbar__fone .buttons {
		padding:0;
		display:block!important;
	}

	.evelution-superbar__fone .buttons nav {
		flex:1;
		width:100%;
		display:flex;
	}

.evelution-superbar__fone .buttons .link, .evelution-superbar__fone .buttons .cpe-dropdown .link {
		flex:1 1 auto;
		display:inline-flex;
		align-items:center;
		justify-content:center;
		padding: 0 4px;
		height:50px;
	}

.evelution-superbar__fone .cpe-dropdown {
	flex:1 1 auto;
	display:inline-flex!important;
}

/* Desktop Sticky Header */
	.evelution-minibar {
		--minibar-opacity:var(--dropdown-opacity);
		--tr-scale:100%;
		background-color:rgba(var(--luna-background-color-rgb), var(--minibar-opacity));
		color:var(--luna-text-background-color);
		position:-webkit-sticky;
		position:sticky;
		top:calc(-4px - var(--minibar-size));
		z-index:99;
		padding-top:1px;
		height:var(--minibar-size);
		display:flex;
		transition:transform 400ms ease, top 400ms ease, box-shadow 400ms ease, background-color 400ms ease;
		width:100%;
		max-width:var(--max-width);
		box-shadow: 0 0 3px var(--page-text-background-color), 0 0 3px var(--page-background-color), var(--page-accent-box-shadow);
		transform:scaleY(var(--tr-scale));
		align-items:center;
		margin-top:calc(-4px - var(--minibar-size));
		box-sizing:content-box;
		transform-origin:top;
		-webkit-backdrop-filter:var(--backdrop-filter);
		backdrop-filter:var(--backdrop-filter);
	}

	main[nav="true"] .evelution-minibar.col-nav,
	main[nav="false"] .evelution-minibar.full-nav  {
		--tr-scale:0;
	}


	.headroom--not-top .evelution-minibar,
	.single-header .evelution-minibar {
		top:-1px;
	}
	

	.evelution-minibar.col-nav {
		width:auto;
		margin-top:calc(0px - var(--minibar-size));
		left:100%;
		align-self:flex-end;
		z-index:98;
	}


	.evelution-minibar .cpe-dropdown__content {
		--dropdown-opacity:0.8;
	}

	.constructor .evelution-minibar {
		display:none;
	}

	.options .evelution-minibar,
	.editor .evelution-minibar {
		transform:translateY(0%);
		position:relative;
		top:-20px;
		margin-top:0;
		padding-top:0;
	}

	
	.evelution-minibar .wordmark {
		vertical-align:middle;
		height:55px;
		float:left;
		margin:0 0 0 6px;
		z-index:25;
		position:relative;
		display:flex;
	}
		
	.evelution-minibar .wordmark img {
		image-rendering:initial;                  /* CSS4 Proposed  */
		height:80%;
		vertical-align:middle;
		transition-property:filter;
		transition-delay:var(--logo-filter-delay,0);
		transition-duration:var(--logo-filter-duration,300ms) ;
		filter:var(--logo-filter,none);
		align-self:center;
	}

	.evelution-minibar .wordmark:hover img {
		filter:var(--logo-filter-hover,var(--logo-filter, none));
	}


	.evelution-minibar .title {
		flex:1;
		line-height:1.4;
		font-size:23px;
		font-weight:700;
		height:var(--minibar-size);
		padding:0 6px;
		font-family:var(--secondary-font), sans-serif;
		overflow:hidden;
		display:flex;
	}

	.evelution-minibar .title .title-logo {
		font-size:24px;
	}

	.evelution-minibar .title a {
		text-decoration:none;
		color:inherit;
		transition:color 400ms ease;
		overflow:hidden;
		text-overflow:ellipsis;
		align-self:center;
		height:inherit;
		display:inline-flex;
		align-items:center;
		width:100%;
	}

	.evelution-minibar .title a:hover {
		color:var(--luna-text-background-color-hover);
	}

	.evelution-minibar .title a:active,
	.evelution-minibar .title a:focus {
		color:rgba(var(--luna-text-background-color-hover-rgb), 0.8);
	}


	.evelution-minibar .counters {
		height:var(--minibar-size);
		padding:0 7.5px;
		font-size:15px;
		font-weight:500;
		text-align:left;
		display:flex;
		flex-direction:column;
		justify-content:center;
	}

	
	.evelution-minibar .counter {
		white-space:nowrap;
	}



	.evelution-minibar .counter .cpe-icon {
		display:none;
		--icon-size:0.7;
	}


	.evelution-minibar .counter big {
		font-weight:bolder;
		font-size:120%;
	}


.evelution-minibar .cpe-dropdown.small {
	display:none;
}

	.evelution-minibar .link {
		transition:color 400ms ease, background-color 300ms linear, background-image 300ms linear, transform 300ms linear, box-shadow 50ms linear;
		padding: 0 7px;
		height:inherit;
		color:inherit;
		text-decoration:none!important;
		font-size:14px;
		border:1px solid transparent;
		box-sizing:border-box;
		border-radius:var(--border-radius);
		margin:0 0 0 -1px;
		display:flex;
		align-items:center;
	}
	.evelution-minibar .cpe-dropdown {
		height:inherit;
		display:inline-block;
	}


	.evelution-minibar .link:hover, 
	.evelution-minibar .link:focus, 
	.evelution-minibar .cpe-dropdown:focus > .link, 
	.evelution-minibar .cpe-dropdown:focus-within > .link, 
	.evelution-minibar .link.active  {
		background-color:rgba(var(--luna-text-background-color-rgb),0.2);
		border-color:rgba(var(--luna-text-background-color-rgb),0.1);
		color:var(--luna-text-background-color-hover);
	}

	.evelution-minibar .link:hover, .evelution-minibar .link.active  {
/*		box-shadow:0 0 2px 0.5px var(--minibar-background-color-hover) inset; */
	}


	.evelution-minibar .link:active, 
	.evelution-minibar .link:focus, 
	.evelution-minibar .cpe-dropdown:focus  .link, 
	.evelution-minibar .cpe-dropdown:focus-within  .link, 
	.evelution-minibar .link.active  {
		background-color:rgba(var(--luna-link-color-rgb),0.4);
		border-color:rgba(var(--luna-link-color-rgb),0.2);
		color:var(--luna-link-color);

	}

	
	.evelution-minibar .link.active {		
	-webkit-animation: none;
		     -o-animation: none;
		        animation:none;    
		cursor:inherit;
		font-weight:bolder;
	}


@media only screen and (min-width:1440px) {
	.evelution-minibar .title {
		font-size:26px;
	}

	.evelution-minibar .counters {
		font-size:16px;
		padding:0 8px;
	}

}

@media only screen and (max-width:1199px) {
	.evelution-minibar .title {
		font-size:20px;
	}
	
	.evelution-minibar .link.large {
		display:none;
	}

	.evelution-minibar .cpe-dropdown.small {
		display:inline-block;
	}
	
	.evelution-minibar .counters {
		padding:0 7px;
		font-size:14px;
	}

}

@media only screen and (max-width:959px) {
	.evelution-minibar .title {
		font-size:17px;
	}
	

	.evelution-minibar .counter .cpe-icon {
		display:inline-block;
		vertical-align:middle;
	}

	.evelution-minibar .counter .text {
		display:none;
	}

	.evelution-minibar .counter big {
		vertical-align:middle;
	}

	.evelution-minibar .counters {
		padding:0 6.5px;
		font-size:13px;
	}


}

@media only screen and (max-width:749px) {
	.evelution-minibar {
		display:none;
	}
}


/* Desktop Header */
	.main-content .evelution-superbar h1 {
		color:inherit;
	}
	.evelution-superbar {
		--header-foreground-color:var(--secondary-accent-background-color);
		--header-foreground-color-hover:var(--secondary-accent-background-color-hover);
		--header-foreground-color-rgb:var(--secondary-accent-background-color-rgb);
		--header-foreground-color-hover-rgb:var(--secondary-accent-background-color-hover-rgb);
		margin-bottom:0;
		color:var(--header-foreground-color);
		z-index:20;
		position:relative;
		background-size:contain;
		background-position:right;
		background-repeat:no-repeat;
		border-radius:var(--border-radius);
		align-items:flex-end;
		display:flex;
		min-height:149px;
	}
	
		
	.page-wrapper .evelution-superbar {
		border-bottom-left-radius:0;
		border-bottom-right-radius:0;
	}
	

	.evelution-superbar-wrapper {
		width:100%;
		display:table;
		z-index:20;
		position:relative;
	}


	.evelution-superbar .cpe-dropdown {
		display:table-cell;
	}


	.evelution-superbar__top {
		min-height:50px;
		position:relative;
		z-index:20;
		display:flex;
		height:93px;
		align-items:flex-end;
		padding-left:10px;
	}

	.evelution-superbar__top > .table {
		flex:1;
		display:flex;
	}

	.evelution-superbar__top > .table > .tr {
		display:inline-flex;
		align-items:flex-end;
		justify-content:center;
		width:100%;
	}
	

	.evelution-superbar .wordmark {
		vertical-align:middle;
		height:118px;
		float:left;
		margin:10px 0 0 10px;
		z-index:25;
		position:relative;
		display:flex;
		align-items:flex-end;
	}


	.evelution-superbar .wordmark img {
		image-rendering: initial;
		vertical-align: middle;
		display: table-cell;
		transition-property: filter;
		transition-delay: var(--logo-filter-delay,0);
		transition-duration: var(--logo-filter-duration,300ms);
		filter: var(--logo-filter,none);
		height: 100px;
		object-position: bottom;
		width: auto;
		max-width: 250px;
		object-fit: contain;
	}

	.evelution-superbar .wordmark:hover img {
		filter:var(--logo-filter-hover,var(--logo-filter, none));
	}

	.evelution-superbar__top .counters {
		height:50px;
		padding:0 7.5px;
		font-size:15px;
		font-weight:500;
		text-align:left;
	}

	
	.evelution-superbar__top .counter {
		white-space:nowrap;
	}


	.evelution-superbar__top .counter .cpe-icon {
		display:none;
		--icon-size:0.7;
	}
	
	.evelution-superbar__top .counter big {
		font-weight:bolder;
		font-size:120%;
	}

	
.evelution-superbar .cpe-dropdown.small {
	display:none;
}

	.evelution-superbar .link {
		cursor:var(--cpe-hand-cursor);
		transition:color 400ms ease, background-color 300ms linear, background-image 300ms linear, transform 300ms linear, box-shadow 50ms linear;
		padding: 0 7px;
		height:inherit;
		color:inherit;
		text-decoration:none!important;
		font-size:18px;
		border:1px solid transparent;
		box-sizing:border-box;
		border-radius:var(--border-radius);
	}

	.evelution-superbar__top .link {
		height:50px;
		margin:0 0 0 -1px;
		align-items: center;
		justify-content: center;
		vertical-align: middle;
		display: inline-flex;
	}
	
	.evelution-superbar__top .cpe-dropdown {
		height:inherit;
		display:inline-block;
	}
	
	.evelution-superbar__bottom .cpe-dropdown {
		height:35px;
		width:100%;
	}
	


	.evelution-superbar__bottom .link {
		width:100%;
		white-space:nowrap;
		height:35px;
		vertical-align:middle;
		display:inline-flex;
		align-items:center;
		justify-content:center;
		align-self:stretch;
	}

	.evelution-superbar__bottom .link * + * {
		margin-left:6px;
	}
	
	.evelution-superbar .link:hover, 
	.evelution-superbar .link:focus, 
	.evelution-superbar .cpe-dropdown:focus > .link, 
	.evelution-superbar .cpe-dropdown:focus-within > .link, 
	.evelution-superbar .link.active  {
		background-color:rgba(var(--header-foreground-color-rgb),0.2);
		border-color:rgba(var(--header-foreground-color-rgb),0.1);
		color:var(--header-foreground-color-hover);
	}

	.evelution-superbar .link:hover, .evelution-superbar .link.active  {
/*		box-shadow:0 0 2px 0.5px var(--superbar-text-background-color-hover) inset; */
	}


	.evelution-superbar .link:active, 
	.evelution-superbar .link:focus, 
	.evelution-superbar .cpe-dropdown:focus  .link, 
	.evelution-superbar .cpe-dropdown:focus-within  .link, 
	.evelution-superbar .link.active  {
		background-color:rgba(var(--header-foreground-color-hover-rgb),0.4);
		border-color:rgba(var(--header-foreground-color-hover-rgb),0.2);
		color:rgba(var(--header-foreground-color-hover-rgb), 0.8);

	}

	.evelution-superbar .link.active {		
	-webkit-animation: none;
		     -o-animation: none;
		        animation:none;    
		cursor:inherit;
		font-weight:bolder;
	}

	.evelution-superbar .title .title-logo {
		font-size:24px;
	}


	.evelution-superbar__top .title {
		width:100%;
		line-height:1.4;
		font-size:23px;
		font-weight:700;
		max-height:50px;
		padding-right:10px;
		font-family:var(--secondary-font), sans-serif;
		white-space:wrap;
		overflow:hidden;
		text-overflow:ellipsis;
		max-height:50px;
		align-self:flex-end;
		margin-bottom:8px;
	}

	.evelution-superbar__top .title a {
		text-decoration:none;
		color:inherit;
		transition:color 400ms ease;
		overflow:hidden;
		text-overflow:ellipsis;
		display:block;
		max-height:inherit;
		text-align:left;
		height:inherit;
		display:inline-flex;
		align-items:center;
		width:100%;
	}

	.evelution-superbar__top .title a:not(.title-logo) {
		display:-webkit-box;
		-webkit-box-orient:vertical;
		-webkit-line-clamp:2;
	}
	
	.evelution-superbar__top .title .title-logo {
		-webkit-mask-position:left;
		mask-position:left; 
	}


 .title-logo span {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
 }

	.evelution-superbar__top .title a:hover {
		color:var(--header-foreground-color-hover);
	}

	.evelution-superbar__top .title a:active,
	.evelution-superbar__top .title a:focus {
		color:rgba(var(--header-foreground-color-hover-rgb), 0.8);
	}

	
	.evelution-superbar__bottom {
		height:35px;
		position:relative;
		z-index:2;
		display:flex;
		padding-left:10px;
	}

	.evelution-superbar__bottom > .table {
		flex:1;
	}

	.evelution-superbar__bottom > .table > .tr {
		display:inline-flex;
		align-items:center;
		justify-content:center;
		width:100%;
	}
	
	.evelution-superbar__bottom .link span:not(.cpe-icon) {
		display: -webkit-box;
		text-overflow: ellipsis;
		overflow: hidden;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		white-space: normal;
	}


/* XL */
@media only screen and (min-width:1440px) {
	.evelution-superbar__top .title {
		font-size:26px;
	}

	.evelution-superbar .link {
		font-size:20px;
	}


	.evelution-superbar__top .counters {
		font-size:16px;
		padding:0 8px;
	}
	
	.main-content {
		max-width:92rem!important;
	}

}

/* M */
@media only screen and (max-width:1199px) {
/*
	.evelution-superbar .wordmark {
		height:80px;
		margin:0;
	}

	.evelution-superbar .wordmark img {
		max-height:80px;
		max-width:174px;
	}

	.evelution-superbar__bottom {
		clear:both;
	}

	.evelution-superbar .wordmark {
		margin-top:12px;
	}
*/

	.evelution-superbar__top .title {
		font-size:20px;
	}


	.evelution-superbar__top .counters {
		padding:0 7px;
		font-size:14px;
	}

	.evelution-superbar .link {
		font-size:16px;
	}

.evelution-superbar .link.large {
	display:none;
}

.evelution-superbar .cpe-dropdown.small {
	display:inline-block;
}


}



/* S */
@media only screen and (max-width:959px) {
	.evelution-superbar__top .title {
		font-size:17px;
	}

	.evelution-superbar .wordmark img {
		max-width:160px;
	}

	.evelution-superbar__top .counters {
		padding:0 6.5px;
		font-size:13px;
	}

	.evelution-superbar .link {
		font-size:14px;
	}


	.evelution-superbar__top .counter .text {
		display:none;
	}

	.evelution-superbar__top .counter .cpe-icon {
		display:inline-block;
		vertical-align:middle;
	}

	.evelution-superbar__top .counter big {
		vertical-align:middle;
	}


}

/* S+ */
@media only screen and (min-width:750px) {
	.evelution-superbar__fone {
		display:none;
	}
	.single-header .evelution-superbar {
		display:none;
	}

	footer.footer {
		display:none;
	}
}


/* XS */
@media only screen and (max-width:749px) {
	.evelution-superbar__top, .evelution-superbar__bottom, .evelution-superbar .wordmark {
		display:none;
	}
	
	.evelution-superbar {
		background-image:none!important;
		margin-left:0!important;
		margin-right:0!important
	}
	
	.evelution-superbar:before, .evelution-superbar:after {
		display:none!important;
	}
	

}



/* Taken from CPE.css cpe-dropdown */
/* Dropdowns */
.cpe-dropdown {
display:inline-flex;
position:relative;
vertical-align:middle;
}
.cpe-dropdown .cpe-dropdown__toggle{
cursor:var(--cpe-hand-cursor);
position:relative
}

.cpe-dropdown__toggle-chevron:not(:only-child) {
margin-left:6px;
}

.cpe-button .cpe-dropdown__toggle-chevron:not(:only-child),
.cpe-dropdown__toggle-chevron.material-icons {
margin-left:0;
}


/* Level A */
.cpe-dropdown__content{
background-color:rgba(var(--page-secondary-background-color-rgb),var(--dropdown-opacity));
color:var(--page-text-background-color);
border:1px solid var(--page-border-background-color);
border-radius:var(--border-radius);
display:inline-block;
left:50%;
min-width:70%;
padding:7px 0;
display:inline-block;
display:none;
transition:display 300ms;
position:absolute;
transform:translateX(-50%);
z-index:4;
box-shadow:0 2px 6px 0 rgba(var(--page-text-background-color-rgb),.2), 0 2px 6px 0 rgba(var(--page-background-color-rgb),0.2), var(--page-accent-box-shadow);
font-size:14px;
  scrollbar-width:thin;
  scrollbar-color:var(--scrollbar-thumb-color-1) var(--scrollbar-track-color-1);
 /** Scrollbar Styling **/
	/* Width */
	--scrollbar-width:8.5px;
	/* Track */
	--scrollbar-track-color-1:transparent;
	--scrollbar-track-color-2:transparent;
	--scrollbar-track-text:transparent;
	/* Thumb */
	--scrollbar-thumb-color-1:var(--page-border-background-color);
	--scrollbar-thumb-color-2:var(--page-border-background-color-hover);
	--scrollbar-thumb-text:var(--page-border-foreground-color);
}

.cpe-dropdown[cpe-orient="land"] .cpe-dropdown__content {
	box-shadow:2px 0 6px 0 rgba(var(--page-text-background-color-rgb),.2), 2px 0 6px 0 rgba(var(--page-background-color-rgb),0.2), var(--page-accent-box-shadow);
	left:100%;
	min-width:0;
	top:-50%;
	transform:none;
}

.cpe-dropdown.cpe-no-fadeout:not(.is-active) .cpe-dropdown__content {
	display:none;
}



.cpe-dropdown__content.is-right-aligned {
left:auto;
right:0;
transform:none;
}

.cpe-dropdown__content.is-left-aligned{
left:-10px;
transform:none
}

.cpe-dropdown[cpe-orient="land"] .cpe-dropdown__content.is-right-aligned{
right:auto;
right:revert;
top:auto;
bottom:0;
transform:none;
}
.cpe-dropdown[cpe-orient="land"] .cpe-dropdown__content.is-left-aligned{
right:auto;
right:revert;
top:0;
transform:none
}

.cpe-dropdown__content:not(.is-not-scrollable) .cpe-list{
max-height:300px;
overflow-y:auto;
overflow-x:visible;
position:relative;
z-index:1;
  scrollbar-width:thin;
  text-align:left;
}


.cpe-dropdown__content.cpe-visual-appearance:not(.is-not-scrollable) .cpe-list{
max-height:150px;
}

 .cpe-dropdown__content.is-not-scrollable .cpe-list{
   position:relative
}

 .cpe-dropdown__content .cpe-list{padding:0; margin:0;}.cpe-dropdown__content .cpe-list>li{
 margin:0 9px;
 padding-left:9px;
 padding-right:9px;
 white-space:nowrap
 }
 
 .cpe-dropdown__content .cpe-list.is-linked>li{
 padding:0;
 }

 .cpe-dropdown__content .cpe-list.is-linked>li>a:not(.cpe-button){
 color:inherit;
 padding-left:8px;
 padding-right:8px;
 text-decoration:none;
 transition-duration:200ms;
 transition-property: background-color,color;
 border:1px solid transparent;
 border-radius:var(--border-radius);
}

 .cpe-dropdown__content .cpe-list.is-linked>li.is-selected>a:not(.cpe-button),
  .cpe-dropdown__content .cpe-list.is-linked>li.selected>a:not(.cpe-button), .cpe-dropdown__content .cpe-list.is-linked>li:hover>a:not(.cpe-button){
background-color:var(--secondary-accent-fadeout-color);
border-color:rgba(var(--secondary-accent-background-color-rgb),calc(var(--fadeout-opacity) * 0.5));
color:var(--secondary-accent-background-color);
}

.cpe-dropdown__content .cpe-button {
	--secondary-button-background-color:transparent;
}

 .cpe-dropdown::after,.cpe-dropdown::before{bottom:-1px;content:'';display:none;height:0;left:50%;position:absolute;width:0;z-index:5}

 .cpe-dropdown[cpe-orient="land"]::after,.cpe-dropdown[cpe-orient="land"]::before {
	transform:rotate(-90deg);
	top:calc(50% - 5px);
	bottom:auto;
	left:auto;
	right:-1px;
 }
 
 .cpe-dropdown::after{
    border: 8px solid transparent;
    border-color: var(--page-border-background-color);
    margin-left: -8px;
    -webkit-mask: url("Arrow.svg") no-repeat;
    mask: url("Arrow.svg") no-repeat;
    -webkit-mask-size: 48px;
    mask-size: 48px;
    -webkit-mask-position: bottom;
    mask-position: bottom;
}

.cpe-dropdown::before{
    border: 8px solid transparent;
    border-color: transparent;
    margin-left: -8px;
    -webkit-mask: url("Arrow.svg") no-repeat;
    mask: url("Arrow.svg") no-repeat;
    -webkit-mask-size: 48px;
    mask-size: 48px;
    -webkit-mask-position: bottom;
    mask-position: bottom;

}

.cpe-dropdown:focus::after,.cpe-dropdown:focus::before,
.cpe-dropdown:focus-within::after,.cpe-dropdown:focus-within::before {
  display:block;
  opacity:1;
}

.cpe-dropdown.cpe-no-chevron::before, .cpe-dropdown.cpe-no-chevron::after {
display:none!important;
}

body .cpe-dropdown:focus {
	outline:0;
}

.cpe-dropdown:focus .cpe-dropdown__content,
.cpe-dropdown:focus-within .cpe-dropdown__content {
  display:inline-block; 
  opacity:1; 
  pointer-events:all;
  -webkit-backdrop-filter:var(--backdrop-filter);
  backdrop-filter:var(--backdrop-filter);
}

.cpe-dropdown:focus .cpe-dropdown__toggle-chevron, .cpe-dropdown:focus-within .cpe-dropdown__toggle-chevron {    --icon-rotate:180deg;}



.cpe-dropdown:focus.has-dark-shadow::before,.cpe-dropdown:focus.has-shadow::before, .cpe-dropdown:focus-within.has-dark-shadow::before,.cpe-dropdown:focus-within.has-shadow::before {display:none}

.cpe-dropdown.has-shadow .cpe-dropdown__content{
	box-shadow:0 3px 7px 0 rgba(var(--page-text-background-color-rgb),.3), 0 3px 7px 0 rgba(var(--page-background-color-rgb),0.3);
}

.cpe-dropdown.has-dark-shadow .cpe-dropdown__content{
	box-shadow:0 4px 8px 0 rgba(var(--page-text-background-color-rgb),.4), 0 4px 8px 0 rgba(var(--page-background-color-rgb),0.4);
}

.cpe-dropdown.has-shadow[cpe-orient="land"] .cpe-dropdown__content{
	box-shadow:3px 0 7px 0 rgba(var(--page-text-background-color-rgb),.3), 3px 0 7px 0 rgba(var(--page-background-color-rgb),0.3);
}

.cpe-dropdown.has-dark-shadow[cpe-orient="land"] .cpe-dropdown__content{
	box-shadow:4px 0 8px 0 rgba(var(--page-text-background-color-rgb),.4), 4px 0 8px 0 rgba(var(--page-background-color-rgb),0.4);
}


/* Level B */

.cpe-dropdown__content .cpe-list.is-linked .cpe-dropdown-level-2{
margin-right:0;
position:relative;
}

.cpe-dropdown__content .cpe-list.is-linked .cpe-dropdown-level-2>a:not(.cpe-button) {
	padding-right:16px;
	display:flex;
	justify-content:space-between
}

.cpe-dropdown__content .cpe-list.is-linked .cpe-dropdown-level-2 .cpe-dropdown-chevron{
    --icon-rotate:-90deg;
margin-left:16px
}


/*
.cpe-dropdown__content .cpe-list.is-linked .cpe-dropdown-level-2.is-sticked-to-parent{
position:relative
}
.cpe-dropdown__content .cpe-list.is-linked .cpe-dropdown-level-2.is-sticked-to-parent .cpe-dropdown-level-2__content{
top:auto;bottom:-8px
}
*/

.cpe-dropdown__content .cpe-list.is-linked .cpe-dropdown-level-2 .cpe-dropdown-level-2__content{
	--dropdown-opacity:0.8;
background-color:rgba(var(--page-secondary-background-color-rgb),var(--dropdown-opacity));
border:1px solid var(--page-border-background-color);
border-radius:var(--border-radius);
box-shadow:var(--page-accent-box-shadow);
display:none;
left:100%;
padding:8px 0;
position:absolute;
top:-8px;
}

.cpe-dropdown__content .cpe-list.is-linked .cpe-dropdown-level-2 .cpe-dropdown-level-2__content .cpe-list.is-linked>li>a:not(.cpe-button){
font-size:12px
}

.cpe-dropdown__content .cpe-list.is-linked .cpe-dropdown-level-2.is-active > .cpe-dropdown-level-2__content,.cpe-dropdown__content .cpe-list.is-linked .cpe-dropdown-level-2:hover > .cpe-dropdown-level-2__content{
display:block; 
opacity:1;
 pointer-events:all;
 -webkit-backdrop-filter:var(--backdrop-filter);
 backdrop-filter:var(--backdrop-filter);
}


.is-disabled{cursor:var(--cpe-auto-cursor);filter:grayscale(100%);pointer-events:none}

.is-hidden{display:none!important}



/* Gliding Menu */

.cpe-dropdown:focus .cpe-dropdown__content,
.cpe-dropdown:focus-within .cpe-dropdown__content{
 animation: contribution-dropdown 0.3s;
 pointer-events:all;
 top:100%;
}

.cpe-dropdown:focus[cpe-orient="land"] .cpe-dropdown__content,
.cpe-dropdown:focus-within[cpe-orient="land"] .cpe-dropdown__content {
	left:100%;
	animation:contribution-dropdown_land 0.3s;
}

.cpe-dropdown .cpe-dropdown__content .cpe-dropdown-level-2:hover > .cpe-dropdown-level-2__content,
.cpe-dropdown .cpe-dropdown__content .cpe-dropdown-level-2.is-active > .cpe-dropdown-level-2__content {
 animation: dropdown-2 0.3s;
 pointer-events:all;
 opacity:1;
}

.cpe-dropdown:focus::before, .cpe-dropdown:focus::after,
.cpe-dropdown:focus-within::before, .cpe-dropdown:focus-within::after {
 animation: contribution-dropdown-b 0.3s;
 opacity:1;
}

.cpe-dropdown:focus[cpe-orient="land"]::before, .cpe-dropdown:focus[cpe-orient="land"]::after,
.cpe-dropdown:focus-within[cpe-orient="land"]::before, .cpe-dropdown:focus-within[cpe-orient="land"]::after {
 animation: contribution-dropdown-b_land 0.3s;
}


.cpe-dropdown .cpe-dropdown__content{
 top:calc(100% - 10px);
 display:inline-block; 
 pointer-events:none;
 opacity:0;
/* animation: contribution-dropdown-r 0.3s; */
}

.cpe-dropdown[cpe-orient="land"] .cpe-dropdown__content{
	left:calc(100% - 10px);
	top:-50%;
}

.cpe-dropdown .cpe-dropdown__content .cpe-dropdown-level-2 .cpe-dropdown-level-2__content {
 opacity:0;
 pointer-events:none;
 display:block;
/* animation: dropdown-2-r 0.3s; */
}

.cpe-dropdown::before, .cpe-dropdown::after {
 opacity:0;
/* animation: contribution-dropdown-b-r 0.3s; */
 pointer-events:none;
}


/* Desktop-only Landscape */
@media only screen and (min-width:750px) {
	.cpe-dropdown[cpe-orient="land-desktop"] .cpe-dropdown__content {
		box-shadow:2px 0 6px 0 rgba(var(--page-text-background-color-rgb),.2), 2px 0 6px 0 rgba(var(--page-background-color-rgb),0.2), var(--page-accent-box-shadow);
		left:100%;
		min-width:0;
		top:-50%;
		transform:none;
	}

	.cpe-dropdown[cpe-orient="land-desktop"] .cpe-dropdown__content.is-right-aligned{
	right:auto;
	right:revert;
	top:auto;
	bottom:0;
	transform:none;
	}
	.cpe-dropdown[cpe-orient="land-desktop"] .cpe-dropdown__content.is-left-aligned{
	right:auto;
	right:revert;
	top:0;
	transform:none
	}


	 .cpe-dropdown[cpe-orient="land-desktop"]::after,.cpe-dropdown[cpe-orient="land-desktop"]::before {
		transform:rotate(-90deg);
		top:calc(50% - 5px);
		bottom:auto;
		left:auto;
		right:-1px;
	 }


	.cpe-dropdown.has-shadow[cpe-orient="land-desktop"] .cpe-dropdown__content{
		box-shadow:3px 0 7px 0 rgba(var(--page-text-background-color-rgb),.3), 3px 0 7px 0 rgba(var(--page-background-color-rgb),0.3);
	}

	.cpe-dropdown.has-dark-shadow[cpe-orient="land-desktop"] .cpe-dropdown__content{
		box-shadow:4px 0 8px 0 rgba(var(--page-text-background-color-rgb),.4), 4px 0 8px 0 rgba(var(--page-background-color-rgb),0.4);
	}

	.cpe-dropdown:focus[cpe-orient="land-desktop"] .cpe-dropdown__content,
	.cpe-dropdown:focus-within[cpe-orient="land-desktop"] .cpe-dropdown__content {
		left:100%;
		animation:contribution-dropdown_land 0.3s;
	}

	.cpe-dropdown:focus[cpe-orient="land-desktop"]::before, .cpe-dropdown:focus[cpe-orient="land-desktop"]::after,
	.cpe-dropdown:focus-within[cpe-orient="land-desktop"]::before, .cpe-dropdown:focus-within[cpe-orient="land-desktop"]::after {
	 animation: contribution-dropdown-b_land 0.3s;
	}


	.cpe-dropdown[cpe-orient="land-desktop"] .cpe-dropdown__content{
		left:calc(100% - 10px);
		top:-50%;
	}


}


/* Used for dropdowns */
@keyframes contribution-dropdown {
 from {opacity: 0; top: calc(100% - 10px);}
 to {opacity: 1; top: 100%;}
}

@keyframes contribution-dropdown_land {
 from {opacity: 0; left: calc(100% - 10px);}
 to {opacity: 1; left: 100%;}
}



/* Used for dropdown arrows */
@keyframes contribution-dropdown-b {
 from {opacity: 0; bottom: 9px;}
 to {opacity: 1; bottom: -1px;}
}

@keyframes contribution-dropdown-b_land {
 from {opacity: 0; right: 9px;}
 to {opacity: 1; right: -1px;}
}


/* Used for 2nd-level dropdown */
@keyframes dropdown-2 {
 from {opacity: 0; transform: translateX(-10px);}
 to {opacity: 1; transform: translateX(0);}
}

/* Closing */

@keyframes contribution-dropdown-r {
 from {opacity: 1; top: 100%;}
 to {opacity: 0; top: calc(100% - 10px);}
}

@keyframes contribution-dropdown-b-r {
 from {opacity: 1; bottom: -1px;}
 to {opacity: 0; bottom: 9px;}
}

@keyframes dropdown-2-r {
 from {opacity: 1; transform: translateX(0);}
 to {opacity: 0; transform: translateX(-10px);}
}




/* Lists */

.cpe-list{list-style-type:none;margin:0;padding:8px 18px}

.cpe-list>li{font-size:14px;font-weight:400;line-height:1em;padding:12px 0} /* Was 12px 0 */

.cpe-list.has-big-items{padding-bottom:2px;padding-top:2px}

.cpe-list.has-big-items>li{font-size:16px;padding-bottom:16px;padding-top:16px}

.cpe-list.has-bolded-items>li{font-weight:700}

.cpe-list.has-lines-between>li{border-bottom:solid 1px #e6e6e6}

.cpe-list.has-lines-between>li:last-child{border:0}

.cpe-list.has-ellipsis.is-linked>li>a:not(.cpe-button),

.cpe-list.has-ellipsis>li{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}

.cpe-list.is-linked>li{padding:0}.cpe-list.is-linked>li>a:not(.cpe-button){display:block;padding:11px 0} /* Was 12px 0 */

.cpe-menu-chevron{    --icon-rotate:0deg;float:right;margin-top:5px;fill:#c5ced9}


.cpe-list.is-linked > li > a.cpe-button{
  display:flex;
  margin:8px;
}

/* Taken from CPE.css tooltips */
/* Begin Tooltips */
[cpe-tooltip] {
	position:relative;
	justify-content:center;
}

[cpe-tooltip]:hover:before,
[cpe-tooltip]:hover:after {
	display:block;
}

[cpe-tooltip]:before {
	transform:rotate(-90deg);
	top:calc(25% + 8px);
	bottom:auto;
	left:auto;
	right:-2px;
	content:'';
	display:none;
	height:0;
	width:0;
	position:absolute;
	z-index:100;
	border:8px solid transparent;
	border-color:var(--page-secondary-background-color);
    -webkit-mask: url("Arrow.svg") no-repeat;
    mask: url("Arrow.svg") no-repeat;
    -webkit-mask-size: 48px;
    mask-size: 48px;
    -webkit-mask-position: bottom;
    mask-position: bottom;
	margin-left:-8px;
	pointer-events:none;
}

[cpe-tooltip]:after {
	position:absolute;
	display:none;
	white-space:nowrap;
	content:attr(cpe-tooltip);
	left:calc(100% + 1px);
	top:calc(25% + 2.5px);
	bottom:auto;
	z-index:99;
	padding:4px;
	font-weight:normal;
	text-transform:none;
	text-shadow:none;
	font-size:12px;
	border:1px solid var(--page-secondary-background-color);
	border-radius:var(--border-radius);
	background-color:rgb(var(--page-background-color-rgb));
	color:var(--page-text-background-color);
	box-shadow:0 0 4px 1px rgba(var(--page-text-background-color-rgb), 0.5);
	line-height:17px;
	pointer-events:none;

}

[cpe-tooltip-position="reverse"][cpe-tooltip]:before {
	transform:rotate(90deg);
	right:auto;
	left:6px;
}

[cpe-tooltip-position="reverse"][cpe-tooltip]:after {
	right:calc(100% + 1px);
	left:auto;
}

[cpe-tooltip-position="top"][cpe-tooltip]:before {
	transform:rotate(180deg);
	left:50%;
	right:auto;
	bottom:auto;
	top:-2px;
}

[cpe-tooltip-position="top"][cpe-tooltip]:after {
	bottom:calc(100% + 1px);
	left:auto;
	right:auto;
	top:auto;
}

[cpe-tooltip-position="bottom"][cpe-tooltip]:before {
	transform:rotate(0deg);
	left:50%;
	right:auto;
	top:auto;
	bottom:-2px;
}

[cpe-tooltip-position="bottom"][cpe-tooltip]:after {
	top:calc(100% + 1px);
	left:auto;
	right:auto;
	bottom:auto;
}

.cpe-floating-button[cpe-tooltip]:not([cpe-tooltip-position="top"]):not([cpe-tooltip-position="bottom"]):after {
    top: 15%;
}

.cpe-floating-button[cpe-tooltip]:not([cpe-tooltip-position="top"]):not([cpe-tooltip-position="bottom"]):before {
    top: 30%;
}

@media only screen and (max-width:749px) {
	[cpe-tooltip-position="bottom-mobile"][cpe-tooltip]:before {
		transform:rotate(0deg);
		left:50%;
		right:auto;
		top:auto;
		bottom:-2px;
	}

	[cpe-tooltip-position="bottom-mobile"][cpe-tooltip]:after {
		top:calc(100% + 1px);
		left:auto;
		right:auto;
		bottom:auto;
	}
}



/* End Tooltips */
